[2021-12-10 09:00] fcvakintos commented on #1186
@tomholub I will add this steps to settings spec, ok?

[2021-12-10 09:32] sosnovsky opened #1201 "Improve attachment previews"
Check if it's possible to use `QLPreviewController` in `AttachmentViewController` without locally storing files.

[2021-12-10 09:39] fcvakintos commented on #1186
@tomholub or i should create new spec?

[2021-12-10 10:16] tomholub commented on #1186
Actually, was the login spec that I deleted the only one that contained log-out? If yes then it could be brought back and renamed as "cancel login + log in + log out"

[2021-12-10 10:18] fcvakintos commented on #1186
ok, will create new spec

[2021-12-10 11:55] Kharchevskyi commented on #1197
@fcvakintos can you please help with next error when running `npm run-script test.mock.all`?

[code]

[2021-12-10 12:10] fcvakintos commented on #1197
I had this error yesterday, I fixed it "npm install", it helped me
what is the branch or run?

[2021-12-10 12:17] Kharchevskyi commented on #1197
Current master

[2021-12-10 12:18] fcvakintos commented on #1197
let me try

[2021-12-10 12:43] fcvakintos commented on #1197
it works for me on current master
try remove node_modules and npm install

[2021-12-10 12:43] Kharchevskyi commented on #1197
Thanks. Will try

[2021-12-10 12:58] fcvakintos commented on #1197
@tomholub let me know if its help

[2021-12-10 13:01] Kharchevskyi commented on #1197
yes, works for me, thank you

[2021-12-10 13:22] #1186 closed

[2021-12-10 16:11] ivan-ushakov commented on #1144
@tomholub
Looks like `Endpoints.parseDecryptMsg` does not work right and returns `plain` type. I will try to find what is wrong.

[2021-12-10 16:25] ivan-ushakov commented on #1144
[code]

Here I get this - `decrypt error = key_mismatch, subject = not integrity protected - should show a warning and not decrypt automatically`.

[2021-12-10 17:02] #1150 closed

[2021-12-10 17:57] tomholub commented on #1144
If that's true, then key_mismatch should be showing a key_mismatch error, not empty result.

Should compare the behavior to Android app and browser extension, for that message.

[2021-12-11 19:16] ivan-ushakov commented on #1144
OK, so this one is not about MDC?

[2021-12-11 19:26] tomholub commented on #1144
Check how browser extension and Android app renders it and paste screenshots here, then we'll be wiser.

[2021-12-11 19:31] ivan-ushakov commented on #1144
<img width="939" alt="Screenshot 2021-12-11 at 22 30 52" src="https://user-images.githubusercontent.com/1408366/145689205-9abe3e8e-8630-424e-9a6d-455d3181a678.png">

I don't have Android app, so here is browser extension

[2021-12-11 19:41] tomholub commented on #1144
That's not what I'm seeing. You are missing a key which I added to EKM a week ago. For now the apps don't support ongoing sync of private keys, so you need to reset the extension and go through setup again.

FlowCrypt Settings -> switch to e2e account on top right -> Additional Settings (notice there is just one key) -> Experimental -> scroll down -> reset on the bottom

Then go through setup of e

[2021-12-11 20:09] ivan-ushakov commented on #1144
@tomholub
May I add this key to `test-utils.ts` and write test?

[2021-12-11 20:38] #902 closed

[2021-12-11 20:38] tomholub opened #1204 "update tests to check new view attachment screen"
@tomholub
I disabled some checks with `FIXME` tag in UI tests to get green mark

_Originally posted by @ivan-ushakov in https://github.com/FlowCrypt/flowcrypt-ios/issues/1031#issuecomment-991775875_

[2021-12-11 20:39] tomholub commented on #1204
<img width="546" alt="image" src="https://user-images.githubusercontent.com/6306961/145690953-6fb75ac3-d155-4e17-b310-8bbd1737f64a.png">

[2021-12-11 20:40] tomholub commented on #1144
Yes, it's ok to add this one. Thanks for asking.

[2021-12-11 20:45] tomholub opened #1205 "security review of attachment previews in webview"
@martgil we just added previewing of attachments that use a WebView. We didn't look into restricting the environment yet. Please try to send yourself some html files, javascript, other malicious content, and see what the vulnerabilities are, if any.

@sosnovsky is there a comprehensive documentation somewhere about what kind of things we can restrict on a WebView? Rendering some file types, follow

[2021-12-11 23:00] tomholub opened #1208 "mock ui test with --enterprise flag: FES offline (shows error)"

[2021-12-11 23:00] tomholub opened #1209 "mock ui test with --enterprise flag: FES returns 404 (allows setup without FES)"

[2021-12-11 23:00] tomholub opened #1210 "mock ui test: FES offline (allows setup without FES)"

[2021-12-12 08:30] ivan-ushakov commented on #1144
@tomholub

I can reproduce MDC error only using this configuration:
[code]
output:
[code]

But in code for this key we use first fingerprint (`E8F0517BA6D7DAB6081C96E4ADAC279C95093207`) as primary:
[code]

I guess this is the reason why we get `key_mismatch` instead of `no_mdc`.

[2021-12-12 13:10] Kharchevskyi opened #1211 "Can't log out"
![Simulator Screen Shot - iPhone 13 - 2021-12-12 at 15 09 11](https://user-images.githubusercontent.com/13693255/145713653-aed82f7d-4eea-4499-aaf9-33bb8a49fcf3.png)

[2021-12-12 13:36] Kharchevskyi commented on #1179
<img width="600" alt="Screenshot 2021-12-12 at 15 27 17" src="https://user-images.githubusercontent.com/13693255/145714490-f5a27326-2a57-4da4-a46c-5193a23d68e5.png">
@fcvakintos @tomholub for what elements do you need accessibility id? would it be enough to add to buttons/titles only? or you need id for view of alert as well?

[2021-12-12 16:27] sosnovsky commented on #1205
It seems there is no 1 place where you can find all possible security settings for `WKWebView`, but it's quite customizable:
- for disabling navigation to external links we can implement `func webView(_ webView: WKWebView, decidePolicyFor navigationAction: WKNavigationAction, decisionHandler: @escaping (WKNavigationActionPolicy) -> Void)` method of `WKNavigationDelegate` in `AttachmentViewControll

[2021-12-12 16:53] tomholub commented on #1179
we'll need it for:
 - title (bolded)
 - message
 - each button

[2021-12-12 16:55] tomholub commented on #1205
I suppose, before mart does the security review, we should do these.

Thanks for the list! I'll have Ivan have a look at implementing all of the mentioned restrictions.

[2021-12-12 16:56] tomholub opened #1213 "implement security / content restrictions for preview attachment WebView"
It seems there is no 1 place where you can find all possible security settings for `WKWebView`, but it's quite customizable:
- for disabling navigation to external links we can implement `func webView(_ webView: WKWebView, decidePolicyFor navigationAction: WKNavigationAction, decisionHandler: @escaping (WKNavigationActionPolicy) -> Void)` method of `WKNavigationDelegate` in `AttachmentViewControll

[2021-12-12 16:58] tomholub commented on #1211
Exactly when does this happen - what were the steps leading up to this? Are you able to reproduce it?

[2021-12-12 17:22] tomholub opened #1214 "appium: A session is either terminated or not started"
https://flowcrypt.semaphoreci.com/jobs/d0635c87-564a-4962-ae55-c01eb7164ff8

[code]

[2021-12-12 19:26] Kharchevskyi commented on #1211
today at 15:07 (gmt)
Was just trying to log out from account.
Have no additional logs because phone was not attached to debugger.
Was not able to reproduce today.

Will try to reproduce and add some logs

[2021-12-12 21:48] tomholub commented on #1211
The only time to call EKM is during setup.

Maybe it switched after logout to another account that was not finished setup. Then it tried to fetch keys during setup, but failed because the id token was too old (authenticated over an hour ago).

That would suggest that maybe code that clears accounts without keys is not working or is not being called at the right times (eg after logout but before sw

[2021-12-13 08:21] sosnovsky opened #1215 "Configure Test Reports in Semaphore"
Semaphore has ability to render easy-to-use UI from `.xml` test report (https://flowcrypt.semaphoreci.com/workflows/e0b03549-9198-4e88-8b4b-20093c51a526/summary)
I think it should be useful for us and give better insight on app test results.

<img width="1251" alt="Screenshot 2021-12-13 at 10 17 43" src="https://user-images.githubusercontent.com/1062093/145776228-c1f83df4-dc21-43e0-8e5c-1b2b4a9080

[2021-12-13 08:25] martgil commented on #1205
I actually performed security testing wrote a security report in the security repo. I can also perform a re-test if the reported vulnerabilities still exist after the implementation of the following improvements above.

[2021-12-13 10:23] #1160 closed

[2021-12-13 10:25] #1106 closed

[2021-12-13 10:28] tomholub commented on #1215
There seems to be a formatter for it https://webdriver.io/docs/junit-reporter/

[2021-12-13 10:33] tomholub commented on #1205
Please also print the security findings below

[2021-12-13 11:14] martgil commented on #1205
Title: Arbitrary HTTP GET request in SVG attachment preview

Description:
In flowcrypt-ios app, A malicious user can exfiltrate the user's IP address by attaching a malicious SVG file and then viewed by the receiver at the same time.

Malicious svg attachment:
[poc.svg.txt](https://github.com/FlowCrypt/flowcrypt-ios/files/7703256/poc.svg.txt)

Tools to use:
- ngrok - https://ngrok.com/ - public UR

[2021-12-13 11:16] martgil commented on #1205
Title: Cross-site scripting in attachment preview

Description:
In flowcrypt-ios app, A malicious user can inject HTML markup code to abuse the app by manipulating the entire UI within preview mode.

Malicious html attachment:
[test.html.txt](https://github.com/FlowCrypt/flowcrypt-ios/files/7703276/test.html.txt)

Screenshot:
![image](https://user-images.githubusercontent.com/46025304/145762858-25

[2021-12-13 14:48] Kharchevskyi commented on #1211
I am using only one account at time.

[2021-12-13 17:07] #1197 closed

[2021-12-13 17:13] #1204 closed

[2021-12-13 17:14] tomholub opened #1218 "update accessibility ids per PR review comments"
please see PR comments at:

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/1217#issuecomment-992692036_

The equivalent ids will also need to be updated in appium tests at the same time for the tests to pass. Thanks!

[2021-12-13 17:16] tomholub commented on #1074
So far, do you think this is fixable (with reasonable effort) ?

[2021-12-13 17:21] tomholub commented on #1211
That would mean one of two things:
 - it calling  EKM API when it shouldn't (during logout)
 - it's somehow going through (parts of) setup flow when it shouldn't (during logout)

This error modal comes from thrown `Error`. Thrown errors should have call stack (I think). Please add a log to the generic API call error modal, so that every time any API error is rendered, it logs the call stack.

Even

[2021-12-13 18:06] ivan-ushakov commented on #1144
@tomholub
Do you want to change this and provide all `longid` to `Core`?

[2021-12-13 18:08] tomholub commented on #1144
I'll have to take a look myself. You can move onto another issue until I have some feedback.

[2021-12-13 18:09] tomholub commented on #1144
Please make a draft PR if you wrote a new test that can be debugged. Thanks!

[2021-12-13 20:07] tomholub commented on #1074
Got it. Thanks for looking into it 👍

[2021-12-13 20:35] tomholub opened #1221 "UI for password encrypted message functionality"
part of #955

[2021-12-13 20:45] tomholub commented on #1221
When there is least one recipient that doesn't have any pubkey, currently we don't allow the message to be sent.

For now, if domain of active user is not `flowcrypt.com`, keep current behavior (because this new functionality will be work-in-progress for a while, we don't want to allow it for external users yet).

Else, in situation when at least one recipient doesn't have pubkey available:
 - add

[2021-12-13 20:54] tomholub opened #1222 "retrieve id token (or reauth) when sending password-protected message"
part of #955, after #1091 and #1221

When sending password-protected message as described in #1221, we'll soon be uploading the message to FES where it will be served through a web portal. Similar to https://flowcrypt.com/docs/guide/send-and-receive/send-password-protected.html

For this, we'll need an active / not expired id token.

Before sending, please check, using #1221, whether we have an id

[2021-12-13 21:35] #1074 closed

[2021-12-14 10:43] sosnovsky commented on #1091
@tomholub I found that we can fetch user's `idToken` at any time by using `GoogleUserService(currentUserEmail: "CURRENT_EMAIL", appDelegateGoogleSessionContainer: nil).idToken` (like here https://github.com/FlowCrypt/flowcrypt-ios/blob/master/FlowCrypt/Functionality/Services/Remote%20Private%20Key%20Services/EmailKeyManagerApi.swift#L59)

It's already stored in `GTMAppAuthFetcherAuthorization`, pr

[2021-12-14 10:54] tomholub commented on #1091
That would be good news. On other platforms we always had to re-authenticate.

Does it always give you a fresh new idToken when you use `GoogleUserService(currentUserEmail: "CURRENT_EMAIL", appDelegateGoogleSessionContainer: nil).idToken` ? Or it gives you the cached one, and then re-fetches a new one when it expires?

`GTMAppAuthFetcherAuthorization` caches it automatically? For how long and wher

[2021-12-14 11:46] sosnovsky commented on #1091
Value is cached only in memory, but it doesn't automatically re-fetched - I just tested it:
- `idToken` is valid for 1 hour
- but even when it's expired `GTMAppAuthFetcherAuthorization` still returns cached value
- old value is returned even after app restart

So we'll need to implement manual `idToken` refresh on expiration, currently working on it

[2021-12-14 11:50] tomholub commented on #1091
This will be using `GoogleUserService(currentUserEmail: "CURRENT_EMAIL", appDelegateGoogleSessionContainer: nil).idToken` which doesn't require any interaction from the user? If yes, could you find out which Google API is it using?

[2021-12-14 11:55] sosnovsky commented on #1091
Yes, I'll try to find which API we can use to make this process invisible for users

[2021-12-14 13:52] tomholub commented on #1091
When doing this on browser extension, I didn't find any API that allows that - it was necessary to re-authenticate. But if you can find it, it would be great - we could reuse it on browser extension too.

[2021-12-14 15:32] #736 closed

[2021-12-15 12:56] fcvakintos commented on #1148
@tomholub  I have a question
if i update the app from old version to new, should I login again?

[2021-12-15 13:19] tomholub opened #1226 "which Google API is used for auto-refreshing id token?"
Yes, I tested it - token is automatically refreshed in background, without user interaction.

_Originally posted by @sosnovsky in https://github.com/FlowCrypt/flowcrypt-ios/pull/1225#discussion_r769497385_

[2021-12-15 13:20] tomholub commented on #1226
<img width="808" alt="image" src="https://user-images.githubusercontent.com/6306961/146193745-f8a42358-9f9c-4ee7-80cd-c074886931e2.png">

[2021-12-15 13:20] tomholub commented on #1226
Since we'd want to use that on other platforms too

[2021-12-15 13:27] #1091 closed

[2021-12-15 13:33] tomholub commented on #1148
I think the old version should be already logged in. Therefore, after updating, we should confirm that it remains logged in and functional.

That means we'll have to maybe pack up the older app's storage and include it as a semaphore secret.

[2021-12-15 13:42] sosnovsky commented on #1226
I checked `tokenRefreshRequest()` method of `OIDAuthState` - it uses
request `POST https://www.googleapis.com/oauth2/v4/token`
http body `refresh_token=REFRESH_TOKEN&client_id=CLIENT_ID&grant_type=refresh_token`

[2021-12-15 13:57] fcvakintos commented on #1148
@tomholub, ok, it works for me

[2021-12-15 15:03] tomholub commented on #1148
1) open one encrypted message
2) open settings screen -> keys
3) open settings screen -> contacts

[2021-12-15 15:08] fcvakintos commented on #1148
@tomholub ok, on old app version should I do the same steps??
and is it in 1 scenario?

[2021-12-15 15:23] tomholub commented on #1148
I originally thought you wouldn't test anything on the old version of the app, and already have storage from old app pre-made.

But now I see you want to test both. That's also fine. In that case, yes - do the above tests on both apps.

[2021-12-15 15:50] tomholub commented on #1148
You also need to make sure that the original app load at least one contact that you can check later. You can do that eg by opening an encrypted+signed message.

[2021-12-15 15:54] fcvakintos commented on #1148
@tomholub is it on old app?

[2021-12-15 15:57] tomholub commented on #1148
You want to check that the contact information is preserved. So yes - it needs to be generated in old app, and checked in new app.

[2021-12-16 07:06] fcvakintos commented on #1148
ok

[2021-12-16 10:08] fcvakintos commented on #1148
@tomholub we have some problem, we need to push old app for running on semaphore CI, but it has 168MB.
Is is ok if we will push it every time?

[2021-12-16 14:47] tomholub commented on #1148
What do you mean by "push it every time"? Please explain all steps that you expect will be needed in order to test this.

[2021-12-16 14:49] fcvakintos commented on #1148
So:
1. install old app
2. check 1 encrypted email on old app
3. check 1 contact on old app
4. remove old app
5. install new app
6. verification on new app(checking email, contact and pubkey)

[2021-12-16 15:24] tomholub commented on #1148
Be more specific! Push it where? How? Where exactly will it be? How will it be downloaded? I can't give any advice from your half-statements.

[2021-12-16 15:32] fcvakintos commented on #1148
So for testing such scenario I need old application file which has size 150 Mb, in our ci configuration we are building new app so as result we need both. Old app is static and should be stored somewhere, for example in repository but it quite big and github is rejecting my push because of the size. I am checking if we have option to store this old app on CI side

[2021-12-16 15:47] tomholub commented on #1148
I could upload it to S3 so that you can download it during CI run using wget or similar. If you could zip it and deliver it to me somehow (eg through google drive), then I'll upload it publicly for you. Would that work?

[2021-12-16 17:34] tomholub opened #1230 "test emails clogging e2e account"
Could we be sending these elsewhere eg robot@flowcrypt.com?

![image](https://user-images.githubusercontent.com/6306961/146420792-51dd6cee-addb-40b6-aa9d-8808c4ca6d58.png)

And delete the existing ones.

[2021-12-16 17:35] tomholub commented on #1230
The above screenshot is in inbox, which should be only consisting of messages that are there permanently for tests.

[2021-12-16 19:09] fcvakintos commented on #1148
Great, will send you tomorrow!

[2021-12-16 21:03] tomholub opened #1231 "API class for calling FES endpoints to upload message to web portal"
part of #955

same as https://github.com/FlowCrypt/flowcrypt-android/issues/1615

[2021-12-17 11:37] fcvakintos commented on #1148
@tomholub I sent you

[2021-12-17 13:07] tomholub opened #1232 "appium - building app for testing - clarify docs"
This looks like you need to take both step 1 and then step 2 in sequence. Which is not true. These two are two alternative approaches, and should be documented as such.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1228#discussion_r771380223_

[2021-12-17 13:08] tomholub commented on #1232
<img width="798" alt="image" src="https://user-images.githubusercontent.com/6306961/146549233-d7bd900c-f044-4eb9-a502-addc4921d8fb.png">

[2021-12-17 13:38] #1218 closed

[2021-12-17 14:18] tomholub commented on #1148
https://flowcrypt.s3.eu-central-1.amazonaws.com/dev/flowcrypt-ios-2021-12-17-v060-for-ci-migration-test.zip

[2021-12-17 20:30] tomholub opened #1233 "don't decrypt attachments before tapping + show modal on error"
also mostly fixed #1143. The error was that while the text could be decrypted, the attachments were throwing decrypt errors. I've made it recognize decrypt errors and download the original file, but it needs another issue to actually render the decrypt error before downloading, make sure that's what the user wanted.

<img width="366" alt="image" src="https://user-images.githubusercontent.com/63069

[2021-12-17 20:36] tomholub commented on #1233
Additionally, there is no need to decrypt all attachments when rendering. Decrypt when tapping attachment.

`MessageAttachment` should also have an `isEncrypted: bool`, and we should decide whether to decrypt based on that, when user taps the file.

[code]

[2021-12-17 20:38] tomholub commented on #1233
Since we're adding `isEncrypted` to each attachment, we could also surface that in UI / list of attachments, with a lock or similar.

[2021-12-17 20:49] tomholub opened #1234 "update decrypt error tests"
This will need appium tests added and updated:
 - update test of subject "encrypted - MDC hash mismatch - modification detected - should fail" to check for the error message
 - update test of subject "not integrity protected - should show a warning and not decrypt automatically" to check for the error message
 - add another email to verify: "key mismatch unexpectedly produces a modal" where you sh

[2021-12-17 21:04] tomholub commented on #1233
This will also need an appium test for the above message. Tapping the message should produce a modal:

[code]

[2021-12-19 11:00] ivan-ushakov commented on #1116
With new Xcode 13.2.1 something broken with appium and I can not run tests on my machine.
[code]

[2021-12-19 20:15] sosnovsky commented on #1116
Tests work well for me on Xcode 13.2 after changing `15.0` to `15.2` here https://github.com/FlowCrypt/flowcrypt-ios/blob/master/appium/config/wdio.live.conf.js#L29
Looks like you got some issue with simulator ids, as simulators are reset after Xcode update.
Were you able to fix it?

[2021-12-20 09:07] fcvakintos commented on #1148
@tomholub Can you create new zip with new app?
some selectors are updated and the tests will fail on this version

[2021-12-20 09:16] tomholub commented on #1148
I could, but isn't that an issue we'll have over time either way? Surely the selectors on the new app will continue to evolve, plus the new app functionality will continue to evolve. We can't keep updating the old app every time when that happens.

[2021-12-20 10:12] fcvakintos commented on #1148
@tomholub ok, we can create new methods and add new selectors for old app which will work only on old app

[2021-12-20 10:14] fcvakintos commented on #1148
we can create new screen object file and add these methods there

[2021-12-20 11:49] fcvakintos commented on #1148
@tomholub is it good way? I need your approval

[2021-12-20 12:22] tomholub commented on #1148
I think so, I don't see a way around that. Just one limited screen like `OldVersionAppScreens` or similar, maybe.

[2021-12-20 12:27] fcvakintos commented on #1148
@tomholub , yes, i think we can add there only methods which different on the current version, not all
ok?
and we will update this file when something changed

[2021-12-20 12:31] tomholub commented on #1148
I guess so. Over time, we will need to add more, as the new and old app will diverge, as you say.

[2021-12-20 19:51] #1116 closed

[2021-12-20 20:07] sosnovsky commented on #1215
It'll also make finding failed tests much easier, as with current `info` log level it's quite difficult to see which tests haven't passed.

<img width="1392" alt="Screenshot 2021-12-20 at 22 04 26" src="https://user-images.githubusercontent.com/1062093/146825953-75096c0d-3b2a-40b3-ab64-b74c8d66aa7d.png">

[2021-12-20 22:36] tomholub commented on #1215
Agree, the logs got more verbose with the change, making the reporter more useful.

If it bothers you and doesn't look too difficult, you can add it.

[2021-12-21 09:39] sosnovsky commented on #1215
Okay, I'll check it today-tomorrow.

By the way, how do you currently check screenshots of failed tests - by connecting to ssh and opening screenshots folder or there is another way? As I thought they'll be available on `Artifacts` tab https://flowcrypt.semaphoreci.com/artifacts/workflows/892a3732-c7d7-4309-a12c-780fe59d3090

[2021-12-21 11:15] #1143 closed

[2021-12-21 11:15] #1144 closed

[2021-12-21 13:38] #1213 closed

[2021-12-21 16:46] Kharchevskyi commented on #1179
For now I couldn't find a correct way how to add **custom** accessibility identifiers to UIAlertControllers.
After some investigations I found next issues:

* in case we add aid to controller's view `alert.view.accessibilityIdentifier = "aid-pass-phrase-alert"` all other elements, like buttons became not accessible. Please check screenshot.

<img width="600" alt="Screenshot 2021-12-21 at 18 23 49"

[2021-12-21 17:24] Kharchevskyi commented on #1181
@tomholub is it possible for you to share credentials which was used?

[2021-12-21 21:00] tomholub commented on #1215
They are in artifacts, but not where you're looking.

Have to click on the `Appium UI tests` job which takes you here https://flowcrypt.semaphoreci.com/jobs/f1901355-712a-4684-9293-bce59f86463d and only then the artifacts which takes you here https://flowcrypt.semaphoreci.com/artifacts/jobs/f1901355-712a-4684-9293-bce59f86463d?project=9bd38bf4-4a38-4cb3-b551-38302af1eb07

So it's a job artifact, n

[2021-12-21 21:18] tomholub commented on #1179
Not good to use private apis.

In this particular case, we'll have to go with the default accessibility ids like `ok` and `cancel`.

What is the default accessibility id of the title and message? Would it be `Pass Phrase` and `Confirm Pass Phrase` respectively?

[2021-12-21 21:23] tomholub commented on #1181
shared over email

[2021-12-21 21:23] sosnovsky commented on #1215
Ah, now I see them, thanks. Should be okay to have them on job level

[2021-12-21 21:55] sosnovsky commented on #1179
I also found `driver.getAlertText()` function which gives full text of current alert, so it'll return `Pass Phrase\nConfirm Pass Phrase`
And for checking if alert is shown I use `-ios predicate string:type == 'XCUIElementTypeAlert'` selector.

Checking alert text looks like this:
[code]

Maybe this findings will be useful for this issue too.

[2021-12-21 22:22] tomholub commented on #1179
I like Roman's approach, clear and straight forward.

[2021-12-21 23:03] tomholub commented on #1179
That means, for this issue, @fcvakintos please update the tests to use that approach.

@Kharchevskyi thanks for looking into this.

[2021-12-22 09:01] Kharchevskyi opened #1241 "UX - Log out button is missing on SetupInitialViewController"
In case there is an error occurred during initial setup `SetupInitialViewController` only retry button present so it is not possible to log out.

![Simulator Screen Shot - iPhone 13 - 2021-12-22 at 10 59 47](https://user-images.githubusercontent.com/13693255/147065875-bcce4546-4f85-44fe-a472-7fc7582cb384.png)

[2021-12-22 09:47] tomholub commented on #1241
Also, the error doesn't print anything useful. We had a standardized way to make sure errors print out useful info, @sosnovsky could you please share what it was with examples? Then we could document it somewhere.

[2021-12-22 09:48] tomholub commented on #1241
Otherwise agree with this, there should be an "Use another account" button below, gray, that logs out.

[2021-12-22 11:08] sosnovsky commented on #1241
We have extension with `errorMessage` property for `Error` - https://github.com/FlowCrypt/flowcrypt-ios/blob/master/FlowCrypt/Extensions/Error%2BExtension.swift#L12

It checks if `Error` has some custom message using `CustomStringConvertible` protocol, otherwise it uses `localizedDescription` property.

Here is example of error with custom messages - https://github.com/FlowCrypt/flowcrypt-ios/blob

[2021-12-22 11:33] tomholub opened #1244 "add error handling approach to repo docs / readme"
We have extension with `errorMessage` property for `Error` - https://github.com/FlowCrypt/flowcrypt-ios/blob/master/FlowCrypt/Extensions/Error%2BExtension.swift#L12

It checks if `Error` has some custom message using `CustomStringConvertible` protocol, otherwise it uses `localizedDescription` property.

Here is example of error with custom messages - https://github.com/FlowCrypt/flowcrypt-ios/blob

[2021-12-22 11:36] tomholub commented on #1244
Should also add that there should generally be only one "grand" try/catch inside each `Task` and that there should be generally a single `Task` right in each handler. And then all errors downstream should generally be re-thrown.

[2021-12-22 15:25] sosnovsky opened #1245 "UI tests processing fails on Semaphore"
Currently all UI tests are failing with error
[code]

[2021-12-22 15:26] tomholub commented on #1245
Could this be an environment change on Semaphore? I know recently you mentioned upgrading to 15.2 to fix some issues, worth a try.

[2021-12-22 15:28] sosnovsky commented on #1245
Yes, looks like the same issue, updating to `15.2` fixed tests running - https://flowcrypt.semaphoreci.com/jobs/98f4b5a3-4fec-490e-a5e5-6e46423af4a4

[2021-12-22 16:50] #1215 closed

[2021-12-22 16:50] #1245 closed

[2021-12-23 07:57] #1179 closed

[2021-12-23 08:13] fcvakintos commented on #1230
@tomholub hey, what should I do?

[2021-12-23 08:49] #1181 closed

[2021-12-23 11:05] fcvakintos commented on #1148
@tomholub I think we can close this issue, PR is merged already

[2021-12-23 12:40] #1232 closed

[2021-12-23 12:47] Kharchevskyi commented on #685
![IMG_D536D068DF14-1](https://user-images.githubusercontent.com/13693255/147242473-1f85961a-f53c-48c4-8170-2e03743f04f5.jpeg)

Can't reproduce this issue. Should I close this bug?

[2021-12-23 13:56] fcvakintos commented on #1234
@tomholub hey, i have a question
In "key mismatch unexpectedly produces a modal" email we have 2 attachments, should i check all or only the first is enough?
if we need to check all i need to update check attachments method

[2021-12-23 16:40] Kharchevskyi commented on #954
@tomholub can I pick up this issue? or can you assign some issues for me?

[2021-12-23 22:08] tomholub commented on #1230
See why are messages sent there during test, and if we can send them to robot@flowcrypt.com instead.

[2021-12-23 22:08] #1148 closed

[2021-12-23 22:10] tomholub commented on #685
Looks perfect, recent refactors and error handling must have resolved that.

[2021-12-23 22:10] #685 closed

[2021-12-23 22:17] tomholub commented on #1234
You don't need to check the attachments in that email. We'll have a specific test for that later, after #1233 . Just test the message body is present.

[2021-12-23 22:19] #1014 closed

[2021-12-23 22:22] tomholub commented on #954
I'll assign some other issues - one sec.

[2021-12-23 22:25] tomholub commented on #1157
Also, I just noticed some extensions are in FlowCryptCommon and some in FlowCrypt, maybe they can all be in one place?

[2021-12-23 22:28] tomholub commented on #1070
I think this has improved.

[2021-12-23 22:28] #1070 closed

[2021-12-23 22:32] tomholub commented on #837
@Kharchevskyi please see if you can reproduce. If not, please close.

[2021-12-24 06:35] fcvakintos commented on #1230
@tomholub
it is old emails, new emails are sent to robot@flowcrypt.com
we don't send the emails to e2e account now

[2021-12-24 09:49] #1234 closed

[2021-12-24 09:56] tomholub commented on #1230
In that case, please delete them from e2e inbox.

[2021-12-24 10:42] fcvakintos commented on #1230
@tomholub I don't see these emails in e2e inbox
<img width="1339" alt="Screenshot 2021-12-24 at 12 41 17" src="https://user-images.githubusercontent.com/91205853/147345879-25fe50fd-0da3-422e-aaa1-ef86cc483da8.png">

[2021-12-24 10:56] tomholub commented on #1230
someone may have deleted them since

[2021-12-24 10:56] #1230 closed

[2021-12-24 16:12] tomholub opened #1253 "disable password-protected messages if FES is not used"

[2021-12-24 16:13] tomholub commented on #1253
this will be the last issue of #955

Will be merging the functionality from #955 in bits an pieces and it will only be enabled for senders on flowcrypt.com domain where we know that FES is running.

Once it's all done and tested and merged, this will be the last issue to do: remove the flowcrypt.com sender restriction, and instead allow the functionality when the user has FES running, otherwise di

[2021-12-24 17:19] tomholub opened #1254 "send password-protected message through FES and update email format"
When sending password protected message, we must upload it to FES & format the Gmail message differently. You can study `EncryptedMsgMailFormatter` on browser extension for details not mentioned here.

The steps are (when sending a password-protected message through FES:
 - [x] get a message token (reply token) from FES
 - [x] encode a string that contains sender, recipient, subject, reply token,

[2021-12-27 17:15] DenBond7 commented on #1254
I'd like to clarify some things. Honestly, it's a little difficult to understand code for the browser, when you are not familiar with TS :)

Anyway, let's aks some questions:

1. Based on https://github.com/FlowCrypt/flowcrypt-android/issues/1615 we should have the following
[code]

where `details ` should looks like

`{"associateReplyToken":"some token","bcc":[],"cc":[],"from":"sender@flowcrypt.t

[2021-12-27 19:20] tomholub commented on #1254
correct

It's hard when reading snippets of code on github, but it's not hard in an IDE. When you open the codebase using vscode, and run `npm install`, then you can find one of these mentioned methods and ctrl+click to navigate from method to method. That will give you a good understanding even if not familiar with the language.

[2021-12-27 19:36] tomholub commented on #1254
You can see this above in `getPwdMsgSendableBodyWithOnlineReplyMsgToken`. Let's say use wants to send passsowrd-encrypted message that says `hello`. After the above steps it becomes `hello\n\n<div styl...`.

Continuing the above example, now you need to encode the updated plaintext and attachments into a mime message, which you'll later encrypt. Use mime encoding library for this. Assuming there w

[2021-12-27 19:40] DenBond7 commented on #1254
Excellent 👍. That's what I needed. Thank you!

[2021-12-27 20:03] #1221 closed

[2021-12-28 14:50] #1157 closed

[2021-12-28 16:43] #1130 closed

[2021-12-29 11:05] Kharchevskyi commented on #1241
`errorMessage` would not be helpful for this case, because it will print same localized description as it shown on a screenshot.
For solving this particular case we need to adopt ImapError to CustomStringConvertible which actually should be done for all other errors to print useful information.

[2021-12-29 13:55] #1241 closed

[2021-12-29 15:21] sosnovsky commented on #1231
@IvanPizhenko I'm trying to upload message to FES server using `POST /api/v1/message` endpoint, but receive the same `Uploaded file doesn't contain a valid PGP message` error as in Android task https://github.com/FlowCrypt/flowcrypt-android/issues/1615#issuecomment-997987123

Here is body of POST request (I added new line after `-----END PGP MESSAGE-----` as you advised in mentioned task)
[code]

[2021-12-29 18:49] IvanPizhenko commented on #1231
@sosnovsky You must send only part starting with `-----BEGIN PGP MESSAGE-----` and ending with `-----END PGP MESSAGE-----` (with newline in the end), please make sure you don't add that leading and trailing email related stuff.

[2021-12-29 20:30] #447 closed

[2021-12-29 21:49] tomholub commented on #1231
The data as Roman printed it above is the whole `form-multipart` data. On a casual look, it looks correct to me, and as far as I can see, the pgp part only contains an armored pgp message.

[2021-12-29 21:51] tomholub commented on #1231
@sosnovsky you could send a password-encrypted message from the browser extension with the network tab open for debugging. Then right-click the request to FES and choose "export as cURL". Print the export here (with id token redacted), then we can compare the contents.

[2021-12-29 22:10] tomholub commented on #1231
@sosnovsky also, what is the error id that you got back?

[2021-12-29 22:15] sosnovsky commented on #1231
I was able to make successful request using Postman, but still trying to make it work on iOS - currently receiving such error:
[code]

[2021-12-29 22:30] sosnovsky commented on #1231
It finally works! Thanks for your advices guys
The issue was with missing additional line-break after `Content-Type: ..`, so instead of
[code]

it should be
[code]

[2021-12-30 11:28] Kharchevskyi commented on #1145
@tomholub @sosnovsky
It looks like `MessageViewController` is removed in scope of this pr https://github.com/FlowCrypt/flowcrypt-ios/pull/1017 which was used for opening messages.

"Other email provider option" does not support message threads functionality.

[2021-12-30 11:34] sosnovsky commented on #1145
Yes, `MessageViewController` was removed, but `ThreadDetailsViewController` should support single messages too - `Thread` with 1 message is created for this case https://github.com/FlowCrypt/flowcrypt-ios/blob/master/FlowCrypt/Controllers/MessageList%20Extension/MsgListViewController.swift#L40

[2021-12-30 11:39] Kharchevskyi commented on #1145
Looks like it doesn't support operations with messages (archive/delete/mark as unread) and it can't resolve dependency for this controller
[code]

[2021-12-30 11:47] sosnovsky commented on #1145
Yes, seems like we've missed this functionality there, as it was tested mostly with Google accounts, while IMAP accounts functionality wasn't high priority. We still has some issues for it - like https://github.com/FlowCrypt/flowcrypt-ios/issues/989 and https://github.com/FlowCrypt/flowcrypt-ios/issues/484

[2021-12-30 11:51] Kharchevskyi commented on #1145
Should we revert those changes?
Or add support for message operations? Which can take some time

[2021-12-30 13:28] sosnovsky commented on #1145
Reverting changes will need re-duplicating of all code which was added to `ThreadDetailsViewController` since then, which will take some time too.

We already have `messageOperationsProvider` in `ThreadDetailsViewController`, it can be used for performing operations when there is a single message instead of thread. Just need to identify which message type we have - `message` or `thread` and then u

[2021-12-30 13:29] tomholub commented on #1145
We should definitely not revert the changes - `MessageViewController` was removed purposefully, since `ThreadDetailsViewController` can be used to render a thread containing 1 message as well.

We don't have to fix message operations in this issue. I'll file another issue for that. Just viewing the message.

[2021-12-30 13:32] tomholub opened #1260 "IMAP message operations fix"
_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/1145#issuecomment-1003029709_

please only fix one message operation first and make a draft PR. That way we can settle code structure before fixing the rest.

[2021-12-30 15:28] #1145 closed

[2021-12-30 15:54] Kharchevskyi commented on #449
fixed in scope of #1258

[2021-12-30 15:54] #449 closed

[2021-12-30 17:59] tomholub opened #1264 "cache availability of FES"
This calls the FES one extra time before each request - which is excessive. Ok for now since it works, but in the future we should cache a boolean to mark whether FES is available or not. I'll file a separate issue.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1261#discussion_r776762162_

[2021-12-30 18:01] tomholub commented on #1264
<img width="941" alt="image" src="https://user-images.githubusercontent.com/6306961/147776949-b023654e-10bd-4c0b-97be-cdf3e5d3fa07.png">

[2021-12-30 18:03] #1222 closed

[2021-12-30 21:58] tomholub opened #1265 "FES .upload `from` and `current account` should be passed separately for sendAs support"
This is a subtle thing: `from` and `current account` may not be the same thing in the future - once we add support for different `sendAs` aliases, in which case you may send an email from `alias@example.com` while on account `account@example.com`. So this would really need an `account` and `from` separately, or in the future maybe `idToken` and `from` separately. For now though, it's ok. I'll file

[2021-12-30 22:40] #1231 closed

[2022-01-03 16:10] Kharchevskyi commented on #457
<img src="https://user-images.githubusercontent.com/13693255/147952864-b4695631-b73b-4dc2-bd98-5874ca667730.png" width="400" />
<img src="https://user-images.githubusercontent.com/13693255/147953004-8633a9ed-baac-4e50-9c28-5f526c93ce8a.png" width="400" />
<img src="https://user-images.githubusercontent.com/13693255/147953046-9a4eaf36-10e4-4357-8d08-33a68b9d56e5.png" width="400" />
<img src="https:

[2022-01-03 17:46] tomholub commented on #457
Yes, it's a definite improvement.

[2022-01-04 15:06] Kharchevskyi opened #1267 "Couldn't get active FES url for gmail account"
Can't login with gmail account `cryptup.tester`
<img width="180" alt="Screenshot 2022-01-04 at 16 55 16" src="https://user-images.githubusercontent.com/13693255/148078933-bbda829c-fe05-4357-bf39-4a9738fa9881.png">

[2022-01-04 15:42] Kharchevskyi commented on #1267
Also it is not possible to log out if this error occurred

[2022-01-04 17:41] Kharchevskyi opened #1269 "iPad - fix crash for popover/alerts"
Crash
- tap on attachment button
- tap in backups share option
check for other possible places

'Your application has presented a UIAlertController (<UIAlertController: 0x7f88e2872000>) of style UIAlertControllerStyleActionSheet from FlowCrypt.SideMenuNavigationController (<FlowCrypt.SideMenuNavigationController: 0x7f88e4880c00>). The modalPresentationStyle of a UIAlertController with this style i

[2022-01-04 17:46] Kharchevskyi opened #1270 "iPad - Text insets"
Fix insets for iPad. Insets should be at least 24 point

<img src="https://user-images.githubusercontent.com/13693255/148101211-6908c66b-75e0-4aae-b6a1-52f5f11b34b4.png" width="300"/>
<img src="https://user-images.githubusercontent.com/13693255/148101281-707f9b5b-b7c0-419b-ac0f-dd018860d97a.png" width="300"/>
<img src="https://user-images.githubusercontent.com/13693255/148101380-0d0fde6a-bdcd-4214

[2022-01-04 17:47] Kharchevskyi commented on #457
#1270 - text insets
#1269 - crash

[2022-01-05 10:56] Kharchevskyi opened #1273 "iPad - Fix layout for setup screens"
Verify screens for ipad
- [x] SetupBackupsViewController
- [x] SetupManuallyEnterPassPhraseViewController

SetupGenerateKeyViewController
<img src="https://user-images.githubusercontent.com/13693255/148206349-53d97ea1-b3b9-4ba5-a71d-1302ae5c4576.png" width="300">

[2022-01-05 12:12] tomholub commented on #1273
yup - these should be better aligned

[2022-01-05 13:01] tomholub commented on #1214
@fcvakintos this is currently open / available

[2022-01-05 13:03] tomholub commented on #484
@fcvakintos this should now be actionable again

[2022-01-05 13:36] fcvakintos commented on #1164
I think we can close this one, I tried to reproduce this issue, but it doesn't appear

[2022-01-05 13:40] #1164 closed

[2022-01-05 14:27] fcvakintos commented on #484
@tomholub I tried to login to outlook account and get the error
<img width="433" alt="Screenshot 2022-01-05 at 16 26 49" src="https://user-images.githubusercontent.com/91205853/148233876-72fa68e5-7900-4bc8-93ed-f198bc3bce26.png">
can you check pls?

[2022-01-05 14:28] tomholub commented on #484
Will take a look

[2022-01-05 14:30] tomholub commented on #1156
it's fixed now, can be tested

[2022-01-05 14:35] tomholub opened #1274 "list of ui tests from browser extension and possible implementation in appium"
[code]

[2022-01-05 14:45] sosnovsky commented on #484
I got this error with my `gmail.com` account too, will push fix in a few minutes

[2022-01-05 14:46] sosnovsky opened #1275 "'Couldn't get active FES url' error on startup"
@tomholub I tried to login to outlook account and get the error
<img width="433" alt="Screenshot 2022-01-05 at 16 26 49" src="https://user-images.githubusercontent.com/91205853/148233876-72fa68e5-7900-4bc8-93ed-f198bc3bce26.png">
can you check pls?

_Originally posted by @fcvakintos in https://github.com/FlowCrypt/flowcrypt-ios/issues/484#issuecomment-1005732008_

[2022-01-05 15:30] tomholub opened #1277 "on consumer release, tolerate FES errors 4xx, 5xx and SSL errors when calling opportunistically"
I think, on cosumer release, we should also tolerate 4xx and 5xx errors when opportunistically calling FES. I'll file another issue.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1207#discussion_r767203747_

[2022-01-05 15:31] tomholub commented on #1277
Currently only tolerated "404" and all network errors. But if we get a 400 or 500, currently it will fail.

[2022-01-05 16:28] Kharchevskyi commented on #1275
#1267

[2022-01-05 16:47] #457 closed

[2022-01-05 18:59] tomholub opened #1279 "cannot log out if error happens during app startup"
I'll track that as a separate issue

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/1276#issuecomment-1005995217_

[2022-01-05 19:00] tomholub commented on #1279
@Kharchevskyi did you mean app startup on an already set up account?

Or simply if the error happens after authentication?

[2022-01-06 11:06] #1275 closed

[2022-01-06 13:13] fcvakintos commented on #484
@tomholub I cant login this this pass phrase 'flowcrypt compatibility accounts o' too outlook account
could you provide correct pass phrase?

[2022-01-06 14:08] fcvakintos commented on #1156
@tomholub can we use for testing account "e2e.enterprise.test@flowcrypt.com"?
or you have some another account for testing?
if it is a 'e2e' account we need to send more email to this and it can effect our tests

[2022-01-06 15:15] tomholub commented on #484
Try `flowcrypt compatibility account o`

[2022-01-06 15:16] tomholub commented on #1156
Didn't we already have loads of emails in inbox on this account to test with? Or do you mean emails sent in the future?

[2022-01-07 11:10] IvanPizhenko commented on #542
There is new version 2.6.1 that solves the issue. I will try to integrate it.

[2022-01-07 16:08] Kharchevskyi commented on #1279
Looks like if any error occurs during `AppStartup.initializeApp`.

But in my case it was during `getUserOrgRulesIfNeeded`
[code]

error alert has only one button
[code]
I think we should add `use another account button` or smth like that

[2022-01-08 09:51] tomholub commented on #1279
There should be a retry + log out + user another account, as you say.

If there isn't another account, tapping it should show the splash screen as if when adding a secondary account.

[2022-01-08 14:04] #1273 closed

[2022-01-08 16:26] #542 closed

[2022-01-09 14:40] Kharchevskyi opened #1282 "iPad - side menu width"
![Simulator Screen Shot - iPad mini (6th generation) - 2022-01-09 at 16 39 33](https://user-images.githubusercontent.com/13693255/148687086-501b56c8-2de4-4932-9b3c-02fc40fb1710.png)

[2022-01-10 07:13] fcvakintos commented on #484
@tomholub the same error, wrong pass phrase

[2022-01-10 08:41] fcvakintos commented on #1156
@tomholub yes, we have but it is not enough for check this test case because pagination is not available

[2022-01-10 13:47] fcvakintos opened #1284 "BUG: Inbox screen displays only 20 emails after updating inbox screen on e2e account"
Steps:

1. Login to e2e account
2. Observe Inbox screen - 36 emails are displayed
3. Pull down for refresh
4. Observe screen

**Actual:** Only 20 emails are displayed on Inbox screen
**Expected:** All items should be displayed

Uploading Screen Recording 2022-01-10 at 15.45.26.mov…

[2022-01-10 13:47] fcvakintos commented on #1156
@tomholub pls check this issue
https://github.com/FlowCrypt/flowcrypt-ios/issues/1284
it is actual only for e2e account, on my account it works correct

[2022-01-10 18:57] tomholub commented on #1284
@sosnovsky can you please later see if you can triage it on the e2e account?

[2022-01-10 20:03] sosnovsky commented on #1284
For sure, I'll check it

[2022-01-10 20:11] sosnovsky opened #1285 "Compiled Core js throws errors after sanitize-html update"
`sanitize-html` update to version 2 removed compiled `sanitize-html.js` (https://github.com/apostrophecms/sanitize-html/blob/main/CHANGELOG.md#200-2020-09-23):
[code]

It caused some errors when using `sanitize-html` for message decrypting:
[code]

[2022-01-10 21:09] #1269 closed

[2022-01-11 08:48] fcvakintos commented on #484
@tomholub  any news about pass phrase?

[2022-01-11 10:03] Kharchevskyi commented on #484
Had the same issue.
Just created a new account in Outlook and set it up with our iOS app

[2022-01-11 10:10] fcvakintos commented on #484
cool, can you share credentials?

[2022-01-11 11:02] #1285 closed

[2022-01-11 11:40] fcvakintos commented on #484
@Kharchevskyi ^

[2022-01-11 12:04] Kharchevskyi commented on #484
Will try to find them or you can create a new one

[2022-01-11 12:09] fcvakintos commented on #484
@Kharchevskyi Thanks, i need use it for automation test

[2022-01-11 12:43] #1284 closed

[2022-01-11 12:45] fcvakintos commented on #1284
@sosnovsky how many email should be displayed on inbox screen with pagination?

[2022-01-11 12:51] sosnovsky opened #1288 "Test inbox pagination after loading all messages"
Steps:

1. Login to e2e account
2. Observe Inbox screen - 36 emails are displayed
3. Pull down for refresh
4. Observe Inbox screen - it should load all 36 emails

Previously there was an issue when after loading all 36 emails and performing pull-to-refresh only 20 emails were loaded (https://github.com/FlowCrypt/flowcrypt-ios/issues/1284)

But emails count probably will change in the future, so te

[2022-01-11 12:52] sosnovsky commented on #1284
I created separate issue for ui test - https://github.com/FlowCrypt/flowcrypt-ios/issues/1288

[2022-01-11 13:09] fcvakintos commented on #1288
@sosnovsky I get email count from inbox before scroll and after, and check that counts after scroll should be great than before

[2022-01-11 13:12] sosnovsky commented on #1288
Ah, great, then we should check if total email count after pull-to-refresh is the same as on the first load (currently it's 36 emails)

[2022-01-11 13:14] fcvakintos commented on #1288
@sosnovsky sure, how many email should be in Inbox screen for check pagination?
I tried to check it in e2e account but 36 email in not enough

[2022-01-11 13:18] sosnovsky commented on #1288
Initial issue happened only after user have loaded all messages in Inbox. Is it possible to check when all emails have loaded?
Like this:
1) scroll down
2) check if number of emails changed
3) if changed - scroll down one more time to load next page of emails
4) if emails count didn't change - all messages are loaded, can do pull-to-refresh now

[2022-01-11 13:45] fcvakintos commented on #1288
For this case we have this ticket, https://github.com/FlowCrypt/flowcrypt-ios/issues/1156

but I dont know how many emails should be in inbox for pagination, with 36 emails pagination is not working, i think we need more emails

[2022-01-11 13:57] Kharchevskyi commented on #484
can share over email. Please text me on anton@flowcrypt.com

[2022-01-11 14:03] fcvakintos commented on #1288
I found 1 page contains 40 email

[2022-01-11 14:03] fcvakintos commented on #484
@Kharchevskyi done

[2022-01-11 14:12] sosnovsky commented on #1288
I think currently we have 20 emails per page

[2022-01-11 14:17] fcvakintos commented on #1288
@sosnovsky hmmm. strange
I have 40 emails in page
but after open some email/ click back to inbox screen-> the emails count = 20
check pls video
https://user-images.githubusercontent.com/91205853/148959052-f0c7ade8-62a6-423f-9cb6-ca834434bcc0.mov

[2022-01-11 14:29] sosnovsky commented on #1288
On `00:10` of your video you can see how page #2 of email is added on the bottom, as next page is automatically loaded when you scroll to the bottom of the list. So each page contains 20 emails which are automatically loaded on scroll.

But I just noticed another bug - emails shouldn't disappear when you go back from email detail screen. And also there is something wrong with sorting, as email wit

[2022-01-11 14:38] sosnovsky opened #1289 "Inbox emails disappear when going back from email detail screen"
Steps to reproduce:
1. Scroll down inbox to load page 2 of emails
2. Open any email
3. Go back to inbox

**Expected**: 2 pages of emails are shown
**Actual**: only page 1 is shown, emails from page 2 were removed (noticed in https://github.com/FlowCrypt/flowcrypt-ios/issues/1288#issuecomment-1010006530)

[2022-01-11 14:40] sosnovsky commented on #1288
So probably we should have such steps for inbox testing:
1) load inbox screen
2) check number of emails - it should be 20
3) scroll down - number of emails should increase
4) scroll down until number of emails not changing (it means all inbox emails are loaded)
5) perform pull-to-refresh - number of emails should be 20
6) scroll down - number of emails should increase

[2022-01-11 14:43] tomholub commented on #1288
wrong order filed here https://github.com/FlowCrypt/flowcrypt-ios/issues/1120 you can have a look at it while you are looking at the functionality. Order should match how it was received from Gmail API when pulling whole thread. Seems like my ordering fix didn't work in 100% of the cases.

[2022-01-11 14:46] tomholub commented on #1289
What should be the appropriate fix for this? Will we keep the emails in memory, or re-fetch them more appropriately when going back?

[2022-01-11 14:52] fcvakintos commented on #1288
ok, i will add this case

[2022-01-11 15:05] sosnovsky commented on #1289
It happens because app refreshes messages list after marking thread as `read` (https://github.com/FlowCrypt/flowcrypt-ios/blob/master/FlowCrypt/Controllers/Inbox/InboxViewController.swift#L428)
This `refresh` loads only first page of messages and sets it as inbox messages list (replacing previously loaded emails).

Probably it's not necessary to refresh full messages list when marking 1 thread as

[2022-01-11 15:08] sosnovsky commented on #1288
I think there is something on our side, as only 1 last message has wrong order - maybe inserting emails from loaded pages has some wrong calculation for messages index, need to check.

[2022-01-11 15:29] tomholub commented on #1289
The refresh was probably so that it reloads the data after the change - the message could have moved (trash), moved (archive), got read (mark as read), got unread (mark as unread), etc.

I guess not strictly necessary to do the reload, if we know what action we just made.

[2022-01-11 15:43] sosnovsky commented on #1289
Agree, I think in this case we should implement callback with `action` param and then refresh messages list accordingly.
As currently `refresh` loads only first page of messages, so changes to messages from second page are not loaded.

[2022-01-12 10:17] #1267 closed

[2022-01-12 11:03] tomholub opened #1291 "searching email by recipient name doesn't find any result"
I have an email from "Joe" both in the inbox and in all mail (archived).

I'm currently in inbox and tap on the search field, and enter "Joe".

It doesn't find any email. The person's email address is eg `Joe Doe <joe.doe@example.test>`

[2022-01-12 11:14] tomholub opened #1292 "auto-select export option for distribution"
I'm always manually choosing "export" here, is it possible to tell it to always use that option?

<img width="313" alt="image" src="https://user-images.githubusercontent.com/6306961/149129968-f9edd3e6-c00d-4ea6-b123-a28ce3ba7558.png">

Also, is it possible to similarly pre-select "manage signing automatically" so it doesn't ask me?

[2022-01-12 11:36] tomholub opened #1293 "verify that migration test script in CI works"
1) create any schema change in db that doesn't break the app itself
2) don't create migration for it
3) push to a branch and make a draft PR
4) see if the CI breaks due to the unmigrated breaking change. It should, following https://github.com/FlowCrypt/flowcrypt-ios/issues/1148

If the CI breaks on the migration test but all other tests work, ok to close this issue (and the PR)

[2022-01-12 12:37] tomholub opened #1294 "ui tests from browser extension - compose"
unsorted compose tests:
 - `compose - standalone- hide/show btns after signing`
 - `compose - reply - pass phrase dialog - dialog ok`
 - `compose - reply - can load quote from plain/html email`
 - `compose - reply all - from === acctEmail`
 - `compose - revoked recipients trigger revoked warning`
 - `compose - quote - can load quote from encrypted/text email`
 - `compose - send new plain message`

[2022-01-12 12:38] tomholub opened #1295 "ui tests from browser extension - settings"
from #1274

unsorted settings tests:
 - `settings > login > close oauth window > close popup`
 - `settings - attachment previews with entering pass phrase`
 - `settings - Catch.reportErr reports an error`
 - `settings - manual backup several keys to inbox with the same strong pass phrase`
 - `settings - import revoked key fails but the revocation info is saved`
 - `settings - add unprotected s/mim

[2022-01-12 12:39] tomholub opened #1296 "ui tests from browser extension - setup"
from #1274

unsorted setup tests:
 - `expire@key-manager-keygen-expiration.flowcrypt.test - OrgRule enforce_keygen_expire_months: 1`
 - `setup - import key - fix key self signatures`
 - `fail@key-manager-server-offline.flowcrypt.test - shows friendly KM not reachable error`
 - `no.fes@example.com - skip FES on consumer, show friendly message on enterprise`
 - `put.key@key-manager-autogen.flowcrypt

[2022-01-12 12:40] tomholub opened #1297 "ui tests from browser extension - decrypt / verify"
from #1274

decrypt tests:
 - `decrypt - by entering pass phrase + remember in session`
 - `rendered reply - can preview attachment`
 - `attachments - failed to decrypt`
 - `verification - message text is rendered prior to pubkey fetching`
 - `decrypt - [flowcrypt] encrypted hello`
 - `decrypt - [flowcrypt] remote images get replaced with a button`
 - `decrypt - unsigned encrypted message`
 - `dec

[2022-01-12 12:49] tomholub opened #1298 "sendAs support of alias emails"
every time the app is started, we should fetch https://developers.google.com/gmail/api/reference/rest/v1/users.settings.sendAs/list in the background and save list of sending emails for that account in Realm.

Then during compose, if the user has more than one sending address, we can give them choice which email to send from.

See settings at https://mail.google.com/mail/u/0/#settings/accounts whe

[2022-01-12 13:00] sosnovsky commented on #1292
I think there is no way to pre-select these options on Xcode. But we can use `fastlane` to make export process automatic and faster.
We just need to create fastlane actions for different build types, so you'll just need to execute `fastlane export` or `fastlane export_enterprise` for generating build and (optionally) uploading it to App Store Connect.

[2022-01-12 15:07] tomholub commented on #1292
understood - thank you. That would be for another time.

[2022-01-12 15:07] #1292 closed

[2022-01-12 16:42] tomholub commented on #484
I recommend to enumerate them as `aid-account-email-0`, `aid-account-email-1` and so on. @Kharchevskyi can help.

Btw that email can be used for your local testing but not for CI tests. I'll check the credentials your were missing.

[2022-01-12 17:06] tomholub commented on #484
@fcvakintos I can't find the record of what was the pass phrase supposed to be, other than the one above. You can remove the backup email from the inbox / trash it / delete it. Then go through setup and choose to make a new key, and give it a pass phrase of `flowcrypt compatibility accounts o` once. After that you'll be able to enter this pass phrase during ci tests.

[2022-01-12 17:36] fcvakintos commented on #484
@tomholub I dont know how to set up new key
can you explain to do this?

[2022-01-12 17:41] tomholub commented on #484
1) You can remove the backup email from the inbox / trash it / delete it
2) reinstall app or log out
3) Then go through setup and choose to make a new key, and give it a pass phrase of `flowcrypt compatibility accounts o`

After that you'll be able to enter this pass phrase during ci tests.

[2022-01-12 18:27] tomholub opened #1299 "check which of these ui tests are already implemented and where - compose"
as part of https://github.com/FlowCrypt/flowcrypt-ios/issues/1294, here is a list of browser extension ui tests that may or may not be already implemented in Appium.

 - `compose - nogpg and revoked recipients trigger both warnings`
 - `compose - freshly loaded pubkey`
 - `compose - list of pubkeys gets refetched in compose`
 - `compose - can load contact based on name`
 - `compose - signed with e

[2022-01-12 19:43] tomholub opened #1300 "killing app mid-setup of second user will show splash-screen on next start (instead of first user inbox)"
Once in a while, I open the app and it greets me with a splash screen "Continue with Gmail" even though I'm logged in. I think when I tapped on continue, then tapped "cancel", it may have even "realized" that there is some user logged in and showed me inbox. Or maybe I killed the app and then it showed inbox normally. I'm not sure, I'll continue to observe it.

@sosnovsky have you observed somethi

[2022-01-12 19:48] sosnovsky commented on #1300
No, I haven't observed such issue. Does it happen on simulator or on the real device?

[2022-01-12 19:53] tomholub opened #1301 "ui test: app updates older public keys to newer but not vice versa"
These two tests can be searched on browser extension test suite by name:
 - `do not auto-refresh key if older version of the same key available on attester`
 - `auto-refresh expired key if newer version of the same key available`

The iOS test will be similar, except instead of manual key import, all keys will be imported from attester (iOS doesn't support manually importing public keys into the a

[2022-01-12 19:54] tomholub commented on #1300
Real device. I'll pay more attention next time I use the app, and will add more details.

[2022-01-12 19:55] tomholub commented on #1300
I wonder if trying to log into IMAP/SMTP earlier could have affected this. Will try

[2022-01-12 20:02] tomholub commented on #1300
To reproduce:
1) log into account 1 and set up until you see inbox
2) log into account 2 but don't finish set up (I tried this with IMAP/SMTP login, but could also work with Gmail login where setup is not finished)
3) kill the app (or wait a long time :-) )
4) open the app

expected:
 - either I should see the half-setup user 2 and continue where I left off (or abort setup)
 - or I should see my p

[2022-01-12 20:02] tomholub commented on #1300
Given that this is a bit of a special scenario, and our main customer didn't mention multi-account situations, I'm moving this to later milestone.

[2022-01-13 05:25] Kharchevskyi commented on #484
@fcvakintos
Will add AIDs today

[2022-01-13 07:33] fcvakintos commented on #484
@tomholub The key is not saved, I tried your steps, but after logout and login again i need to create new key

[2022-01-13 09:03] fcvakintos commented on #484
@Kharchevskyi  do you need ticket for this ?

[2022-01-13 09:17] Kharchevskyi opened #1302 "Add aid for multiple account"
I recommend to enumerate them as `aid-account-email-0`, `aid-account-email-1` and so on. @Kharchevskyi can help.

Btw that email can be used for your local testing but not for CI tests. I'll check the credentials your were missing.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/484#issuecomment-1011241762_

[2022-01-13 09:17] Kharchevskyi commented on #484
https://github.com/FlowCrypt/flowcrypt-ios/issues/1302

[2022-01-13 09:41] tomholub commented on #484
That would be a bug. You can file that separately as a bug for someone to investigate, and meanwhile you can use the browser extension or Android app to go through the setup and have it save the backup.

[2022-01-13 09:54] Kharchevskyi commented on #484
Was also tried to reproduce. Had this error. Can you please add to this issue as well
<img width="299" alt="Screenshot 2022-01-13 at 11 53 46" src="https://user-images.githubusercontent.com/13693255/149307467-e3114753-320d-485f-a7c8-5c2887868f7d.png">

[2022-01-13 09:58] Kharchevskyi commented on #484
not sure but looks like this functionality doesn't work for gmail accounts as well

[2022-01-13 10:15] fcvakintos commented on #484
ok, will create new issue

[2022-01-13 10:16] tomholub commented on #484
Ok, so there are three issues when creating a key during setup:
 - missing / unclear details of that error message. It should be showing clearly the URL and http code like other API errors do. This will need an appium test as well. The Attester mock will be set to return a 400 on submission with some error message, and the above modal must show that error message (we had a mechanism for this that

[2022-01-13 10:16] tomholub opened #1303 "broken procedure that generates a key during setup"
Ok, so there are three issues when creating a key during setup:
 - missing / unclear details of that error message. It should be showing clearly the URL and http code like other API errors do. This will need an appium test as well. The Attester mock will be set to return a 400 on submission with some error message, and the above modal must show that error message (we had a mechanism for this that

[2022-01-13 10:20] fcvakintos opened #1304 "The key is not saved when user set key and relogin"
**Steps:**

1. Login to outlook accoun with key
2. Create key
3. Logout from outlook account
4. Try to login again
**Actual:** User needs to setup new key, old key is not saved
**Expected:** User should be able to login with pass phrase

[2022-01-13 10:20] fcvakintos commented on #484
https://github.com/FlowCrypt/flowcrypt-ios/issues/1304

[2022-01-13 10:22] fcvakintos commented on #484
@tomholub how can i create key using web version?

[2022-01-13 10:24] tomholub commented on #484
Exact same procedure I described earlier, except you use our browser extension for it.

[2022-01-13 11:00] fcvakintos commented on #484
@tomholub I dont know how to set up key for outlook account
can you help me?

[2022-01-13 11:04] tomholub commented on #484
I see - browser extension doesn't support outlook - forgot about that. Try the android app, and if you get stuck, share a screenshot to understand the issue.

[2022-01-13 11:10] fcvakintos commented on #484
@tomholub I dont have Android device

[2022-01-13 11:28] tomholub commented on #484
Are you able to run it on a simulator? (I was under impression that you also write appium tests for android app at times)

[2022-01-13 11:53] fcvakintos commented on #484
@tomholub no

[2022-01-13 13:28] fcvakintos commented on #484
@tomholub I get this error
<img width="393" alt="Screenshot 2022-01-13 at 15 27 42" src="https://user-images.githubusercontent.com/91205853/149338842-6c068447-a8a4-477b-b21a-a435ed53bcf3.png">

[2022-01-13 13:47] tomholub commented on #484
Did you do this?

[2022-01-13 14:06] fcvakintos commented on #484
yes

[2022-01-13 14:25] tomholub commented on #484
If you really fully removed the backup from the inbox, and also from thrash, reinstalled the app and then went through setup, then you would not be looking at that screen - no backup to recover. Do you confirm you have done that?

[2022-01-13 14:33] tomholub commented on #484
@DenBond7 please have a look whether you see the same behavior. I'm sending the creds by email

[2022-01-13 15:05] fcvakintos commented on #484
@tomholub on iOS app I get this screen after login to outlook account
<img width="389" alt="Screenshot 2022-01-13 at 17 04 25" src="https://user-images.githubusercontent.com/91205853/149354997-42e10c4d-1e03-4417-95d7-5d771848bf4e.png">

but on Android after reinstall - "we found a backup of your key"
<img width="393" alt="Screenshot 2022-01-13 at 15 27 42" src="https://user-images.githubuserconten

[2022-01-13 15:06] tomholub commented on #484
ok. Den will check it. Thanks for the screenshots

[2022-01-13 17:21] tomholub opened #1306 "password policy for message passwords"
same as https://github.com/FlowCrypt/flowcrypt-android/issues/1618

browser implementation https://github.com/FlowCrypt/flowcrypt-browser/pull/4252

[2022-01-13 18:07] DenBond7 commented on #484
@fcvakintos Please look at the `Sent` folder. You have a backup there.

[2022-01-14 09:27] fcvakintos commented on #484
@DenBond7 yes, found in Sent

[2022-01-14 09:37] fcvakintos commented on #484
@tomholub  done, I setup new key

[2022-01-14 12:54] #1302 closed

[2022-01-14 13:10] tomholub commented on #484
Good. With that, you should be able to write tests for iOS.

[2022-01-14 20:09] Kharchevskyi commented on #1303
First issue I faced now is that call to `MailServiceProviderFactory.services` executes not on main thread both for gmail and imap
<img width="400" alt="Screenshot 2022-01-14 at 22 01 39" src="https://user-images.githubusercontent.com/13693255/149577673-72f94f66-bd10-4ba0-a4ca-7f73786a7cbc.png">

Which cause issue with Main thread checker
<img width="400" alt="Screenshot 2022-01-14 at 22 03 07" src

[2022-01-14 20:09] Kharchevskyi opened #1310 "`MailServiceProviderFactory.services` not on main thread while generating a key during setup"
First issue I faced now is that call to `MailServiceProviderFactory.services` executes not on main thread both for gmail and imap
<img width="400" alt="Screenshot 2022-01-14 at 22 01 39" src="https://user-images.githubusercontent.com/13693255/149577673-72f94f66-bd10-4ba0-a4ca-7f73786a7cbc.png">

Which cause issue with Main thread checker
<img width="400" alt="Screenshot 2022-01-14 at 22 03 07" src

[2022-01-14 20:20] Kharchevskyi commented on #1303
looks like call to attester returns 409 status code
[code]
just wondering should it be post instead?
<img width="400" alt="Screenshot 2022-01-14 at 22 19 19" src="https://user-images.githubusercontent.com/13693255/149579803-6f612256-4dc9-46b0-86a2-74c1841a9a0d.png">

if yes, what token to use here for imap?
<img width="400" alt="Screenshot 2022-01-14 at 22 20 17" src="https://user-images.githubuse

[2022-01-14 21:09] #484 closed

[2022-01-14 21:32] #1270 closed

[2022-01-14 22:13] #1254 closed

[2022-01-14 22:15] tomholub commented on #1303
Make it a POST, and add id_token to the authorization header.

[2022-01-16 13:08] Kharchevskyi commented on #1303
@tomholub this is for outlook authentication.
Mailcore uses SASL way of authentication

<img width="346" alt="Screenshot 2022-01-16 at 15 08 07" src="https://user-images.githubusercontent.com/13693255/149661229-fd334f21-7f71-44b6-a162-a4412c00b692.png">

[2022-01-16 14:51] tomholub commented on #1303
On that case, we need to use a PUT for IMAP. But we have to add a modal with retry/skip option.

[2022-01-16 14:56] ivan-ushakov commented on #1024
@tomholub
Can I start with this one or you have something with higher priority?

[2022-01-16 14:59] tomholub commented on #1024
You can start with this one. We don't have to treat warnings as errors yet, but should look into addressing as many warnings as possible.

You may want to do several smaller PRs so we don't run into merge conflicts.

Also: `-Xfrontend -warn-concurrency -Xfrontend -enable-actor-data-race-checks` - can this be enabled in the IDE for everyone? So that we all see the warnings.

[2022-01-17 10:47] sosnovsky commented on #1310
I checked it - looks like adding `@MainActor` to `setupAccount` method in `SetupGenerateKeyViewController.swift` (https://github.com/FlowCrypt/flowcrypt-ios/blob/master/FlowCrypt/Controllers/Setup/SetupGenerateKeyViewController.swift#L91) fixes this issue.

[2022-01-17 15:58] fcvakintos commented on #1301
@Kharchevskyi could you help me with aid for Public key screen?
I need add for all values from this screen
like `signatureValue` for date of signature
I tried to add but get strange ids
<img width="1277" alt="Screenshot 2022-01-17 at 17 57 50" src="https://user-images.githubusercontent.com/91205853/149802283-375d23f4-370e-44cb-8d1f-1a5951cd229e.png">
<img width="537" alt="Screenshot 2022-01-17 at

[2022-01-17 16:39] tomholub commented on #1301
`aidSignatureDate`

[2022-01-17 18:05] ivan-ushakov commented on #1024
I found that enabling `-Xfrontend -warn-concurrency` produces a lot of warning about non sendable types. Not sure if we can fix them now because this requires a lot of changes in code.

I will try to fix errors produced by `-Xfrontend -warn-concurrency`.

[2022-01-17 18:08] tomholub commented on #1024
Not necessarily all at once. @sosnovsky are these sensible warnings to address?

[2022-01-17 20:15] sosnovsky commented on #1024
One of Swift language developers suggests not to use `-warn-concurrency` flag for now, as some warnings will be automatically fixed in the next Swift version (https://twitter.com/dgregor79/status/1470940523259056129).

So maybe for now we can fix only `-enable-actor-data-race-checks` warnings

[2022-01-17 20:27] tomholub commented on #1024
sounds good

[2022-01-18 07:30] fcvakintos commented on #1301
@tomholub do we need new ticket for this?

[2022-01-18 08:47] fcvakintos commented on #1301
@tomholub I get this error for all mock tests now
<img width="389" alt="Screenshot 2022-01-18 at 10 39 53" src="https://user-images.githubusercontent.com/91205853/149902247-0bfd6aec-3572-406c-909c-7d6ca929d005.png">

[2022-01-18 08:52] Kharchevskyi commented on #1293
Can I reopen this task? Need a bit more time for investigation.
Looks like changes in PR #1312 treated by Realm as one that needs migration, which is strange.

[2022-01-18 08:53] Kharchevskyi opened #1314 "Add aid for Public key screen"
@Kharchevskyi could you help me with aid for Public key screen?
I need add for all values from this screen
like `signatureValue` for date of signature
I tried to add but get strange ids
<img width="1277" alt="Screenshot 2022-01-17 at 17 57 50" src="https://user-images.githubusercontent.com/91205853/149802283-375d23f4-370e-44cb-8d1f-1a5951cd229e.png">
<img width="537" alt="Screenshot 2022-01-17 at

[2022-01-18 09:17] fcvakintos commented on #1301
@Kharchevskyi do you know why this error appears?^

[2022-01-18 09:52] sosnovsky commented on #1293
I think migration isn't required there as adding object property should be handled automatically, but we need to increment database scheme version, so app we'll know about scheme change.

[2022-01-18 12:40] fcvakintos commented on #1299
@tomholub checked
1. `compose - nogpg and revoked recipients trigger both warnings` - we have tests for revoked and expired pubkey, and we have for no public key user. is it the same?
2. `compose - freshly loaded pubkey` - I think we have this case
3. `compose - list of pubkeys gets refetched in compose` -  not covered
4. `compose - can load contact based on name` -  covered
5. `compose - signed w

[2022-01-18 13:26] Kharchevskyi opened #1315 "iPad - fix layout for recipients"
<img width="501" alt="Screenshot 2022-01-13 at 14 51 41" src="https://user-images.githubusercontent.com/13693255/149945920-b4ba89a3-6f7c-4559-ace7-ba1355d6e47e.png">

[2022-01-18 14:52] Kharchevskyi commented on #1301
I think @tomholub can help you with it

aids added https://github.com/FlowCrypt/flowcrypt-ios/pull/1316

[2022-01-18 14:52] fcvakintos opened #1317 "User is not able to login via Gmail"
Try to login to 'e2e.enterprise.test@flowcrypt.com' -> get error on set up pass phrase
<img width="389" alt="Screenshot 2022-01-18 at 10 39 53" src="https://user-images.githubusercontent.com/91205853/149959626-44544c5d-cdcd-4f2e-a724-2d1fd8b9c953.png">

[2022-01-18 14:53] fcvakintos commented on #1301
@Kharchevskyi thanks

[2022-01-18 19:31] tomholub commented on #1315
There should also be an `X` next to each bad recipient so that the user can tap them to remove. Would that be a separate issue?

[2022-01-18 19:39] sosnovsky commented on #1317
Same for me - can't login with `e2e.enterprise.test@flowcrypt.com` account

[2022-01-18 19:46] tomholub commented on #1299
For the covered ones - also include the name of equivalent test on iOS. Read issue description carefully, it was written above.

[2022-01-18 19:47] tomholub commented on #1317
sorry, working on this. EKM configuration issue

[2022-01-18 20:49] tomholub commented on #1317
it's fixed now

[2022-01-18 20:49] #1317 closed

[2022-01-18 23:13] #1314 closed

[2022-01-19 10:28] Kharchevskyi opened #1318 "Add `X` next to each bad recipient"
There should also be an `X` next to each bad recipient so that the user can tap them to remove. Would that be a separate issue?

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/1315#issuecomment-1015765078_

[2022-01-19 12:45] tomholub commented on #1293
I'm reopening until a similar test PR is opened that would have caused a schema conflict

[2022-01-19 12:45] tomholub commented on #1293
@Kharchevskyi since you re-closed it without comment - please share what you found.

[2022-01-19 13:36] fcvakintos commented on #1301
@tomholub in stage 4 - `delete the public key by tapping the trash icon on that screen`
from what screen?
1st or 2nd?
<img width="413" alt="Screenshot 2022-01-19 at 15 30 56" src="https://user-images.githubusercontent.com/91205853/150140548-2f33bbc1-e15c-4901-b539-fa027af63777.png">
<img width="411" alt="Screenshot 2022-01-19 at 15 31 02" src="https://user-images.githubusercontent.com/91205853/150

[2022-01-19 13:38] fcvakintos commented on #1301
and I cant check fingerprint for this user -> it is empty

[2022-01-19 14:21] Kharchevskyi commented on #1293
1. I have pushed the commit to - `feature/issue-1293-migration-test` with changed schema
2. didn't create any migration (only schema version changed)
3. Test on ci failed - https://flowcrypt.semaphoreci.com/branches/020dc73b-4d68-43ca-91f2-0c1d2452d56f

[2022-01-19 19:23] tomholub commented on #1293
On https://flowcrypt.semaphoreci.com/jobs/21b93bee-b074-493b-a706-48c2266a041f there are many test failures unrelated to migration - doesn't count for verifying that the migration test works.

All tests except for the migration test should be passing to conclusively verify.

[2022-01-19 19:59] #1282 closed

[2022-01-20 13:26] fcvakintos commented on #1299
1. `compose - nogpg and revoked recipients trigger both warnings` - `sending message to user with expired/revoked public key produces modal`
`2. `compose - freshly loaded pubkey`  - `check filled compose email after reopening app and text autoscroll`
3. `compose - list of pubkeys gets refetched in compose` - not covered
4. `compose - can load contact based on name` - `user is able to select recipi

[2022-01-20 13:44] Kharchevskyi commented on #1293
@tomholub can you please clarify requirements?
1. create any schema change in db that doesn't break the app itself
- if we add some optional field to realm object without bumping schema version - app will crash
PR - #1312 (first commit)
CI run - https://flowcrypt.semaphoreci.com/jobs/ad47552d-203b-4b1d-b413-0b23a5fa7928
`✖ user should be able to check encrypted email, contacts after update app fro

[2022-01-20 13:47] tomholub commented on #1293
We have a test that is supposed to break when we forget to do a migration.

Your task is to verify that the test works properly. @sosnovsky can answer further questions if needed.

[2022-01-20 13:48] Kharchevskyi commented on #1293
https://github.com/FlowCrypt/flowcrypt-ios/issues/1293#issuecomment-1017517798
Looks like works as expected.

 `user should be able to check encrypted email, contacts after update app from old version` - failed in case there are no migration and passed if migration added.

[2022-01-20 17:10] ivan-ushakov commented on #1024
With this flag it produces a lot of warnings like:

[code]

Such warnings are related to Texture (mostly).

[code]

Adding `Task` + `await` could make code a bit verbose. Are we OK with it?

[2022-01-21 09:54] sosnovsky commented on #1293
Looks good for me:

✅ test for migration from older app version fails on db scheme change
https://flowcrypt.semaphoreci.com/jobs/ad47552d-203b-4b1d-b413-0b23a5fa7928/summary?test-result-id=4ae71336-e44b-39bf-b9d2-752e234818a5

✅ all tests pass after database version bump
https://flowcrypt.semaphoreci.com/workflows/071f4fcb-01e1-4ef0-81c4-59923ec75c60/summary?test-result-id=4ae71336-e44b-39bf-b9d2-

[2022-01-21 09:54] #1293 closed

[2022-01-21 10:06] tomholub opened #1326 "improve handling of attester submit errors on IMAP/SMTP ?"
Yes, it should be better to have alert with such actions for key error
- `Replace public key` - opens  https://flowcrypt.com/attester/update-public-keys
- `Delete public key` - opens https://flowcrypt.com/attester/update-public-keys?intention=delete
- `Cancel` - redirects user back to sign in screen

@tomholub does such error handling looks good for you?

_Originally posted by @sosnovsky in https:

[2022-01-21 10:08] tomholub commented on #1326
The Attester website is not really well suited to be linked that way - the user wouldn't know what to do. So if we were to address this, we'd have to do something else, but it's not clear it's worth it. We'll see later, if/when IMAP ever becomes a common usecase.

[2022-01-21 10:21] sosnovsky commented on #1024
I think we can leave this issue for later, as currently these warnings don't affect app performance.

Maybe in the future we'll replace `Texture` with `SwiftUI`, or `Texture` will add support for actors (but it's a small chance, as it's development isn't very active).

@tomholub are you ok with this?

[2022-01-21 10:24] tomholub commented on #1024
I'll follow your suggesion

[2022-01-21 10:24] tomholub commented on #1024
Does it mean we're postponing the whole issue?

[2022-01-21 10:32] tomholub commented on #1299
Thank you. The issue `compose - list of pubkeys gets refetched in compose` - not covered - will be covered in https://github.com/FlowCrypt/flowcrypt-ios/pull/1321 so I can close this issue.

[2022-01-21 10:32] #1299 closed

[2022-01-21 10:33] sosnovsky commented on #1024
Yes, as currently enabling these flags produces some misleading warnings and will need code updates which can be unnecessary in the future:

`-Xfrontend -warn-concurrency` - will have more gradual adoption of concurrency in the next Swift versions (https://twitter.com/dgregor79/status/1470940523259056129)

`-Xfrontend -enable-actor-data-race-checks` - most warnings occur in `Texture` framework met

[2022-01-21 10:34] tomholub commented on #1024
got it. Let's re-evaluate at the end of the year.

[2022-01-21 10:45] tomholub commented on #1301
This one is supposed to delete whole contact + pubkey, as you say:

![image](https://user-images.githubusercontent.com/6306961/150513550-d77a969f-02a6-460d-8f0b-5d9f8de896de.png)

This one is supposed to only delete pubkey but leave the contact in:

![image](https://user-images.githubusercontent.com/6306961/150513628-b04ebce3-55e6-41a7-9bca-2307914bee01.png)

You can tap either of the two. The res

[2022-01-21 10:54] fcvakintos commented on #1299
yes

[2022-01-21 13:52] tomholub opened #1327 "inconsistency between contact trash icon and public key trash icon result"
This one is supposed to delete whole contact + pubkey, as you say:

![image](https://user-images.githubusercontent.com/6306961/150513550-d77a969f-02a6-460d-8f0b-5d9f8de896de.png)

This one is supposed to only delete pubkey but leave the contact in:

![image](https://user-images.githubusercontent.com/6306961/150513628-b04ebce3-55e6-41a7-9bca-2307914bee01.png)

You can tap either of the two. The res

[2022-01-21 13:54] tomholub commented on #1156
#1284 hopefully settled now, let me know if you are still blocked

[2022-01-21 14:33] #1233 closed

[2022-01-21 17:49] #1301 closed

[2022-01-21 17:50] tomholub opened #1329 "set custom timezone for simulator in ui tests"
Of course it is a timezone issue. Can you set in appium runner to run the iOS simulator on UTC timezone regardless of the timezone of the host? There must be settings for it.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1321#discussion_r789875899_

[2022-01-21 17:50] tomholub commented on #1329
![image](https://user-images.githubusercontent.com/6306961/150575768-712bdabc-bcfa-4fa5-ae98-b448b4366d68.png)

[2022-01-22 19:49] #1310 closed

[2022-01-23 08:05] tomholub commented on #1205
@martgil can you re-test tomorrow since the fixes has landed?

[2022-01-23 08:12] tomholub commented on #659
comes from https://github.com/FlowCrypt/flowcrypt-ios/pull/650#issuecomment-939542068 - now we have signature verification code, and therefore signing should be testable / verifiable.

[2022-01-23 08:20] tomholub commented on #1076
@ivan-ushakov can you look into handling the objc exception just for this one case?

[2022-01-23 08:28] martgil commented on #1205
Sure, sir! I'll verify the fix by tomorrow

[2022-01-24 03:50] martgil commented on #1205
@tomholub I did retest the attachment preview feature, the script execution no longer works as well as the src attribute doesn't work in the preview.

[2022-01-24 08:55] fcvakintos commented on #1327
@tomholub i checked using my account and after deleting only pubkey - the account is displayed grey in compose and new pub key is present in contact details

https://user-images.githubusercontent.com/91205853/150751087-6a50e965-8f7a-4ba4-a5ae-abe487e025b5.mov

[2022-01-24 11:15] #1205 closed

[2022-01-24 11:30] tomholub commented on #1327
Thank you for the video, this is a bug for sure. I'm glad you mentioned it.

[2022-01-24 11:37] tomholub commented on #1327
Interestingly, after you go back to Settings -> contacts, it seems that it did save the new public key. But it didn't render it. I think, if you went back to compose one more time and added that email one more time, it would likely be green.

The bug that needs to be fixed is that when the email is entered after deleting the public key, it's supposed to be gray at first but then it should turn gre

[2022-01-24 11:37] tomholub commented on #1327
@sosnovsky once you're done with 0.7.0 issues, please look at this. You can test manually, and @fcvakintos will write an automated test for it.

[2022-01-24 16:29] ivan-ushakov commented on #1076
Sure. Does it still happen?

[2022-01-25 09:32] fcvakintos commented on #1329
@tomholub, I tried to resolve this issue, i found 1 solution:
We need change timezone for semaphore CI when we run automation test( using "sudo ln -sf /usr/share/zoneinfo/UTC /etc/localtime"
and we will get UTC time for signature date
<img width="629" alt="Screenshot 2022-01-25 at 11 30 40" src="https://user-images.githubusercontent.com/91205853/150950059-d5d685ab-71e4-471d-8ff5-0ec23c0d8f35.png">

[2022-01-25 10:28] Kharchevskyi commented on #1303
@tomholub do we still need to do smth in scope of this issue after #1311 merged?

[2022-01-25 15:39] tomholub commented on #1076
I don't know. It happened once, it may happen again.

[2022-01-25 19:08] tomholub opened #1335 "use `missing` instead of `missed` in variable/type names"
`missingPublicKey`, not `missedPublicKey`, etc. I'm filing an issue to rename all similar situations.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1330#discussion_r792031308_

[2022-01-25 19:08] tomholub commented on #1335
Also in any text displayed to user

[2022-01-25 19:09] tomholub commented on #1303
@fcvakintos does it behave as expected for you now?

[2022-01-26 11:38] tomholub opened #1337 "include names in `to/cc/bcc` fields when calling FES"
client app is stripping out the names of the Google contacts - and sending just the email address.

[code]

FES can deal with the name and email address for all the from/to fields like `Recipient Name <recipient@example.com>` - please update client to send it

_Originally posted by @Jerbell in https://github.com/FlowCrypt/flowcrypt-enterprise-on-prem/issues/2153#issuecomment-1018210504_

related i

[2022-01-26 12:46] #1315 closed

[2022-01-27 08:08] fcvakintos commented on #1329
I found another way
we get date and convert it to UTC timezone, it works on local and for remote
<img width="937" alt="Screenshot 2022-01-27 at 10 07 36" src="https://user-images.githubusercontent.com/91205853/151317175-1415185e-e84b-4295-9ef0-55d43dd918b9.png">

[2022-01-27 09:27] #1121 closed

[2022-01-27 10:55] Kharchevskyi commented on #951
Is it still actionable?
<img width="431" alt="Screenshot 2022-01-27 at 12 55 05" src="https://user-images.githubusercontent.com/13693255/151345305-18519040-8f7d-4302-8c45-a41879b1d5ed.png">

[2022-01-27 13:00] Kharchevskyi opened #1343 "Open attachments issues"
When opening big attachments app freezes for quite a long and ui is not responsive, beside that it is possible to tap on the attachment multiple times which cause to opening screen multiple times

See attached video
https://user-images.githubusercontent.com/13693255/151363401-448a13af-018c-4128-add5-c02ce2a7cd90.MP4

* Check that file processing is not on main thread
* Disable multiple taps
* Add

[2022-01-27 13:01] Kharchevskyi commented on #1343
[code]

[2022-01-27 15:10] tomholub commented on #1343
Do you want to look into this or do you think @ivan-ushakov should look into it?

[2022-01-27 15:13] tomholub commented on #951
I think @sosnovsky may have fixed it. Looks ok this way.

[2022-01-27 15:13] #951 closed

[2022-01-27 15:13] tomholub commented on #1329
There you go.

[2022-01-27 15:15] Kharchevskyi commented on #1343
Sure. Will take a look

[2022-01-27 16:40] #1085 closed

[2022-01-27 19:48] #1306 closed

[2022-01-28 03:50] martgil opened #1346 "Missing private key packets validation when importing/retrieving private key"
FlowCrypt recently received a security report wherein a bad private key is not getting blocked when importing/retrieving the private key. eg retrieving the key from backup (inbox), importing a private key file.

Sample bad private key:
[corrupted-rsa-key.asc.txt](https://github.com/FlowCrypt/flowcrypt-ios/files/7955539/corrupted-rsa-key.asc.txt)

Steps to reproduce:
1. The easiest way to reproduce

[2022-01-28 10:11] #1329 closed

[2022-01-28 12:53] tomholub opened #1348 "refactor EnterpriseServerApi for single-fetching of fesUrl"
I think that after finishing and merging https://github.com/FlowCrypt/flowcrypt-ios/pull/1331 we should also update `EnterpriseServerApi` to have `email` property (which will be passed from `AppContextWithUser`), so we don't need to pass it manually for every method.
Then we'll be able to fetch `fesUrl` only once and store result locally, while currently it's fetched for each request.

_Originally

[2022-01-28 13:14] tomholub commented on #1346
@martgil could you please write a (failing) test case for this here? https://github.com/FlowCrypt/flowcrypt-ios/blob/master/Core/source/test.ts

[2022-01-28 15:27] sosnovsky commented on #1120
As I found - ordering here is right (it's the same as in web-version of Gmail), but Gmail API returns wrong value for `internalDate` of message object. I checked `GTLRGmail_Message` from API response, but didn't find right date in any property, so it'll need further investigation.

<img width="784" alt="Screenshot 2022-01-28 at 17 22 52" src="https://user-images.githubusercontent.com/1062093/15157

[2022-01-28 15:59] ivan-ushakov commented on #996
@tomholub May I start with `0.9.0: Post-EIS maintenance` tasks?

[2022-01-28 18:26] tomholub commented on #1120
So currently the order matches the order on webmail? But date renders wrong.

See what "encrypted inbox" in browser extension does, where we render it ourselves from API (browser action button -> "encrypted inbox"). If that one is correct, see what typescript does to get it correct.

[2022-01-28 18:33] tomholub commented on #996
thanks for checking - yes you can go ahead and work on these

[2022-01-28 20:34] sosnovsky commented on #1120
Yes, order is right, but date is wrong for some messages.

`encrypted inbox` in browser extension has the same issue:

<img width="706" alt="Screenshot 2022-01-28 at 22 32 57" src="https://user-images.githubusercontent.com/1062093/151617416-ae65d0f9-0985-4d5e-b461-bda5d904c66e.png">

[2022-01-28 21:13] tomholub commented on #1120
got it. A possible Gmail API bug.

[2022-01-29 18:43] #1076 closed

[2022-01-31 11:00] fcvakintos opened #1351 "Cant run tests locally, get "Could not extract Info.plist from 'FlowCrypt.app':" error"
When I try to run tests, i get error
`Request failed with status 500 due to unknown error: An unknown server-side error occurred while processing the command. Original error: Could not extract Info.plist from 'FlowCrypt.app': Plist file doesn't exist: '/Users/dmitrysotnikov/workspace/flowcrypt-ios/appium/FlowCrypt.app/Info.plist'
[0-0] 2022-01-31T10:47:45.055Z ERROR webdriver: UnknownError: An unk

[2022-01-31 11:01] fcvakintos commented on #1351
@tomholub who from devs can help me with this issue?

[2022-01-31 11:25] sosnovsky commented on #1351
@fcvakintos I just tried to run tests on the latest `master` code - works well for me.
Can you try to delete `FlowCrypt-...` folder from `DerivedData`, then re-build app and copy new `FlowCrypt.app` from `DerivedData/FlowCrypt-...` to `appium` folder?

[2022-01-31 12:38] fcvakintos commented on #1351
@sosnovsky I cant re-build the app after removing FlowCrypt-...

[2022-01-31 12:57] sosnovsky commented on #1351
Do you get any error in Xcode?

[2022-01-31 13:03] fcvakintos commented on #1351
@sosnovsky yes
<img width="1038" alt="Screenshot 2022-01-31 at 15 01 23" src="https://user-images.githubusercontent.com/91205853/151798109-550568b8-042c-4d7b-bbda-301f0db2ebf6.png">
<img width="1040" alt="Screenshot 2022-01-31 at 15 02 05" src="https://user-images.githubusercontent.com/91205853/151798183-767513ed-42e2-4498-bb84-52619e34e72b.png">

[2022-01-31 13:06] sosnovsky commented on #1351
I see `No space left on device` error in logs there - do you have enough space on your computer?
Are you building on simulator or on real device?

[2022-01-31 13:15] fcvakintos commented on #1351
on simulator

[2022-01-31 13:20] sosnovsky commented on #1351
Another possible fix - try to reboot macOS, maybe it'll remove some caches

[2022-01-31 13:51] sosnovsky opened #1352 "UI tests failing on Semaphore"
UI tests are failing on Semaphore with error

[code]

[2022-01-31 13:57] fcvakintos commented on #1351
@sosnovsky
I get these errors after removing FlowCrypt-...
<img width="342" alt="Screenshot 2022-01-31 at 15 56 09" src="https://user-images.githubusercontent.com/91205853/151806468-696e4142-e103-4218-b460-9e32ec989b9b.png">
<img width="341" alt="Screenshot 2022-01-31 at 15 56 15" src="https://user-images.githubusercontent.com/91205853/151806477-277f6af6-3e9f-4eef-bc39-297dc56c513e.png">

[2022-01-31 14:19] fcvakintos commented on #1351
yes, master

[2022-01-31 14:29] fcvakintos commented on #1351
it helps, thanks @sosnovsky

[2022-01-31 14:29] sosnovsky commented on #1351
Great 👍

[2022-01-31 14:29] #1351 closed

[2022-01-31 19:30] #1327 closed

[2022-02-01 08:01] tomholub opened #1353 "test deleting public without deleting contact, then composing"
@sosnovsky once you're done with 0.7.0 issues, please look at this. You can test manually, and @fcvakintos will write an automated test for it.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/1327#issuecomment-1020006720_

[2022-02-01 20:12] #1353 closed

[2022-02-01 22:41] #863 closed

[2022-02-02 08:55] #1253 closed

[2022-02-02 09:00] sosnovsky commented on #955
@tomholub should we close this one too, as all subtasks are completed now?

[2022-02-02 09:05] #955 closed

[2022-02-02 10:35] martgil commented on #1346
sir @tomholub sorry for the late reply. I will try to, sir. I'm currently having a minor issue on FlowCrypt/flowcrypt-ios/pull/1357 but will try to settle the errors and hopefully achieve the same result as `FlowCrypt/flowcrypt-browser#4271`

[2022-02-02 21:30] tomholub opened #1358 "remove DataService"

[2022-02-03 08:57] #953 closed

[2022-02-03 09:16] tomholub commented on #1156
#1288 is the same issue

[2022-02-03 09:16] #1156 closed

[2022-02-03 09:16] tomholub commented on #1288
@sosnovsky the status here now is that there is still 1 outstanding message that has wrong apparent date, caused as far as we know by Gmail API - is that correct?

[2022-02-03 09:21] Kharchevskyi commented on #956
What do you think about using SwiftGen in the project?
This tool will automatically generate swfit type safe code for strings.

https://github.com/SwiftGen/SwiftGen
[code]

Besides that it would be easier during code review to make sure all strings are localized.
@sosnovsky

[2022-02-03 09:22] tomholub commented on #959
@fcvakintos in this issue you can at least check order of messages within a particular email thread, instead of the inbox where we're still looking into potentially fixing it.

[2022-02-03 09:22] sosnovsky commented on #1288
Currently last message has right date (it was fixed by https://github.com/FlowCrypt/flowcrypt-ios/commit/d4d799019d80d8400ef070e0b816658d0351e1d5), but several messages in the middle of the list has wrong dates (from 2017 and 2018).

[2022-02-03 09:26] tomholub commented on #1288
@fcvakintos please write the test anyway, and skip the messages that are known to have weird dates, in the test.

With the following comment:

[code]

[2022-02-03 09:36] sosnovsky commented on #956
`SwiftGen` looks good for me - we can start with using it for strings, and later add support for assets, colors etc

[2022-02-03 10:03] Kharchevskyi opened #1361 "Use SwiftGen for strings"
What do you think about using SwiftGen in the project?
This tool will automatically generate swfit type safe code for strings.

https://github.com/SwiftGen/SwiftGen
[code]

Besides that it would be easier during code review to make sure all strings are localized.
@sosnovsky

_Originally posted by @Kharchevskyi in https://github.com/FlowCrypt/flowcrypt-ios/issues/956#issuecomment-1028773269_

[2022-02-03 12:46] sosnovsky commented on #1352
Temporary disabled `simctl` on Semaphore - UI tests work well now.

Related issue - https://github.com/ios-control/simctl/issues/30

[2022-02-03 14:05] tomholub opened #1362 "update OpenPGP.js to v5"
Likely, flowcrypt-ios uses an older version of OpenPGP.js than browser extension does.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/1357#issuecomment-1028299363_

[2022-02-04 07:50] IvanPizhenko commented on #1362
@tomholub I'm stuck in typescript a bit.
v4:
[code]

v5:
[code]
Then, our code:
[code]

This works with v4, but with v5 it gives error:
[code]
I don't understand how to rewrite this to preserve same functionality.

[2022-02-04 08:53] fcvakintos commented on #959
@tomholub can you confirm is it correct thread?
 I'm not sure to understand the task

<img width="433" alt="Screenshot 2022-02-04 at 10 52 05" src="https://user-images.githubusercontent.com/91205853/152499727-77fde7cb-72fe-4424-9d56-56a0231d1190.png">

[2022-02-04 12:07] tomholub commented on #1362
When a method has a return type of `x is y`, in this case `p is PrvPacket`, it's a type-testing method.

Into the method goes an unknown, or too regeric type.

Out of the method goes boolean. If the boolean is true, then typescript knows that the value in the input (the x) is of type y.

It's our job, within that method, to safely establish if it's that wanted type or not.

In this particular case

[2022-02-04 12:11] tomholub commented on #959
Yes, this is an example of one email thread. There are several messages in it. You want to make sure they start from oldest to newest, and that the `to` and `from` make it clear who sent each message to whom.

[2022-02-04 12:14] fcvakintos commented on #959
ok, thanks

[2022-02-04 12:16] tomholub opened #1363 "brew not installed - include in make dependencies?"
[code]

If should not include, could we include the recommended way to install homebrew in the repo readme?

[2022-02-04 17:15] IvanPizhenko commented on #1362
`(p as PrvPacket).tag === openpgp.enums.packet.secretKey` also doesn't work. It refuses to access static member on object, and if I access static member by class name, then what will be the sense of this function at all? Where those static members go in resulting JavaScript? Maybe I should try accessing it via prototype?

[2022-02-04 17:23] IvanPizhenko commented on #1362
it turns like correct solution is following:
[code]

[2022-02-04 17:54] #1363 closed

[2022-02-04 22:18] tomholub opened #1365 "0.6.0 testflight feedback crashes"
These happened on 0.6.0 release

[testflight_feedback.zip](https://github.com/FlowCrypt/flowcrypt-ios/files/8006564/testflight_feedback.zip)

[testflight_feedback2.zip](https://github.com/FlowCrypt/flowcrypt-ios/files/8006565/testflight_feedback2.zip)

[testflight_feedback_3.zip](https://github.com/FlowCrypt/flowcrypt-ios/files/8006563/testflight_feedback_3.zip)

[2022-02-05 18:27] ivan-ushakov commented on #1365
@tomholub

All have the same crash point:
[code]

In code:
[code]

Looks like app can not initialise Realm for some reason. Let's add Alert with error message.

[2022-02-05 18:28] tomholub commented on #1365
ok

[2022-02-06 13:07] IvanPizhenko commented on #1362
I'm stuck with following issue: openpgp v4 have had methods for reading whole stream content (`openpgp.streams.readToEnd()`). There is no equivalent in v5. I don't know how to implement it and I couldn't find anything suitable on the Internet so far.
Here is what it all about: some methods do return `MaybeStream<Data>`, where `Data = string | Uint8Array` and `MaybeStream<T> = T | Stream<T>`, where

[2022-02-06 14:09] Kharchevskyi opened #1366 "Infinite call to fetchAndRenderEmailsOnly for empty folders"
**SR:**
Open folder without any messages. Empty folder.

[code]

Please double check that pagination for messages works.
Open folder with a lot of messages and check that it loads new messages while scrolling to the bottom.

[2022-02-06 16:57] IvanPizhenko commented on #1362
Function `readToEnd()` seems to exist inside library, but it is missing in `openpgp.d.ts` and I am not sure if it is accessible outside at all.

[2022-02-06 17:08] IvanPizhenko commented on #1362
Added following to `openpgp.d.ts`:
[code]
If function like `readKey()` done similar way, with no special "exporting" in library source code, then this one should also work.

[2022-02-06 17:32] IvanPizhenko commented on #1362
Trying to run tests. Getting errors:
[code]
No ideas how to solve this. @tomholub @rrrooommmaaa Any ideas?

[2022-02-07 08:14] fcvakintos commented on #1288
@sosnovsky what is default count of emails on inbox screen?
20 or 40?
I see 40 before pagination

[2022-02-07 08:19] tomholub commented on #1366
Thanks for filing - how to reproduce?

[2022-02-07 08:23] tomholub commented on #1362
You can file an issue with OpenPGP.js repo, not having this in types (or not having it accessible) may be a possible oversight.

[2022-02-07 08:24] tomholub commented on #1362
OpenPGP.js 5 no longer does a one big import like to import everything, instead you are expected to be importing from individual modules of the library. It has been all decoupled. Not sure if that addresses the issue.

[2022-02-07 08:26] tomholub commented on #1362
To debug it, follow the path of how is OpenPGP.js imported in `endpoints`, and compare with how is v5 supposed to be imported in NodeJS.

[2022-02-07 09:14] sosnovsky commented on #1288
Each page has 20 emails, you see 40 emails because they're automatically loaded during scroll

[2022-02-07 09:18] fcvakintos commented on #1288
@sosnovsky I see 20 after login without scroll

[2022-02-07 09:18] fcvakintos commented on #1288
@sosnovsky maybe is it a bug?

[2022-02-07 09:20] sosnovsky commented on #1288
Yes, without scroll you should see 20 emails, then when you scroll to the bottom of the list app should load next page with 20 emails. Does it load page 2 for you?

[2022-02-07 09:22] fcvakintos commented on #1288
@sosnovsky yes, from 40 to 45 email

[2022-02-07 09:23] fcvakintos commented on #1288
if i open some email and back to inbox - count = 20 without scroll

[2022-02-07 09:25] sosnovsky commented on #1288
That's right, so there is no bug there. Then test should looks like this:
1. open Inbox screen
2. check number of messages (should be 20)
3. scroll to the bottom to load next page
4. check number of messages (should be more than 20)
5. scroll to the top of the list and perform pull-to-refresh
6. check number of messages (should be 20)
7. scroll to the bottom to load next page
8. check number of me

[2022-02-07 09:27] sosnovsky commented on #1288
It's a bug, we have an issue for it - https://github.com/FlowCrypt/flowcrypt-ios/issues/1289

[2022-02-07 09:28] fcvakintos commented on #1288
so default is 40?

[2022-02-07 09:28] sosnovsky commented on #1288
1 page = 20 emails

[2022-02-07 09:32] Kharchevskyi commented on #1366
Updated description.

[2022-02-07 09:32] fcvakintos commented on #1288
my steps:

-  login -> Inbox screen is open
- check count - > 40 emails
- scroll down to the first email on the inbox screen
- check count - > 45 emails
- scroll up to last email on inbox
- refresh screen - > 40 emails are displayed
- open some email
- click back button - >inbox screen is open
- check count  - > 20 emails are displayed

So i think bug is -  the default emails count after first log

[2022-02-07 09:35] fcvakintos commented on #1288
and
- open setting
- open back inbox screen
count of emails = 40

[2022-02-07 09:37] fcvakintos commented on #1288
@sosnovsky can you check in e2e.enterprise.test@flowcrypt.com?

[2022-02-07 09:37] sosnovsky commented on #1288
checking it

[2022-02-07 09:38] fcvakintos commented on #1288
thanks

[2022-02-07 10:06] sosnovsky commented on #1288
I reproduced this issue on my side - app loads page 2 even without scroll, I'll add this bug to issue https://github.com/FlowCrypt/flowcrypt-ios/issues/1366

So for now please check if initial count is 40 emails (not 20) and after scrolling to the bottom of the list it should be more than 40. And also add a comment there saying `Should be changed to 20 when https://github.com/FlowCrypt/flowcrypt-i

[2022-02-07 10:10] sosnovsky commented on #1366
@fcvakintos also noticed another issue with inbox pagination - when user opens `Inbox` screen it initially loads 2 pages of emails, instead of 1. It seems to be related to `willBeginBatchFetchWith` https://github.com/FlowCrypt/flowcrypt-ios/blob/master/FlowCrypt/Controllers/Inbox/InboxViewController.swift#L216

Probably these 2 issues have the same origin, so I'll include this one here too

[2022-02-07 10:29] sosnovsky opened #1367 "extract `getIdToken` methods from `SetupGenerateKeyViewController` and `EnterpriseServerApi`"
`SetupGenerateKeyViewController` and `EnterpriseServerApi` have the same `getIdToken` method.
It should be extracted to remove code duplication

[2022-02-07 10:35] fcvakintos commented on #1288
@sosnovsky thanks

[2022-02-07 16:16] ivan-ushakov commented on #1365
Looks like it is not possible with current approach to show alert because we must return Realm object anyway. We could store error and show it later.

[2022-02-07 21:24] IvanPizhenko commented on #1362
@tomholub I've rewored it, but now I'm getting build errors:
[code]

[2022-02-08 09:26] #1288 closed

[2022-02-08 10:24] fcvakintos commented on #959
@tomholub we need to add new accessibility id for thread messages
something like we did for recipients
who from devs can do this?

[2022-02-08 10:26] fcvakintos commented on #959
and we need to add accessibility id for message body(text)
<img width="1269" alt="Screenshot 2022-02-08 at 12 25 59" src="https://user-images.githubusercontent.com/91205853/152968669-95673545-3fa0-42e8-9d65-d8e81b1754fb.png">

[2022-02-08 11:19] tomholub commented on #1362
I'd have to see a draft for this, this way it's just guesswork

[2022-02-08 11:36] tomholub commented on #959
please ask @Kharchevskyi for accessibility ids going forward

[2022-02-08 11:37] tomholub commented on #1365
Couldn't it be thrown upwards and then display wherever we consume that property?

[2022-02-08 11:38] fcvakintos commented on #959
@Kharchevskyi can you help me this ?

[2022-02-08 11:46] Kharchevskyi opened #1370 "add new accessibility id for thread messages"
__Originally posted by @fcvakintos in https://github.com/FlowCrypt/flowcrypt-ios/issues/959#issuecomment-1032448491__

[2022-02-08 11:46] Kharchevskyi commented on #959
Sure, will do

[2022-02-08 14:35] ivan-ushakov commented on #1365
Let's try this approach. It will make code a bit verbose because of `throws` but one the other hand we will know what was wrong.

[2022-02-08 17:11] IvanPizhenko commented on #1362
I'll try some more things and let you know if I have any progress

[2022-02-08 19:38] IvanPizhenko commented on #1362
I've tried but nothing worked. So I think I need help with this.

[2022-02-08 19:40] IvanPizhenko commented on #1362
Another problem is that some things used in the code are no longer exported from library. They've cleaned up interface, and that is good, but it doesn't make it easier to port to it. For example, hash calculation still inside library, but not exported.

[2022-02-08 20:09] #956 closed

[2022-02-09 06:01] IvanPizhenko commented on #1362
After some manipulations I've got it running test. However not all tests passing.

[2022-02-09 10:46] tomholub opened #1373 "storage corrupted - unable to open realm"
![image](https://user-images.githubusercontent.com/6306961/153182594-1a0a4024-f953-43d0-b8be-10f7a8c5a540.png)

[2022-02-09 19:52] IvanPizhenko commented on #1362
Something strange happens. In this code (I've added few debug outputs):
[code]
`await key.getExpirationTime();` really forces verification and 1 signature is verified successfully and `verfied` set to true on it, but/ and it then gets included into `allSignatures`. However, in `allSignatures` it does not have `verified` set for some reason.
@tomholub @rrrooommmaaa any ideas?

[2022-02-09 20:35] IvanPizhenko commented on #1362
Update: It seems to be error in openpgp.js

[2022-02-09 22:49] IvanPizhenko commented on #1362
@tomholub Btw, we will anyway have to make our own custom modifications to openpgp.js, because from what I can see from current communication with openpgp.js maintainers, not all our modifications will be happily accepted into upstream. And so we have to comply with LGPL, which means we **MUST** distribute modified sources and do it under **exactly under LGPL** (so current "limitations apply" clau

[2022-02-09 23:03] IvanPizhenko commented on #1362
Can't catch, what is wrong here, they look as equal:
[code]

[2022-02-09 23:21] IvanPizhenko commented on #1362
Got all TS tests passing.

[2022-02-10 00:05] IvanPizhenko commented on #1362
Got all TS tests passing locally and on CI.

[2022-02-12 20:36] #1365 closed

[2022-02-12 22:14] IvanPizhenko opened #1376 "Consistent code formatting"
Sure, it's well readable. I was just thinking for consistency. Let's file another issue to look into formatting across the TS code later.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1374#discussion_r805207497_

[2022-02-13 21:31] tomholub opened #1377 "fix openpgp.js cert.verify types"
see above - need to have openpgp.js to release new version with my edits.

_Originally posted by @IvanPizhenko in https://github.com/FlowCrypt/flowcrypt-ios/pull/1374#r805406671_

[2022-02-13 21:31] tomholub commented on #1377
<img width="883" alt="image" src="https://user-images.githubusercontent.com/6306961/153775910-0d1fc06a-d006-4464-9f32-b690de7321ab.png">

[2022-02-13 21:34] tomholub commented on #1377
<img width="793" alt="image" src="https://user-images.githubusercontent.com/6306961/153776021-08329fb0-beab-4afd-bfd0-34a69e9f9070.png">

[2022-02-13 21:35] tomholub commented on #1377
actionable after they do a release - it may take some time

[2022-02-13 21:41] tomholub opened #1378 "fix types issue from OpenPGP.js v5 encrypt armored/binary"
from #1374

<img width="765" alt="image" src="https://user-images.githubusercontent.com/6306961/153776273-cbf892d1-55df-4d1a-b61e-dcf23549974a.png">

[2022-02-13 21:49] tomholub opened #1379 "make OpenPGP.js v5 code work with iOS JavaScriptCore"
https://github.com/FlowCrypt/flowcrypt-ios/pull/1374/files#r805180770

<img width="831" alt="image" src="https://user-images.githubusercontent.com/6306961/153776588-cdef8ebb-0abc-4a57-bad1-9f8475a0f24f.png">

[2022-02-13 21:52] tomholub opened #1380 "typescript: Use PrivateKey instead of Key types when appropriate"
https://github.com/FlowCrypt/flowcrypt-ios/pull/1374#discussion_r805173114

<img width="806" alt="image" src="https://user-images.githubusercontent.com/6306961/153776689-2163b8c2-216c-468d-8d4e-e1a1e6e105b2.png">

[2022-02-13 21:53] tomholub commented on #1379
<img width="806" alt="image" src="https://user-images.githubusercontent.com/6306961/153776732-c99b0be6-b5d7-48b5-83e1-87aeb0857f70.png">

[2022-02-13 21:54] tomholub commented on #1379
<img width="800" alt="image" src="https://user-images.githubusercontent.com/6306961/153776756-d27c1f58-e7bd-4907-8a18-3d7210687164.png">

[2022-02-13 21:57] tomholub commented on #1379
<img width="800" alt="image" src="https://user-images.githubusercontent.com/6306961/153776885-38d63811-6612-44a6-b51e-a0e1a600c8b8.png">

[2022-02-14 07:34] fcvakintos commented on #1370
@Kharchevskyi any updates about this task?

[2022-02-14 08:10] Kharchevskyi commented on #1370
Got sick.
Will get back to it this week

[2022-02-14 12:13] fcvakintos commented on #1370
thanks

[2022-02-16 20:17] sosnovsky opened #1383 "'user should be able login to multiple accounts' test fails on Semaphore"
`user should be able login to multiple accounts` test fails for all recent commits:

- https://flowcrypt.semaphoreci.com/workflows/2d55283b-21f7-4b43-b274-d70c767cd5f7/summary?test-result-id=4ae71336-e44b-39bf-b9d2-752e234818a5
- https://flowcrypt.semaphoreci.com/workflows/217c0d0e-8784-43ca-8c35-83e4e397f0f2/summary?test-result-id=4ae71336-e44b-39bf-b9d2-752e234818a5
- https://flowcrypt.semaphore

[2022-02-16 20:31] tomholub commented on #1383
I've sent you the .env file so that you have it available. I've also assigned Dmitry to investigate.

[2022-02-16 20:46] sosnovsky commented on #1383
@tomholub I tried to login with provided credentials, but got an error `Authentication unsuccessful, account locked. Contact your administrator`:

<img width="287" alt="Screenshot 2022-02-16 at 22 44 43" src="https://user-images.githubusercontent.com/1062093/154353965-a257f75c-fe3a-4b67-836b-12e23a967a74.png">

[2022-02-16 20:53] tomholub commented on #1296
@fcvakintos here are tests that I'm not sure if they are implemented or not. Please have a look at the browser extension tests (you can run the individual tests, too) and see if we have equivalent test on iOS. If we do, please mention which one.

 - [ ] `fail@key-manager-server-offline.flowcrypt.test - shows friendly KM not reachable error`
 - [ ] `no.fes@example.com - skip FES on consumer, show f

[2022-02-16 20:55] tomholub commented on #1383
Looks like they didn't like our use of that account for testing. Please disable the test for now. We'll have to do without this test until we have Gmail mock API available for testing.

[2022-02-17 09:33] fcvakintos commented on #1383
@tomholub Is it task on me?
or we can close it after merging PR by @sosnovsky?

[2022-02-17 10:22] tomholub commented on #1383
Should be left open after the PR is merged, for sometime in the future.

[2022-02-17 11:25] fcvakintos commented on #803
@tomholub I updated all dependencies to latest version, will create PR for this

[2022-02-17 12:32] fcvakintos commented on #1214
@tomholub  i cant reproduce it

[2022-02-17 14:27] tomholub commented on #1214
I understand. It's a flaky issue. But can you research the issue to see what could be possibly causing it, and any workarounds?

[2022-02-17 18:15] tomholub commented on #1214
ok

[2022-02-17 20:58] sosnovsky opened #1386 "Video reporter for tests not working"
Video reporter fails to start

[code]

[2022-02-18 09:46] #1362 closed

[2022-02-18 09:47] sosnovsky commented on #1386
I temporary disabled video reporter as it caused some tests to fail (https://flowcrypt.semaphoreci.com/jobs/76d5f042-6100-4dca-9669-2a1adcebd3dc), probably because of reporter timeout.

[2022-02-18 14:11] fcvakintos opened #1387 "Check "ui tests from browser extension - setup""
here are tests that I'm not sure if they are implemented or not. Please have a look at the browser extension tests (you can run the individual tests, too) and see if we have equivalent test on iOS. If we do, please mention which one.
- fail@key-manager-server-offline.flowcrypt.test - shows friendly KM not reachable error
-  [no.fes@example.com](mailto:no.fes@example.com) - skip FES on consumer, sh

[2022-02-18 15:20] fcvakintos commented on #1387
@tomholub all these cases are not covered for ios

[2022-02-19 08:30] ivan-ushakov commented on #1379
@tomholub

I tried to use new `flowcrypt-ios-prod.js.txt` and when I run application, I get
[code]

I want to continue with integration of OpenPGP library update in iOS, if you don't mind.

[2022-02-19 09:03] ivan-ushakov commented on #1379
After commenting that line out (because I found that such variables were already defines above), I got this error:
[code]
So it looks like merging (or generating) of JavaScript code produces wrong code for JavaScriptCore engine.

[2022-02-19 09:07] ivan-ushakov commented on #1379
Also I get error when I run `npm test`:
[code]

[2022-02-19 12:51] ivan-ushakov commented on #1379
OK. I found that I need to use Node version 16. Now I can run test but still have several problems:
[code]

[code]

[2022-02-19 23:42] tomholub commented on #1379
Ivan, I'll have to look into this myself. You have no real chance of getting this working, as it requires advanced TypeScript/JavaScrpt wizardry.

[2022-02-19 23:45] tomholub commented on #1379
Be careful self-assigning issues. If I thought you would be well suited to do this, I'd already have assigned it to you :-) are you low on issues to work on?

[2022-02-20 07:45] ivan-ushakov commented on #1379
I have several small issues

[2022-02-21 09:50] #659 closed

[2022-02-21 10:42] fcvakintos commented on #1370
@Kharchevskyi hey, any updates?

[2022-02-21 10:43] Kharchevskyi commented on #1370
Sorry for delay. Will add in few hours

[2022-02-21 10:58] fcvakintos commented on #1370
can you ping me?
I will check on branch

[2022-02-21 13:15] Kharchevskyi commented on #1370
@fcvakintos can you please check `feature/issue-1370-aid` and let me know what other locators do you need?

[2022-02-21 13:52] fcvakintos commented on #1370
@Kharchevskyi I dont see any new aids, can you check pls?

[2022-02-21 13:56] Kharchevskyi commented on #1370
Can you please let me know what exact ids you need?

[2022-02-21 14:27] fcvakintos commented on #1370
1. for sender emails, for each one - should be like sender-0-aid, sender-1-aid
<img width="357" alt="Screenshot 2022-02-21 at 15 57 43" src="https://user-images.githubusercontent.com/91205853/154969110-b18a13f8-2781-4d18-bf0e-7e2fd91c83c2.png">
2. for each date - something like date-0-aid, date-1-aid
3. for each arrow
<img width="429" alt="Screenshot 2022-02-21 at 16 25 32" src="https://user-image

[2022-02-21 14:37] #954 closed

[2022-02-21 14:37] #1352 closed

[2022-02-21 14:38] tomholub opened #1391 "recipient fields cc/bcc improvements"
I'll approve and merge this but it needs improvement.

First: Cc/Bcc recipients are not respected on reply-all. To reproduce:

1) open a message that has cc or bcc recipients in it. In my case, it was `to:me,cc:many people`. It could also be `from:me,to:somebody,cc:others,bcc:the rest` for example.
2) tap reply all
3) the message I'm composing now is `to:original sender` but it's missing all the c

[2022-02-21 14:39] tomholub opened #1393 "move compose layouting code to a separate file"
There's quite a bit of rendering or layouting code now in this VC, which makes business logic less obvious. Would it make sense to move it into some sort of decorator or rendering file (specific for this VC) instead of being here? Could be another PR, more of a maintenance task.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1381#discussion_r811120025_

[2022-02-21 14:39] tomholub commented on #1393
<img width="807" alt="image" src="https://user-images.githubusercontent.com/6306961/154976316-99ac5f5d-33de-4e1d-bac8-ee7b1c988dde.png">

[2022-02-21 15:30] Kharchevskyi commented on #1370
@fcvakintos Please let me know if this enough

<img width="1175" alt="Screenshot 2022-02-21 at 15 27 12" src="https://user-images.githubusercontent.com/13693255/154985129-5b0c10a8-3a37-47d0-a49a-e8623d769afa.png">
<img width="1173" alt="Screenshot 2022-02-21 at 15 28 32" src="https://user-images.githubusercontent.com/13693255/154985134-eb21c7e7-7ba3-4d4a-8a68-5364cb62b5a0.png">
<img width="1157" a

[2022-02-21 21:13] sosnovsky commented on #1393
Agree, we can move this part to `ComposeViewDecorator` as it's already contains code for styling compose screen.

[2022-02-22 07:26] fcvakintos commented on #1370
@Kharchevskyi , thank you
can we push it to my branch for test?

[2022-02-22 07:27] Kharchevskyi commented on #1370
Sure, you can merge my branch into yours. Let me know if you would need any help

[2022-02-22 10:10] #1343 closed

[2022-02-22 12:30] fcvakintos commented on #1370
@Kharchevskyi can we put value for messages?
because i cant get value from this element
<img width="1272" alt="Screenshot 2022-02-22 at 14 30 04" src="https://user-images.githubusercontent.com/91205853/155132736-ca4de650-4202-4bb4-b789-eb35d4b49a4f.png">

[2022-02-22 12:35] fcvakintos commented on #1370
something like for Email(label or value)
<img width="1262" alt="Screenshot 2022-02-22 at 14 35 10" src="https://user-images.githubusercontent.com/91205853/155133541-eab8f793-6ffb-4f72-9688-5b659d3781f3.png">

[2022-02-22 21:04] Kharchevskyi commented on #1370
please check https://github.com/FlowCrypt/flowcrypt-ios/pull/1395/commits/e23ffa16bc470407456045c554f38ac088debc57
<img width="900" alt="Screenshot 2022-02-22 at 21 03 12" src="https://user-images.githubusercontent.com/13693255/155219037-058901af-b07a-4adc-951f-c831f3f4ab56.png">

[2022-02-23 08:37] #1346 closed

[2022-02-24 03:11] martgil opened #1400 "[user concern] Does the "show encrypted messages" feature also comes with the iOS app?"
Hello sir, @tomholub,

I received a concern about whether would the iOS app have the "show encrypted messages" feature planned?

Many thanks,

Reference: https://mail.google.com/mail/u/1/#inbox/FMfcgzGmvBpgHjcfCVDbXgcHvcLxvlKk

[2022-02-24 21:12] tomholub commented on #1400
It is a difficult feature to implement, and hard to get right, currently not planned for iOS.

[2022-02-24 21:12] #1400 closed

[2022-02-25 06:20] martgil commented on #1400
Oh, okay, sir! I have updated the user about this. Thanks!

[2022-02-28 13:41] #870 closed

[2022-03-08 08:42] #977 closed

[2022-03-08 08:42] tomholub commented on #1373
haven't experienced in a while. May have actually fixed this in last version.

[2022-03-08 08:57] tomholub commented on #1393
For clarity, the above quoted chunk of code is just one of many in that file that are purely rendering/layouting, and most of such code should ideally move to `ComposeViewDecorator`, leaving the business logic in the VC.

You can make exceptions when you feel when moving it elsewhere doesn't add to clarity in the VC.

[2022-03-08 18:11] tomholub opened #1405 "Cc/Bcc recipients are not respected on reply-all"
to reproduce:

1) open a message that has cc or bcc recipients in it. In my case, it was `to:me,cc:many people`. It could also be `from:me,to:somebody,cc:others,bcc:the rest` for example.
2) tap reply all
3) the message I'm composing now is `to:original sender` but it's missing all the cc.

[2022-03-08 18:36] #1393 closed

[2022-03-09 11:12] #1405 closed

[2022-03-09 11:15] tomholub opened #1408 "Appium UI test for respecting cc on reply all"
Filing a separate issue to write a test for this issue #1405 / PR #1407 . The UI test should:

1) navigate to a message that has both `to:` and `cc:` (some already existing, don't add one during test. Or add one manually to the test account if there isn't any already present, then during test expect it to be already present)
2) tap reply all
3) verify cc included

_Originally posted by @tomholub i

[2022-03-09 14:27] tomholub commented on #1408
In file `appium/tests/specs/live/inbox/CheckReplyAndForwardForEncryptedEmail.spec.ts` you will see:

[code]

Here you will want to modify it to make sure that cc fields are also included.

I don't know it the source message has any cc: on it or not. If not, will need to use or create another message.

[2022-03-09 14:27] tomholub commented on #1408
To work on this, you will need:

1) access to the test account
2) secrets file for the ui tests

[2022-03-09 14:35] #1366 closed

[2022-03-09 16:54] ioanmo226 commented on #1279
@tomholub I can't reproduce this issue.
Could you tell me how to reproduce this issue?

[2022-03-09 16:57] tomholub commented on #1279
Try setting up an account, then replacing `try await getUserOrgRulesIfNeeded()` with `throw AppError.general('test')` and rebuild the app.

Then observe what happens during app startup

[2022-03-09 17:03] ioanmo226 commented on #1279
Sorry. I don't get you. why do we need to replace that code?
It will return error in that place. Further code will not proceed I think.

![image](https://user-images.githubusercontent.com/77344191/157492718-094a372a-c6d8-4d11-896b-04c8aae5a716.png)

[2022-03-09 17:19] tomholub commented on #1279
replacing that line, temporarily, allows you to simulate the situation when one of those lines throw an error.

When this happens, the current result is what you see on the screen.

The intended result should be that the modal should have both `Retry` and `Log out` options, so that user could log out and go through setup again.

[2022-03-09 17:20] ioanmo226 commented on #1279
Aha, got it

[2022-03-09 17:42] tomholub commented on #926
@martgil could you please include exact steps to reproduce this?

[2022-03-09 17:53] #1183 closed

[2022-03-09 19:04] #1279 closed

[2022-03-09 20:53] #451 closed

[2022-03-10 10:48] tomholub opened #1413 "rewrite arguments of checkFilledComposeEmailInfo"
One day we'll probably rewrite the method to be clearer like accepting `{to: [...], cc: [...]}` and so on. But for this issue, this looks good.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1412#discussion_r823567225_

[2022-03-10 10:49] tomholub commented on #1413
<img width="799" alt="image" src="https://user-images.githubusercontent.com/6306961/157646467-0804585f-d6b3-4c90-be62-79819b762e5e.png">

[2022-03-10 11:10] tomholub commented on #1373
this is still a problem, unfortunately

[2022-03-10 11:12] tomholub commented on #1373
It just happened to me, simultaneously on both the Enterprise build and the Consumer build.

That suggests it's likely not a concurrency issue or a race condition as previously thought (wouldn't happen to both apps at once) but more likely, some of the information used to store the storage encryption key is not stable over the lifetime of the app. And it changed on both apps at once.

[2022-03-10 11:28] tomholub commented on #1373
Likely culprit could be our use of `UserDefaults` in the process of retrieving the storage encryption key index, combined with `NSFileProtectionComplete` which seems unpredictable.

https://developer.apple.com/forums/thread/667959

<img width="1000" alt="image" src="https://user-images.githubusercontent.com/6306961/157652758-a7b37621-9ce8-4b4c-be3a-d8c4d6aef74c.png">

[2022-03-10 12:18] tomholub commented on #1373
This relates to `KeyChainService.getStorageEncryptionKey`. Currently, the encryption key is stored/retrieved as follows:

- encryption key is stored in OS key chain under a dynamic index
- the index under which the key is stored, is itself stored in UserDefaults
- when user first starts the app, these are empty. Therefore a new dynamic index is generated, stored in UserDefaults, and then this stri

[2022-03-10 12:49] tomholub commented on #1373
With that in mind, the possible fixes could be:

a) if app is starting and we detect it's in background eg `UIApplication.shared.applicationState == .background`, then don't initialize storage. This could be the simplest fix, if it works.

b) if a database file already exists at the target path, never initialize a new encryption key (index). If database file exists but there is no encryption key t

[2022-03-10 13:53] tomholub commented on #1373
can't. It just sometimes happens.

[2022-03-10 13:55] ioanmo226 commented on #1373
hmm... how did you reproduce it when it happened?

[2022-03-10 14:04] tomholub commented on #1373
simply opened the app

[2022-03-10 14:05] ioanmo226 commented on #1373
I see

[2022-03-10 14:55] ioanmo226 commented on #1373
@tomholub what happened when you tap `Reset` button?

[2022-03-10 15:11] tomholub commented on #1373
What do you think about the thoughts above - is it plausible?

[2022-03-10 15:37] ioanmo226 commented on #1373
I still don't know much about how encryption & realm database works in current app.
Need to dig deep.

[2022-03-10 17:19] ioanmo226 commented on #1413
@tomholub I think we can close this issue as it's already implemented in #1408 ?

[2022-03-10 17:21] tomholub commented on #1413
then you can update the PR description to indicate it closes this issue too. It will get auto closed once the PR is merged.

[2022-03-10 17:30] ioanmo226 commented on #1413
Done

[2022-03-10 19:03] #1408 closed, assigned to nobody

[2022-03-10 19:03] #1413 closed

[2022-03-11 06:33] ioanmo226 commented on #1373
@tomholub I checked deeply and I couldn't find anywhere which resets UserDefaults.
IMHO UserDefault is not a problem in this case.
Digging more now.

[2022-03-11 06:54] ioanmo226 commented on #1373
@tomholub
Error was thrown when initializing Realm so I think getting encryption key worked fine.
Otherwise, modal will show encryption key related error message.

So my suggestion is here.

When we catch Realm initialization error(due to decryption error as shown in above screen or something like that), we catch that event and delete current realm database file & re-initialize database using the

[2022-03-11 10:07] tomholub commented on #1373
Have you read the conversation at https://developer.apple.com/forums/thread/667959 ?

[2022-03-11 10:09] tomholub commented on #1373
And also https://github.com/FlowCrypt/flowcrypt-ios/issues/1373#issuecomment-1063994757 ? My guess was not that we don't have an encryption key, but that empty user default due to the behavior described in above link cause us to get a new encryption key which would of course error with an already set up database.

We can't keep deleting user storage, that's not a solution.

[2022-03-11 10:20] ioanmo226 opened #1414 "ComposeView doesn't hide search contacts view when user deletes whole email"
When user inputs email (inputs email in to recipients) and when user decides to not email and he deletes that email, user is not able to edit subject/message/can't click toggle button in screen.
Please check below recording.

https://watch.screencastify.com/v/FpZN0gWhjCk7PJiCXJtG

[2022-03-11 10:21] ioanmo226 commented on #1414
@tomholub Please confirm this issue and I think this issue will be fixed in milestone 0.8.1 too.

[2022-03-11 10:35] tomholub commented on #1414
Sure, that looks like it needs fixing.

[2022-03-11 13:21] ioanmo226 commented on #1373
I think I now find why this issue happens. Your guess was right I think.
From what I've found, when user uses app & force-closes app and let device locked for 30+ min, then device will start to prewarm apps.

[2022-03-11 13:24] ioanmo226 commented on #1373
@tomholub
I think I now find why this issue happens. Your guess was right I think.
From what I've found, when user uses app & force-closes app and let device locked for 30+ min, then device will start to prewarm apps.
In this prewarm case, protected datas are not available as app is not fully active.
To fix this issue, we need to check `UIApplication.shared.isProtectedDataAvailable` and wait until

[2022-03-11 13:32] tomholub commented on #1373
ok, now we're talking

[2022-03-11 14:05] #1414 closed

[2022-03-11 14:33] tomholub commented on #1373
I''ll also put a last-resort guard/throw for `UIApplication.shared.isProtectedDataAvailable` in `KeyChainService`. In case we miss something in the future.

Hopefully that's the last time I've seen this issue - it's embarrassing.

[2022-03-12 14:34] #1373 closed

[2022-03-14 09:26] ioanmo226 commented on #1291
@tomholub Please confirm if this issue is still reproducible.
For me, searching email by recipient name works fine.

[2022-03-14 11:29] ioanmo226 commented on #837
@tomholub I also can't reproduce this issue

[2022-03-14 12:27] tomholub commented on #1391
@ioanmo226 you've been self-assigning other issues, but I'd need you to do this particular one with priority - that's why it was the only one I've assigned you until done. Thanks!

[2022-03-14 12:30] ioanmo226 commented on #1391
@tomholub Got it

[2022-03-14 12:30] #417 closed

[2022-03-14 12:55] tomholub opened #1420 "test for using local active contact if failed to fetch"
This will be a test case to write for @fcvakintos to write after this PR is merged:

1. open compose screen, search `robot@flowcrypt.com`, wait for it to load. Verify renders as valid.
2. Search for `expired@flowcrypt.com` and wait for that to load. Verify renders as expired.
3. search for `revoked@flowcrypt.com` and wait to load. Verify renders as revoked.
4. Remove all recipients.
5. go offline

[2022-03-14 12:56] tomholub commented on #1420
This can be written once #1419 merges

[2022-03-14 12:56] tomholub commented on #837
ok

[2022-03-14 12:56] #837 closed

[2022-03-14 13:03] tomholub commented on #1291
looks ok now

[2022-03-14 13:03] #1291 closed

[2022-03-14 13:59] #853 closed

[2022-03-14 15:41] tomholub commented on #959
Possible. You can test for either of the two values to be present.

[2022-03-15 06:59] ioanmo226 opened #1422 "Incorrect behavior when user wants to delete a contact in the Contacts screen"
After the user has deleted a contact on the "Contacts" screen, if user wants to delete another contact, app will start deleting the contact that is under the contact to be deleted.
For example, if there are 4 contacts (A, B, C, D) and the user deleted contact B first.
If the user wants to delete contact C, contact D will be deleted and if the user wants to delete contact A, contact C will be delet

[2022-03-15 09:29] fcvakintos commented on #959
I added function for convert date to UTC time zone

[2022-03-15 11:16] tomholub commented on #1422
Thanks for noticing!

[2022-03-15 11:18] tomholub commented on #959
ok

[2022-03-15 11:19] #959 closed

[2022-03-15 11:19] #1370 closed

[2022-03-15 11:21] ioanmo226 commented on #1422
@tomholub Got it

[2022-03-15 12:46] fcvakintos commented on #1420
@tomholub we cant turn on offline mode in our test, it is not working on IOS
https://appium.io/docs/en/writing-running-appium/other/network-connection/

[2022-03-15 22:10] tomholub opened #1426 "ui test: confirm that subsequent delete of contact deletes the right one"
@tomholub, @fcvakintos
UI testing should be

1. Navigate to contacts screen.
2. Delete contact by tapping delete button. Confirm if that contact is removed.
3. Delete contact (any contact below deleted contact) again and confirm if that contact is successfully removed from the list.

_Originally posted by @ioanmo226 in https://github.com/FlowCrypt/flowcrypt-ios/issues/1424#issuecomment-1068291774_

[2022-03-15 22:10] tomholub commented on #1426
The bug was that, after deleting one of them, the list wasn't re-indexed and subsequently deleting another one would delete the wrong contact from the list.

[2022-03-15 22:13] #1422 closed

[2022-03-15 22:17] tomholub opened #1427 "compose recipients: text input should not take up a whole line"
Also, I suppose each section doesn't need an empty row below it? The caret could be to the right of the last recipient in expanded view? Like this view:

![image](https://user-images.githubusercontent.com/6306961/158439235-8f2953c5-86ec-43d7-93d1-301010ef9a51.png)

would become this:

![image](https://user-images.githubusercontent.com/6306961/158439638-f636aacc-b540-485e-9ed1-a1aebb98d3f4.png)

_O

[2022-03-15 22:17] tomholub commented on #1427
https://github.com/FlowCrypt/flowcrypt-ios/pull/1423#issuecomment-1068268708

[2022-03-16 11:11] fcvakintos commented on #1420
@tomholub what Attester API request should i use?

[2022-03-16 13:36] tomholub commented on #1420
It's the app that does the API requests. You just drive the UI and app makes requests to the mock.

[2022-03-16 13:49] fcvakintos commented on #1420
@tomholub can you provide steps for covering? Im not sure to understand you

[2022-03-16 15:07] fcvakintos commented on #1420
@tomholub could you provide revoked public key ?

[2022-03-16 15:17] fcvakintos commented on #1420
and how can i do this 'update attester mock to start returning an error'?

[2022-03-16 17:01] tomholub commented on #1420
Update attester mock code, similar to fes mock code. You'll want to copy and update method `throwErrorIfConfigSaysSo`. Then update attester config to include `returnError?: { code: number, message: string },` similar to fes config.

Then use that newly added config.

[2022-03-16 18:32] tomholub commented on #1175
these methods provide no value, since each method is just a one-liner. The consumers of these can be refactored to use the underlying methods directly.

[code]

The only method that's a bit more interesting is

[code]

which we could move into `PubLookup` and call it `fetchRemotePubkeyAndUpdateLocal`. That would make `PubLookup` depend on `LocalContactsProviderType`.

[2022-03-16 18:53] ioanmo226 commented on #669
@tomholub What does `thread` mean here?

[2022-03-16 19:26] tomholub commented on #669
It means a "conversation", a sequence of emails treated as one email thread.

[2022-03-16 19:40] ioanmo226 commented on #669
Aha, Got it

[2022-03-17 09:59] fcvakintos commented on #1420
@tomholub do you have revoked pubkey?

[2022-03-17 10:10] tomholub commented on #1420
see

[2022-03-17 10:33] tomholub opened #1429 "review LocalContactsProvider method names"
For another issue in the future - should evaluate naming of methods in LocalContactsProvider. There's a method called `searchRecipient` (sounds good) but this one is called `searchEmails` (sounds like it should probably be called `searchRecipients` ? ) - to review

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1428#discussion_r828975047_

[2022-03-17 10:53] tomholub commented on #1429
<img width="808" alt="image" src="https://user-images.githubusercontent.com/6306961/158794079-99c6cf06-570a-4e0e-9363-a9c8370fdb48.png">

[2022-03-17 10:53] #1429 closed

[2022-03-18 20:16] IvanPizhenko commented on #1376
@rrrooommmaaa @tomholub Do we have any code style settings for JavaScript and TypeScript in another projects?

[2022-03-18 22:20] tomholub commented on #1376
Yes- you can copy settings from flowcrypt-browser vscode project. It includes vscode extensions for auto formatting. Additionally, should copy config files for both tslint and eslint from flowcrypt-browser, plus there are some custom rule implementations.

[2022-03-19 12:37] #669 closed

[2022-03-19 12:45] tomholub commented on #1318
For example if I enter `abc,` into recipient, it will mark it as red. It would be good to be able to easily remove it by tapping an `x` icon. See what browser extension does.

[2022-03-19 12:47] #901 closed

[2022-03-19 12:59] tomholub commented on #840
Follow browser extension behavior. To understand this issue:

1) go to accounts.google.com on your account -> 3rd party apps -> flowcrypt ios -> revoke
2) login on ios app with that account, but don't tick Gmail permission during the grant screen
3) you will be prompted to login / grant again

current behavior: the user has to select their email account address again, especially if you are logged

[2022-03-19 13:03] tomholub commented on #1119
As we transitioned towards async/await syntax, we didn't want to refactor the whole app at once in `actor` style, and so we made a few `private actor` classes on bottoms of files that contained methods that must run on main thread.

Now that the whole app is using async/await, these should be refactored back into the controller with `@MainActor` on them or similar.

[2022-03-19 13:03] tomholub commented on #1119
![image](https://user-images.githubusercontent.com/6306961/159122174-5cf1fec2-4291-4c29-8555-d4c368f14cd4.png)

[2022-03-19 13:04] tomholub commented on #1119
You can do a PR with just one of them so that we can settle the strategy, and once merged, you can do remaining 8.

[2022-03-21 00:17] IvanPizhenko commented on #1376
@tomholub I've copied some settings from flowcrypt-browser, but I'd not say I found there something really related to typescript except enabling format-on-save in VS Code. Please look at #1431.

[2022-03-21 09:42] fcvakintos commented on #1420
Hey @tomholub, I added new method for Attester Mock, and get this behavior
`   mockApi.attesterConfig = {
              returnError: {
                  code: 400,
                  message: "some client err"
              }
          };
`
Is it correct in this case?
<img width="446" alt="Screenshot 2022-03-21 at 11 40 26" src="https://user-images.githubusercontent.com/91205853/159236741-cc7f995e-

[2022-03-21 13:58] tomholub commented on #1318
I'm good with your proposal. Thanks

[2022-03-21 14:00] tomholub commented on #1420
That looks good to me 👍

[2022-03-22 13:03] ioanmo226 commented on #1129
@tomholub `UserContactsProvider` is inherited from `CloudContactsProvider` and `GoogleUserService` is inherited from `UserService`.
I guess previous devs implemented this way because there might be `OutlookUserService` or `ICloudUserService` which would be inherited from `UserService`?
Please confirm

[2022-03-22 15:57] ioanmo226 commented on #840
@tomholub I agree that we need to provide `login_hint` in compose screen for grant contacts permission.

But for login screen, let's say user logged in with `a@gmail.com` google account(without ticking Gmail permission during the grant screen)
If we pass login_hint as `a@gmail.com` in this case, there will be no way for user to log out this `a@gmail.com` account.
Please check below screenshot.
I t

[2022-03-23 08:29] ioanmo226 commented on #840
@tomholub

[2022-03-23 08:29] ioanmo226 commented on #1129
@tomholub Please check

[2022-03-23 11:46] ioanmo226 commented on #840
If user taps `Cancel` it will return to login screen and when user taps `continue with gmail`, above screen will appear again.
So IMHO it's better we should not set `login_hint` for login screen.

[2022-03-23 11:46] tomholub commented on #1129
I suppose, since Outlook is planned sometime in the future.

But what is the difference between `UserContactsProvider` and `CloudContactsProvider` and `UserService`? It sounds to me like it should all be one class? And then from there, we could have children like `GoogleUserService` and `OutlookUserService` ?

[2022-03-23 11:47] tomholub commented on #1129
Also there seems to be two things somewhat co-mixed: "user service" and "cloud contacts". It all just seems like one big mess, as implemented. Could you propose possible ways to simplify and clean up?

[2022-03-23 11:48] tomholub commented on #840
Ok, for now, let's only add login_hint on the contacts prompt. Let's leave this issue open though. I'd like to discuss the login flow again sometime later.

[2022-03-23 11:49] ioanmo226 commented on #840
OK

[2022-03-23 13:03] tomholub opened #1437 "app crash on reply all of certain message"
@tomholub I found issue
app crash when user click on "Reply all" this email "Message with cc and multiple recipients and attachment"

https://user-images.githubusercontent.com/91205853/159701293-6b0baff9-5e0e-4302-be73-ed3f10168495.mov

_Originally posted by @fcvakintos in https://github.com/FlowCrypt/flowcrypt-ios/issues/1432#issuecomment-1076331162_

[2022-03-23 13:04] tomholub commented on #1437
@ioanmo226 when you have a chance, please have a look. If you have any questions, ask @fcvakintos

[2022-03-23 13:06] ioanmo226 commented on #1437
@tomholub I also faced this issue and it lets all CI tests fail.

[2022-03-23 13:06] ioanmo226 commented on #1437
Let me include this fix in #1337

[2022-03-23 13:07] tomholub commented on #1437
Got it - please debug it. Thanks!

[2022-03-23 13:07] tomholub commented on #1437
ok

[2022-03-23 14:48] #1119 closed

[2022-03-23 16:12] #1337 closed

[2022-03-23 16:12] #1437 closed

[2022-03-23 17:41] #1420 closed, assigned to fcvakintos

[2022-03-23 23:43] tomholub commented on #1367
I don't know a good place for it. If you don't know either, you can make a class `IdTokenUtils`

[2022-03-23 23:53] tomholub commented on #995
There used to be caching mechanism for the folder names showing in the menu (stored in local db?). There still probably is, but one of our refactors must have broken it. Need to investigate why the menu items are not cached, currently seem to load from API on each menu open.

[2022-03-24 07:40] ioanmo226 commented on #1172
@tomholub Specific reason for ban forEach?
forEach has its advantage that it simplifies codes.

[2022-03-24 07:47] ioanmo226 commented on #995
Do you have any idea why force reloading folders every time user opens menu?

![image](https://user-images.githubusercontent.com/77344191/159867256-e7cebbd5-5ad4-46ba-8d0d-f758f155f896.png)

[2022-03-24 11:05] tomholub commented on #1172
It's for consistency with our other codebases, on other platforms.

Also to ensure there is always "one obvious way to do a thing". When you have an array and you want to iterate over it and return, then it's `.map` and friends. If you want to iterate without returning, then it's `for x of y`. It makes the intention clear. No need for yet-another-way to do a loop with forEach.

[2022-03-24 11:06] tomholub commented on #1172
The more the code looks like code on our other platforms, the easier is to do code reviews - which I have to do in 3 different languages. This was one of the reasons we embraced async/await here even though it meant dropping support for iOS < 15.

[2022-03-24 11:11] tomholub commented on #909
Looks like we already refactored this away

[2022-03-24 11:11] #909 closed

[2022-03-24 11:49] ioanmo226 commented on #1172
Ok, Got it

[2022-03-24 13:59] ioanmo226 commented on #1172
@tomholub I still think `forEach` is useful and `forEach` is in every language.
And it makes code a bit long if we completely remove forEach.

Let's take this for an example.
[code]

If we refactor this, it would look like this.
[code]

Let me know your thought

[2022-03-24 14:06] tomholub opened #1442 "request timed out when loading inbox"
<img width="396" alt="image" src="https://user-images.githubusercontent.com/6306961/159933590-de58a527-b421-4354-9aab-e09b18e4da6c.png">

We do a lot of requests at once when loading inbox, and it may sometimes time out.

When it times out, we seem to fail the whole loading and then we need to make all of the requests again.

I think it would be better if only the email messages that timed out had

[2022-03-24 14:14] tomholub commented on #1442
Additionally, we could limit amount of messages we pull concurrently. So instead of pulling 20 at once, we could have a system with 10 concurrent messages maximum. Then, when one of the messages returns a successful result, we could start fetching the 11th one and so on. When second one returns success, we could begin fetching 12th one. This would be for a separate issue, as it's a big enough issu

[2022-03-24 14:18] tomholub commented on #1172
Your second version is good. You can (though don't have to) still shorten it as follows:

[code]

[2022-03-24 14:20] ioanmo226 commented on #1172
You mean you still want to get rid of `forEach`?

[2022-03-24 14:20] tomholub commented on #1172
Absolutely

[2022-03-24 14:20] ioanmo226 commented on #1172
Ok

[2022-03-24 14:23] tomholub opened #1443 "evaluate using login hint during repeated grant in login flow"
@tomholub I agree that we need to provide `login_hint` in compose screen for grant contacts permission.

But for login screen, let's say user logged in with `a@gmail.com` google account(without ticking Gmail permission during the grant screen)
If we pass login_hint as `a@gmail.com` in this case, there will be no way for user to log out this `a@gmail.com` account when user wants to login with anoth

[2022-03-24 14:32] tomholub commented on #1443
@martgil can you please update the settings of the github action above, to ignore all emails at `@example.com` and also `@anything.test` ?

It could be just a change of configuration. Alex made some later version that could accept this kind of configuration, so you may or may not also need to update the github action itself to a later version.

[2022-03-24 14:42] #995 closed

[2022-03-24 15:43] tomholub opened #1445 "review: swift test oddly not using recipient data"
This looks odd. Not your fault - it highlights that it was originally odd. I think we should review this test in another issue.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1444#discussion_r834452975_

[2022-03-24 15:44] tomholub commented on #1445
![image](https://user-images.githubusercontent.com/6306961/159955143-fc3272ed-362c-4e63-8217-e145cf65ca0b.png)

[2022-03-24 16:56] #840 closed

[2022-03-25 07:32] martgil commented on #1443
sir @tomholub - I could be wrong but I think emails from `example.com` or `.test` is already in the ignored domains list. `Exempt domains: test,example.com,flowcrypt.com`

I'm able to get it here through github actions logs -
https://github.com/FlowCrypt/flowcrypt-ios/runs/5677921391?check_suite_focus=true

I'm also leaving another live test at this comment and see if its not working properly:
dem

[2022-03-25 10:23] tomholub commented on #1443
test@example.com

[2022-03-25 10:24] tomholub commented on #1443
maybe it's ok. Earlier it could have been confused. Thanks!

[2022-03-25 12:41] #1426 closed

[2022-03-25 13:02] #996 closed

[2022-03-25 13:04] tomholub opened #1448 "always use waitForContent when testing for presense of text"
- test content always with `element.waitForContent("expected content")`. This will keep checking for presense of expected content repeatedly for up to 15 seconds and then throw. That way, you avoid "testing too early" which is the cause of 95% of flakiness of UI tests. This is what we do on browser extension.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/105

[2022-03-25 13:06] tomholub commented on #1448
Here is the implementation on browser extension

[code]

Anytime we test for text content, a method similar to this one should be used.

[2022-03-25 13:07] tomholub opened #1449 "add accessibility ids"
never use position based element queries, instead always use accessibility identifiers. Add them to codebase when missing.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/1056#issuecomment-974681036_

[2022-03-25 13:08] tomholub commented on #1449
@fcvakintos please make a list of all test ui query situations when we are looking for "third element from the top" and similar (except when we deliberately do it with aid, like recipient bubbles - that is good).

I've seen some before, forgot where. All of those should be replaced with specific aid in the app.

[2022-03-25 13:11] tomholub commented on #1209
1) do a mock test of setup
2) set up fes API to return error code 404 with message "on error 404 app should act like there is no FES"
3) go through initial stage of setup (login) and check the resulting setup screen. It should be different than the regular setup screen. Please share screenshot. Then we'll settle exactly what to test on it.

[2022-03-25 13:11] tomholub commented on #1209
Test should be called `enterprise app allows setup without FES when FES returns 404`

[2022-03-25 13:20] #1172 closed

[2022-03-25 16:50] #1367 closed

[2022-03-25 18:04] tomholub opened #1453 "after reply, message should be in focus"
when I open a message and tap reply, currently I will end up in focus (caret), which then gets collapsed (correctly). But in this situation, caret should be on the beginning of the reply message I'm composing.

This is different from forward - for forward, it's correct that the recipient is in focus. (and recipients not in collapsed view)

Please add a test for it - for any of the tests that tap r

[2022-03-25 18:05] tomholub opened #1454 ""add recipients" line should disappear when recipients not in focus"
When I tap on the subject or message, I should no longer see "add recipients" line.

When I tap on the general recipients area, or expand cc/bcc, then I should see it again and the input should be in focus. And again it should disappear when I tap away.

[2022-03-25 18:08] ioanmo226 commented on #1454
@tomholub It currently works as you described.
Or do I understand something wrong?

![image](https://user-images.githubusercontent.com/77344191/160177362-36968e7c-8f15-48a1-988d-1313f671c1de.png)

[2022-03-25 19:19] tomholub commented on #1454
I was on old version, sorry. Yes, it's good now.

[2022-03-25 19:19] #1454 closed

[2022-03-25 19:20] ioanmo226 commented on #1454
Got it. No problem :)

[2022-03-25 19:24] tomholub opened #1455 "add a way to see recipient email address on compose"
Ever since we have used names for recipients, it's no longer possible to figure out which email address I'm emailing to on compose screen.

Gmail app has a solution for this - when I tap the recipient bubble, it shows me the name and email address.

I'd like something similar.

[2022-03-26 21:36] tomholub commented on #1443
@sosnovsky - later please have a look if login_hint can be used during login (if a second grant is needed) in a way that still allows user to go back and change their mind & use another account entirely.

[2022-03-28 09:38] fcvakintos commented on #1209
@tomholub I get this screen
<img width="415" alt="Screenshot 2022-03-28 at 12 37 44" src="https://user-images.githubusercontent.com/91205853/160370695-b763dff0-d49f-4dc4-a545-ae0c1c2e740e.png">

after
` mockApi.fesConfig = {
      returnError: {
        code: 404,
        message: "on error 404 app should act like there is no FES"
      }
    };`

[2022-03-28 09:38] fcvakintos commented on #1209
@tomholub Is it correct?

[2022-03-28 14:29] fcvakintos commented on #1449
@tomholub hey, do you mean something like these?
`NAME_AND_EMAIL: '-ios class chain:**/XCUIElementTypeOther/XCUIElementTypeStaticText[1]',
  DATE_CREATED: '-ios class chain:**/XCUIElementTypeOther/XCUIElementTypeStaticText[2]',
  FINGERPRINT: '-ios class chain:**/XCUIElementTypeOther/XCUIElementTypeStaticText[3]'`

[2022-03-28 19:41] #1445 closed

[2022-03-28 19:56] tomholub commented on #1449
Yes, exactly. The [1] and [2] and [3] will give us trouble, the moment we add some element it will break these tests. Whereas with aid they will remain working even after we rearrange the UI.

[2022-03-28 19:57] tomholub commented on #1209
That looks good

[2022-03-28 19:57] tomholub commented on #1209
You can just test that you find this particular screen, with that text and those buttons.

[2022-03-29 08:49] fcvakintos commented on #1209
@tomholub thanks, cool will finish today

[2022-03-29 09:54] ioanmo226 commented on #1167
Only missing access error is thrown and it's correct to display missing access dialog (as it's currently implemented)
![image](https://user-images.githubusercontent.com/77344191/160585305-f956fe39-f8e5-4a4a-987e-47db71629502.png)

SelectPhoto and selectFromFilesApp doesn't throw any errors

[2022-03-29 13:39] fcvakintos commented on #1449
1. NAME_AND_EMAIL: '-ios class chain:**/XCUIElementTypeOther/XCUIElementTypeStaticText[1]',
2. DATE_CREATED: '-ios class chain:**/XCUIElementTypeOther/XCUIElementTypeStaticText[2]',
3.FINGERPRINT: '-ios class chain:**/XCUIElementTypeOther/XCUIElementTypeStaticText[3]',
4.  ENTER_PASS_PHRASE_FIELD: '-ios class chain:**/XCUIElementTypeSecureTextField',

<img width="429" alt="Screenshot 2022-03-29 at

[2022-03-29 22:27] #1209 closed

[2022-03-29 22:30] tomholub commented on #1167
I suppose it changed. Thanks

[2022-03-29 22:30] #1167 closed

[2022-03-30 08:04] #1129 closed

[2022-03-30 09:40] fcvakintos commented on #1449
@tomholub check pls

[2022-03-30 11:26] #1453 closed

[2022-03-30 11:28] tomholub commented on #1449
let's add accessibility ids to replace these, called `aid-name-and-email`, `aid-date-created` and so on.

    NAME_AND_EMAIL: '-ios class chain:**/XCUIElementTypeOther/XCUIElementTypeStaticText[1]',
    DATE_CREATED: '-ios class chain:**/XCUIElementTypeOther/XCUIElementTypeStaticText[2]',
    FINGERPRINT: '-ios class chain:**/XCUIElementTypeOther/XCUIElementTypeStaticText[3]',
    ENTER_PASS_PHRAS

[2022-03-30 14:08] ioanmo226 commented on #1048
@tomholub For this case, I think it's better to just logout user (and show intro screen if there's no other account or show another inbox) and inform user with alert like this.
`Your account xxx was logged out because app grant was removed.`

If we try to re-authenticate user, logic will be complex.
User might not select `gmail` permission during re-authentication, or user might cancel reauthentic

[2022-03-30 15:17] ioanmo226 commented on #1442
@tomholub I added retry logic for `Task` level.
Added retry logic for getting threads list and getting thread info calls.
Default retry `maxRetryCount` is 3 and we can change it by passing `maxRetryCount` param to `Task.retrying call`.
I think this eliminates above problem.
Let me know your thoughts

[2022-03-30 16:21] ioanmo226 commented on #1048
OK, Got it

[2022-03-30 20:39] #1442 closed

[2022-03-31 07:13] ioanmo226 commented on #1048
@tomholub I can see that this issue is duplicate of #839 and that task is marked as `In Progress` by @sosnovsky.
@sosnovsky Have you already started work on this?

[2022-03-31 09:57] tomholub commented on #1048
Whoops. Sorry about the duplicate.

[2022-04-03 17:50] tomholub opened #1465 ""Compose Secure Message" placeholder didn't disappear"
happened on simulator, I think I clicked to the left of it and started typing

<img width="369" alt="image" src="https://user-images.githubusercontent.com/6306961/161441207-a2e1631f-ec51-4da4-b79c-6b2ac97eeabd.png">

[2022-04-03 17:52] tomholub commented on #1465
and then this

<img width="369" alt="image" src="https://user-images.githubusercontent.com/6306961/161441233-ce166c3d-0172-4af3-b49a-6a7439f048a5.png">

After that I tapped again and typed and it was normal

<img width="369" alt="image" src="https://user-images.githubusercontent.com/6306961/161441247-2ca188f1-32f0-4061-922c-7569213d8607.png">

Maybe I was typing too early initially? The hooks didn

[2022-04-04 13:33] sosnovsky commented on #1048
Yes, I'm currently working on #839, so this issue can be closed as duplicated.

[2022-04-04 13:33] #1048 closed

[2022-04-04 13:38] ioanmo226 commented on #1465
What do you mean `it`?
This seems like real strange issue and this should not happen.

[2022-04-04 18:09] tomholub opened #1467 "fesUrl as a lazy property"
I wonder - could there be situations when `EnterpriseServerApi` is initiated but a call to check if FES is active is not actually needed in that moment? We could maybe instead have `fesUrl` as a lazy computed property?

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1461#discussion_r842012165_

[2022-04-04 18:09] tomholub commented on #1467
<img width="939" alt="image" src="https://user-images.githubusercontent.com/6306961/161605217-32c4c5b9-d16d-4329-9734-92fc16e808dc.png">

[2022-04-04 18:10] #1348 closed

[2022-04-04 18:13] tomholub commented on #1465
I clicked to the left of the input. Like, where it said `Compose Secure Message`, I probably clicked somewhere around the `C`. The top recipients part may have still been loading after I entered the recipients at the moment I clicked the `C`.

[2022-04-04 18:13] tomholub commented on #1465
Looks like a possible race condition issue

[2022-04-04 18:15] tomholub commented on #1465
Also, the `Paste` bubble got stuck there, visible, as on the on the first screen shot. Didn't matter where else I clicked. But it went away when I typed `Ddddd`

[2022-04-04 18:25] tomholub opened #1468 "tapping away from typed recipient address should trigger evaluation"
reproduce:
1) open secure compose
2) enter a full address that is not in the contacts
3) tap below into empty space (currently occupied by contact search results that are empty)

Current behavior: nothing happens. I have to hit enter to have the recipient accepted / evaluated

Expected behavior: input should be evaluated

A simple fix would be that search results would be more visually differentia

[2022-04-04 18:32] tomholub opened #1469 "RSA 4096 sign too slow"
Takes even a minute or two minutes, depending on device, for a simple message. Reported by customer.

I just tested sending to a recipient with rsa4096 and it was fast (my own key was ECC).

This suggests that the problem may be be when signing using rsa4096 - need to test.

[2022-04-04 18:43] tomholub commented on #1468
related issue: immediately following a Google Contacts access grant, it's absolutely impossible to have my fully typed email address recipient evaluated (if not found from contacts). I had to delete my whole typed address, and then retype it, and then I could at least have it evaluated with "enter" key.

[2022-04-04 18:45] tomholub opened #1470 "a way to edit recipient email by tapping on it and choose edit"
I just thought of (needed) another item on that menu - a way to edit the recipient. For example, I made a type in the recipient, but I don't want to remove it and re-type the whole thing. I'll file another issue.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/1464#issuecomment-1087893368_

[2022-04-04 18:46] tomholub commented on #1470
I suppose, tapping "edit recipient" could remove the recipient bubble, and add it into the appropriate input (to/cc/bcc) where it was before, allowing me to edit the text before it gets evaluated and "bubbled" again.

[2022-04-04 18:59] tomholub commented on #1469
Indeed it's signing, took 35 seconds when sending from rsa4096 to ECC on iPhone 12 mini.

Also need to add a Swift test, that uses the `Core`, that measures it takes less than 1 second to sign. That will prevent regression once we do #1362

[2022-04-04 19:18] tomholub opened #1471 "improving tests for recipient popup"
_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1464#pullrequestreview-930831990_

[2022-04-04 19:18] #1455 closed

[2022-04-05 09:37] ioanmo226 opened #1473 "Display name in compose recipient list"
When user enters email in compose recipient input and tap `Enter` key, recipient name is not displayed. (Instead only email is displayed)
Let's say when there's a contact (test@example.com with `test user` name) and when user types test@example.com and tap `enter` key, `test@example.com` recipient is added.
Instead added recipient label should display as `test user` and email should be seen via re

[2022-04-05 10:26] tomholub commented on #1473
Agree

[2022-04-05 10:27] tomholub commented on #1473
I'm marking this for sometime later. Unless you are trying to bundle it with some other issue.

[2022-04-05 10:34] tomholub opened #1474 "check password-protected recipient in cc with normal recipient in to"
Which means it should contain all of them. I just checked on browser extension, which works in this scenario: it sends all.

@martgil please check this scenario on iOS

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/issues/1731#issuecomment-1088538696_

[2022-04-05 11:57] ioanmo226 commented on #1473
I prefer to do this now. This is simple to fix and is blocking #1471.
Of course, we can search recipient by name in #1471 but I'd prefer to do this issue first because it's simple to fix and necessary.

[2022-04-05 12:08] tomholub commented on #1473
ok - makes sense

[2022-04-05 15:42] #1470 closed

[2022-04-06 04:43] martgil commented on #1474
@tomholub I tested this scenario on iOS and here is what I've got:

the message gets sent even when adding a non-existing email to a password-protected message. Furthermore, this produces a notice that came from Gmail that message is not sent for the non-existing email which is expected (same behavior on browser extension).

[2022-04-06 09:45] tomholub commented on #1474
I'm mostly interested in scenario `to:existing email that has a public key` `cc:email without public key`. Does message get sent?

[2022-04-06 09:56] martgil commented on #1474
Yes, sir, message gets sent for both `cc/bcc` without pubkey + `to` with pubkey.

[2022-04-06 09:56] tomholub commented on #1474
great - thanks

[2022-04-06 09:56] #1474 closed

[2022-04-06 10:14] fcvakintos commented on #1448
@tomholub I added 2 methods - waitForText and waitForValue

[2022-04-06 10:32] tomholub commented on #1448
sounds good. What is the difference exactly? Please add comment to the methods to document it.

[2022-04-06 11:04] #1473 closed

[2022-04-06 12:09] ioanmo226 opened #1476 "ComposeViewController divide into small files"
Currently ComposeViewController is about 2000 lines long and hard to read/maintain.
Should be divided into small parts.

[2022-04-06 13:50] tomholub opened #1478 "add swift tests for how long it takes to do operations with rsa4096 key"
Also need to add a Swift test, that uses the `Core`, that measures it takes less than 1 second each to:
 - sign message with rsa4096
 - encrypt message with rsa4096
 - decrypt message with rsa4096
 - encrypt rsa4096 key
 - decrypt rsa4096 key

These will prevent regression once we do #1362 .

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/1469#issuecomment-108

[2022-04-06 13:52] tomholub commented on #1478
Sample [rsa4096.zip](https://github.com/FlowCrypt/flowcrypt-ios/files/8427393/rsa4096.zip)

Some of these operations may currently take much more than 1 second - especially signing. If true, then add maybe a 1 or 2 minutes limit for that one, until I fix it.

[2022-04-06 13:56] tomholub commented on #1478
Marking as priority - I'd need this by the end of the week. Please have a look at this after whichever task you're currently working on.

[2022-04-06 13:56] mobilestar1 commented on #1478
OK

[2022-04-06 13:57] ioanmo226 commented on #1478
OK

[2022-04-06 13:58] tomholub opened #1479 "improve naming of compose message updateState"
I see. We can leave it as is for now. Later, maybe it needs some renaming to make it clearer what it does.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1477#discussion_r843931517_

[2022-04-06 13:58] tomholub commented on #1479
![image](https://user-images.githubusercontent.com/6306961/161991761-c3707d19-3dd9-401a-956d-24ba2b9bc77a.png)

[2022-04-06 15:50] #1476 closed

[2022-04-07 13:02] fcvakintos commented on #1448
sure

[2022-04-08 07:45] #1478 closed

[2022-04-08 07:46] tomholub opened #1484 "use existing RSA key for 4096 bit test"
[rsa4096.zip](https://github.com/FlowCrypt/flowcrypt-ios/files/8427393/rsa4096.zip)

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/1478#issuecomment-1090299132_

keygen too slow

[2022-04-08 08:06] tomholub opened #1485 "crash feedbacks from 0.7.0"
Please see if the app is still susceptible to these. This commit https://github.com/FlowCrypt/flowcrypt-ios/commit/f80b8f690d3c7b3c75d5bcfcbe5e0fb749625e01

[testflight_feedback10.zip](https://github.com/FlowCrypt/flowcrypt-ios/files/8449866/testflight_feedback10.zip)
[testflight_feedback9.zip](https://github.com/FlowCrypt/flowcrypt-ios/files/8449867/testflight_feedback9.zip)
[testflight_feedback8

[2022-04-08 08:18] ioanmo226 commented on #1484
@tomholub It already does

[2022-04-08 08:22] tomholub commented on #1484
Ah - I somehow overlooked that. Thanks!

[2022-04-08 08:22] #1484 closed

[2022-04-08 09:22] tomholub opened #1486 "crash feedback from version 0.8.2"
[testflight_feedback-082.zip](https://github.com/FlowCrypt/flowcrypt-ios/files/8450507/testflight_feedback-082.zip)

[2022-04-08 12:55] ioanmo226 commented on #1486
By the way, @tomholub I think we should setup crashlytics once app goes live/stable.

[2022-04-08 13:44] tomholub commented on #1486
I'd need a solution that doesn't send data to a 3rd party. Something we can host, or something that's just a client lib we can point at our own server API, like ACRA.

[2022-04-08 13:45] ioanmo226 commented on #1486
Hmm.. I see.
Maybe we need to research about this when we have time.

[2022-04-08 20:08] #1471 closed

[2022-04-08 21:59] #1486 closed

[2022-04-09 17:36] #1448 closed

[2022-04-09 19:02] #1376 closed

[2022-04-09 20:22] tomholub opened #1488 "update semaphore file swift/typescript tests"
it's messy atm

[2022-04-09 21:55] IvanPizhenko opened #1489 "no-unsafe-any should not apply to tests"
Alternatively, can put one no-unsafe-any exception on top of every test file that needs it

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1431#discussion_r846596489_

[2022-04-10 08:29] #1489 closed

[2022-04-10 21:12] #1467 closed

[2022-04-11 11:43] tomholub opened #1491 "tests for handling revoked key from EKM"
I'd need two tests written, both using mock FES and mock EKM.

For both tests, you will want to add a public key to attester mock for the recipient email.

Here is a sample of a revoked key. For the valid key, can use any already available key in the EKM mock.

[code]

------

## test that returns only revoked key from EKM during setup

here is browser implementation, updated to fit iOS

[code]

#

[2022-04-11 12:16] tomholub commented on #1491
I suspect these tests may not be passing once written due to the app implementation. If that's the case, please make it a draft PR and then we can work on the implementation to satisfy the tests.

[2022-04-11 13:55] tomholub commented on #140
this has now been done differently - by throwing and then a single catch for each Task.

[2022-04-11 13:55] #140 closed

[2022-04-11 16:44] #1485 closed

[2022-04-12 20:34] #1468 closed

[2022-04-14 09:42] martgil opened #1499 "Question about Bundler dependency"
@sosnovsky Good Day, sir!

Someone reported to us about the cocoapods-downloader dependency  is outdated with [known vulnerabilities into it](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-21223).

Link to the Gemfile.lock - [Gemfile.lock file](https://github.com/FlowCrypt/flowcrypt-ios/blob/master/Gemfile.lock#L66)

I would like to raise a question if there's an existing solution for aut

[2022-04-14 09:57] tomholub commented on #1499
https://github.com/FlowCrypt/flowcrypt-ios/issues/393 related issue

[2022-04-14 10:34] sosnovsky commented on #1499
There is an issue with this line - https://github.com/FlowCrypt/flowcrypt-ios/blob/master/Gemfile#L8 which parses additional gems from Fastlane directory.

Probably fix should be easy - just replace this line with `gem 'fastlane-plugin-semaphore'`

[2022-04-14 10:39] tomholub commented on #1499
Thank you - I'm assigning you that issue, in case it is indeed a quick fix.

[2022-04-14 12:11] tomholub opened #1500 "add GMP library to the project - priority"
@sosnovsky please pause your other work to look at this one

Roughly this:
1) please add a script that builds GMP into `Script/build-gmp.sh` that downloads https://gmplib.org/download/gmp/gmp-6.2.1.tar.lz and builds it for iPhone arm64 . Even better if this was somehow done in `make dependencies`
2) do a reverse of https://github.com/FlowCrypt/flowcrypt-ios/pull/237/files which means adding  back

[2022-04-14 12:57] fcvakintos commented on #1491
@tomholub
i tried to add new cases
Could you check is it correct?
` mockApi.fesConfig = {
      clientConfiguration: {
        flags: ["NO_PRV_CREATE", "NO_PRV_BACKUP", "NO_ATTESTER_SUBMIT", "PRV_AUTOIMPORT_OR_AUTOGEN", "FORBID_STORING_PASS_PHRASE"],
        key_manager_url: "https://ekm.flowcrypt.com",
      }
    };
    mockApi.ekmConfig = {
      return: {
        privateKeys: [{ decryptedPriva

[2022-04-14 13:02] fcvakintos commented on #1491
And when I click on "Send" button - I get this error
is it correct?
<img width="452" alt="Screenshot 2022-04-14 at 16 01 32" src="https://user-images.githubusercontent.com/91205853/163396165-bc47e329-479f-46b1-944a-a2c5aac18df3.png">

[2022-04-14 13:56] tomholub commented on #1491
That's not an error. Your recipient doesn't have public key set up. Update mock attester public key - add some public key to your recipient email address on attester mock.

[2022-04-14 14:02] tomholub commented on #1491
- you need to ensure that the `key_manager_url` actually points at the URL of your mock EKM. As it is now, it will talk to prod EKM.
- have a look inside `getMockEkmEndpoints`, it needs to be finished
- You are giving the EKM a public key to serve, but EKM serves private key. I shared a sample in issue definition

[2022-04-15 18:55] #1427 closed

[2022-04-18 15:02] ioanmo226 commented on #841
@tomholub Please check those questions.
1. When new key is added in EKM and we need to add it in our local, which passphrase do we have to use for encryption before we save it in local?
Do we have to ask user to enter passphrase (passphrase prompt) in this case?

2. Let's say there are 2 keys in local and EKM (but let's say EKM keys are newer which means we have to update both 2 keys).
And let's s

[2022-04-19 08:14] ioanmo226 opened #1506 "Crash issue for forward"
Here are steps to reproduce.
1. Select any email in inbox
2. Click forward button
3. Enter any email in recipient input and press enter

Now app will crash with this error.

[2022-04-19 18:27] ioanmo226 commented on #1264
@tomholub This seems outdated issue now.
Current code looks like this.

[code]

[2022-04-20 05:54] ioanmo226 commented on #1101
@tomholub we set context.folderPath to nil when we want to search for all folders.
Like in search screen when user searches something, we have to show all search results despite of current selected folder.

[2022-04-20 07:03] #1506 closed

[2022-04-20 07:16] tomholub commented on #841
If any pass phrase for any key is available in storage or in memory, use that pass phrase for the new key.

Not if any passphrase is already known.

If no pass phrase for any key is known, need to prompt & double check that the entered pass phrase matches against at least one other key to consider it valid.

[2022-04-20 07:19] ioanmo226 commented on #841
Ok, how about second question?

[2022-04-20 07:19] tomholub commented on #841
correct

use one pass phrase for all keys. So you are not entering pass phrase per key, you are entering one for the whole operation, regardless how many keys there were.

-----------------

Even though the db schema supports potentially different pass phrase for each key, for EKM setups, we always encrypt all user keys with one pass phrase (user enters exactly one pass phrase during setup regardl

[2022-04-20 07:23] ioanmo226 commented on #841
Got it. One more question for this case.
Let's say user dismiss pass phrase dialog for 1st key (which means he didn't enter passphrase).
In this case, do we have to display pass phrase dialog for 2nd key again or stop refreshing keys for remaining keys (as user declined to enter pass phrase for 1st key)?

[2022-04-20 07:32] ioanmo226 commented on #841
Gotcha

[2022-04-20 07:43] tomholub commented on #1101
Got it. Could add a comment above the init for clarity, and also replace `context.folderPath ?? ""` with `context.folderPath` so that it's `value or nil`, not `value or empty value`.

[2022-04-20 07:44] ioanmo226 commented on #1101
ok

[2022-04-20 07:47] tomholub commented on #1500
progress looks good

[2022-04-20 07:51] tomholub commented on #1264
This issue, as originally defined, was I think fixed in https://github.com/FlowCrypt/flowcrypt-ios/issues/1467

However, It would be even better if this was checked only once per app startup (I think now it's once per class init. which may be only on app startup. so maybe we already did it). It would be for Roma to have a look at, later.

[2022-04-20 07:53] ioanmo226 commented on #1264
ok

[2022-04-20 08:31] tomholub opened #1509 "storage invalid still possibly happening on iOS v0.9.0"
From my own email https://mail.google.com/mail/u/0/#sent/KtbxLzfhbgwNPZJkzZQkQwlHVkWNpQWcxq

[2022-04-20 08:37] tomholub commented on #1509
https://github.com/FlowCrypt/flowcrypt-ios/issues/1373

Fixes:
 - https://github.com/FlowCrypt/flowcrypt-ios/pull/1416/files - main fix
 - https://github.com/FlowCrypt/flowcrypt-ios/pull/1417/files - last resort

There are three more things that we can do:
 - investigate the original fix, see if we missed something
 - store the "key chain index" string in a local file with a lower protection, inst

[2022-04-20 08:43] sosnovsky commented on #1500
I was able to create `xcframework` with different architectures, so it can be used on both - simulator and device.
Now trying to implement `build-gmp.sh` which will automatically download, build and create framework from `gmp` source code.

[2022-04-20 09:07] tomholub commented on #1500
Very good. I will be out today. If on Thursday the automatic part is not ready, we should merge it with prebuilt binaries, while you continue work on the build procedure.

[2022-04-20 15:22] ioanmo226 commented on #841
@tomholub For this test, As I checked `DEFAULT_REMEMBER_PASS_PHRASE` is not respected in iOS app.
Do we have to implement this feature (DEFAULT_REMEMBER_PASS_PHRASE) in current issue?

[2022-04-20 21:17] tomholub commented on #841
Please make a separate PR for just this functionality. We'll merge it in, and then you'll update here from master.

[2022-04-20 21:34] tomholub commented on #1509
Just happened to me.

![image](https://user-images.githubusercontent.com/6306961/164326744-db731224-332d-4d0d-8eb3-fe37796a11e3.png)

[2022-04-21 05:22] ioanmo226 commented on #841
ok

[2022-04-21 08:12] tomholub opened #1513 "check / update functionality of FORBID_STORING_PASS_PHRASE during EKM setup flow"
Simply removing flag `FORBID_STORING_PASS_PHRASE` should achieve the desired result (for EKM flow, at least). And if it doesn't, that's the fix that should be changed.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/1512#discussion_r854904299_

[2022-04-21 08:13] tomholub commented on #1513
The behavior, during EKM setup flow, should be:
 - with `FORBID_STORING_PASS_PHRASE`, store pass phrase in `.memory`
 - without it, store pass phrase in `.permanent`

I think the second part may not be currently implemented - please have a look.

[2022-04-21 08:13] tomholub commented on #1513
related to testing https://github.com/FlowCrypt/flowcrypt-ios/pull/1510

[2022-04-21 08:22] ioanmo226 commented on #1513
Currently `checkUsesEKM` functions returns incorrect configuration result if FORBID_STORING_PASS_PHRASE is passed.
Does it have to be changed?

![image](https://user-images.githubusercontent.com/77344191/164412065-1ba3d998-fa8f-49d5-a94c-ee1744772119.png)

[2022-04-21 08:24] tomholub commented on #1513
Yes - that was correct originally, because we didn't implement the functionality when it was omitted.

Together with implementing the functionality, that check should be removed.

[2022-04-21 08:25] ioanmo226 commented on #1513
Ok, got it

[2022-04-21 10:23] #1513 closed

[2022-04-21 12:19] fcvakintos commented on #1491
@tomholub
what should i set in ekmConfig?
[code]

[2022-04-21 12:33] tomholub commented on #1491
The simplest would be

[code]

That means in EKM mock you don't have to worry about the authenticated user, just return keys as provided in the config.

[2022-04-21 12:37] fcvakintos commented on #1491
@tomholub and in what account should i login for get correct behaviour?

[2022-04-21 13:03] fcvakintos commented on #1491
and about this ```you need to ensure that the key_manager_url actually points at the URL of your mock EKM. As it is now, it will talk to prod EKM.```
how can i check this?
or whet link should i use?

[2022-04-21 13:49] ioanmo226 commented on #1491
@fcvakintos I guess you need to set `key_manager_url` to something like `http://127.0.0.1:8001/ekm` (which handles ekm mock apis).
And in `/ekm` mock router,  process mock apis.

[2022-04-21 13:53] tomholub commented on #1491
Any. When you use mocks, the behavior is based on what you return from the mock, not based on the account you logged in.

[2022-04-21 13:56] fcvakintos commented on #1491
@ioanmo226 where i can get this link?
http://127.0.0.1:8001/ekm

[2022-04-21 13:58] ioanmo226 commented on #1491
@fcvakintos when you run mock server, mock server will be running at http://127.0.0.1:8001
And if you implement ekm mock apis in `ekm` route and set `key_manager_url` to `http://127.0.0.1:8001/ekm`, `ekm` mocks will work fine.

[2022-04-21 13:59] tomholub commented on #1491
Let's do i the other way around.

@ioanmo226 please implement the EKM mock in your PR. Then @fcvakintos can pull it into here once ready.

It will just be a few lines of code anyway, it should be straight forward.

[2022-04-21 14:00] ioanmo226 commented on #1491
ok, I guess better to make separate PR because my PR might have some issues.

[2022-04-21 14:32] ioanmo226 commented on #1491
Here it is https://github.com/FlowCrypt/flowcrypt-ios/pull/1515

[2022-04-21 15:14] tomholub commented on #1509
@sosnovsky could you please have a look at the history of this issue and also the discussion at https://github.com/FlowCrypt/flowcrypt-ios/issues/1373 to see if we may have overlooked something?

[2022-04-21 16:45] #1500 closed

[2022-04-21 17:24] ioanmo226 commented on #841
@tomholub For test1, this doesn't seem to correct.
`Enter wrong pass phrase in the prompt. Observe it gets rejected / prompt remains.`.
We first return 1 key from ekm and for stage 2 we return 1 additional key.
In this case, we only need to add 2nd key to storage and pass phrase can't be invalid(because this is new key and we only need new passphrase to encrypt it).
Please confirm

[2022-04-21 17:30] tomholub commented on #841
For enterprise setups with EKM, I want all keys of a user to have the same pass phrase.

So anytime saving any key (new or updated) from EKM during update:

1) retrieve pass phrase that matches _any_ key that already exists on the device. If the device knows the pass phrase, no need to ask user. If you need to ask user, cross check against keys to make sure it matches any one of them.
2) update or

[2022-04-21 17:32] ioanmo226 commented on #841
It's already setup that way.

[2022-04-21 17:34] ioanmo226 commented on #841
In first stage, we retrieve 1 key from EKM and in second stage we retrieve additional key.
In second stage, we have to add that additional key in storage and need to ask user pass phrase. (but we can't know current saved pass phrase as FORBID_STORING_PASS_PHRASE is set)
In this case, pass phrase is only used for encryption and can't be invalid.
1st key pass phrase and 2nd key passphrase will be di

[2022-04-21 17:43] tomholub commented on #841
Because you don't know the current pass phrase, you have to ask the user for the _current pass phrase of the existing key_, and keep asking until user gives you the right pass phrase for the existing key.

Then you use that pass phrase for the newly added key as well.

Ensuring that all pass phrases in fact remain the same.

[2022-04-21 17:45] ioanmo226 commented on #841
Aha, Now I got it.
Makes sense.
I thought I had to ask user pass phrase(any pass phrase he wants) for new keys and that was mistake.

[2022-04-21 17:51] tomholub commented on #841
That's right. I'm trying to keep pass phrases for all keys consistent for EKM users. It will make for better UX.

[2022-04-21 18:43] #393 closed

[2022-04-21 19:15] ioanmo226 commented on #841
@tomholub How can I generate updated key from existing key? I guess updated key and original key fingerprints should be same.
I can't find way to generate updated key for this test.

[2022-04-21 19:29] tomholub commented on #841
you can use `gnupg` to edit keys as you see fit. Import the private key into gnupg, use it to make edits (like, add another UID), export armored version out, and you have your newer version of that key. It will indeed have the same fingerprint.

[2022-04-21 19:30] ioanmo226 commented on #841
Got it. Thanks

[2022-04-21 19:38] #1469 closed

[2022-04-21 19:57] tomholub opened #1518 "screenshots for iOS app for various devices"
please help me take screenshots of:
 - splash screen
 - inbox
 - compose screen
 - read email screen

per each of the following device types (using various simulators):

<img width="640" alt="image" src="https://user-images.githubusercontent.com/6306961/164542289-5080a153-8694-406f-a5eb-674bcd477917.png">

That means 16 screenshots total. Apple wants screenshots to be in exact resolution for each

[2022-04-21 19:58] tomholub commented on #1518
<img width="107" alt="image" src="https://user-images.githubusercontent.com/6306961/164542729-7b93ccda-c7e6-410b-b3ec-058d827e99cd.png">

![image](https://user-images.githubusercontent.com/6306961/164542625-9dd40a30-803f-4e4b-a1cd-07d9c2544540.png)

[2022-04-21 19:59] tomholub commented on #1518
<img width="107" alt="image" src="https://user-images.githubusercontent.com/6306961/164542845-97206a13-9f73-4108-b632-46a7893d14e1.png">

![image](https://user-images.githubusercontent.com/6306961/164542874-1d30cba8-3945-4550-ad91-50af2da09c73.png)

[2022-04-21 20:00] tomholub commented on #1518
<img width="151" alt="image" src="https://user-images.githubusercontent.com/6306961/164542999-30d93b11-8dbe-4d7a-a1e4-c7aa5164e8c9.png">

![image](https://user-images.githubusercontent.com/6306961/164543036-a69f0a6d-1ce2-41e5-bda5-89edb7b1dc66.png)

[2022-04-21 20:01] tomholub commented on #1518
<img width="151" alt="image" src="https://user-images.githubusercontent.com/6306961/164543098-52268576-85fa-42a0-ab82-6fab12d4a367.png">

![image](https://user-images.githubusercontent.com/6306961/164543120-cd92d786-384b-4831-a744-569658234e7a.png)

[2022-04-21 20:02] tomholub commented on #1518
Wait a sec - maybe I have some.

[2022-04-21 20:04] tomholub commented on #1518
Please replace all of these https://github.com/FlowCrypt/flowcrypt-design/tree/master/digital-assets/apple-app-store as they are dated. Please also use 4 folders, one per device type.

https://github.com/FlowCrypt/flowcrypt-design/invitations

[2022-04-21 20:05] tomholub commented on #1518
Be sure there is no personal info on these. I see on my previous screenshot, there was my email in it, which it shouldn't be there.

Use demo@flowcrypt.com or similar account.

[2022-04-22 05:36] ioanmo226 commented on #1518
@tomholub I guess we may setup fastlane to generate screenshots for app store and upload build to app store. (CD solution).

[2022-04-22 06:46] tomholub commented on #1518
I do this kind of thing once in a few years (even browser extension screenshots are probably 5 years old) so probably not worth automating.

[2022-04-22 06:47] ioanmo226 commented on #1518
I see

[2022-04-22 08:09] martgil commented on #1518
@tomholub May I ask for some hint here?
<img width="688" alt="Screen Shot 2022-04-22 at 4 04 19 PM" src="https://user-images.githubusercontent.com/46025304/164645222-a2999acf-22b5-4718-b201-0ab2cfa0f7e1.png">
I executed `make dependencies` and `bundler exec pod install` for the project dependency but i'm still getting these errors. I tried resetting package cache through `File -> Packages -> reset

[2022-04-22 08:17] ioanmo226 commented on #1518
@martgil which Xcode version are you using?
If you are using v13.2 this might seem to be right answer.

https://stackoverflow.com/questions/70342174/xcode-13-2-internal-error-missing-package-description-module#:~:text=EDIT%3A%20Xcode%2013.2.1%20version%20fixes%20this%20issue%20and%20can%20be%20downloaded%20from%20the%20Mac%20App%20Store.

[2022-04-22 08:22] ioanmo226 commented on #1449
Please don't touch UI tests related to KeyScreen. It's already being updated in #841 .

[2022-04-22 08:37] martgil commented on #1518
Hello @ioanmo226 - thank you for your response! I'm currently using v13, I'll try to update the Xcode.
<img width="523" alt="Screen Shot 2022-04-22 at 4 30 03 PM" src="https://user-images.githubusercontent.com/46025304/164650244-f59e3057-99a6-4157-9180-5a966438544e.png">

[2022-04-22 08:37] sosnovsky commented on #1518
@martgil yes, you should update to the latest Xcode 13.3, as it has some changes in Swift Package format.

[2022-04-22 08:40] martgil commented on #1518
Thank you @sosnovsky I'll follow your suggestions 🙏

[2022-04-22 09:28] sosnovsky commented on #1509
@tomholub do you have screenshot or maybe text of error which was displayed for customer?
As https://github.com/FlowCrypt/flowcrypt-ios/issues/1373 issue mentions `AccessError`, your screenshot shows `RLMAddNotificationBlock` error, and I want to check if customer's error is the same.

[2022-04-22 09:56] tomholub commented on #1509
I'll check from them.

[2022-04-22 10:00] tomholub commented on #1509
This is the one I've received on March 24, which was probably still on version 0.8.0 before the supposed fix that landed in 0.8.1. Therefore there will be some discrepancy possibly - errors following 0.8.1 (after the fix) may be slightly different?

The left side screenshot is the main problem, the right side screenshot demonstrates that resetting storage also doesn't work, which is a lesser probl

[2022-04-22 10:00] tomholub commented on #1509
I'll ask them for a more "modern" screenshot.

[2022-04-22 10:29] tomholub opened #1519 "add a way for app to reload itself"
As a workaround, in another PR, please add an item `Settings` -> `Experimental` -> `Reload app`. Tapping it will:
 - forget all in-memory pass phrases
 - remove all VC from stack
 - go through global router init as if the app has just started

The goal is that you should ideally not be rewriting any code that happens in normal app init - ideally you would just point the app at the bootstrapping co

[2022-04-22 10:31] sosnovsky commented on #1509
Storage reset doesn't work because of https://github.com/FlowCrypt/flowcrypt-ios/blob/master/FlowCrypt/Controllers/Bootstrap/InvalidStorageViewController.swift#L48.
`encryptedStorage` is always `nil` as we set it here https://github.com/FlowCrypt/flowcrypt-ios/blob/master/FlowCrypt/Functionality/Services/GlobalRouter.swift#L56

[2022-04-22 10:35] tomholub commented on #1509
While your are still investigating, you could at least fix the reset button, to reduce impact a bit - if you can.

[2022-04-22 13:08] fcvakintos commented on #1491
@tomholub Hey, is it correct error when I set only revoked private key
<img width="438" alt="Screenshot 2022-04-22 at 16 05 30" src="https://user-images.githubusercontent.com/91205853/164720169-5ec14c71-ab4b-42ef-994e-a99aa63ed9d0.png">

[2022-04-22 13:15] tomholub commented on #1491
not quite but getting closer. Are you on latest app code? I think current master should not be showing this error.

[2022-04-22 13:23] fcvakintos commented on #1491
@tomholub I use this code:
`mockApi.ekmConfig = {
      returnKeys: [ ekmPrivateKeySamples.revokedPrv ]
    }
`

[2022-04-22 13:42] ioanmo226 commented on #1491
I think it's because ekmPrivateKeySamples.revokedPrv key doesn't have e2e.enterprise.test user.

[2022-04-22 13:43] ioanmo226 commented on #1491
revokedPrv key should also contain current logged in user

[2022-04-22 13:49] tomholub commented on #1491
@fcvakintos I mean, have you updated latest changes from master into your branch? Please do that then try again.

[2022-04-22 13:52] fcvakintos commented on #1491
@ioanmo226 "e2e.enterprise.test "  - it is logged user

[2022-04-22 13:54] ioanmo226 commented on #1491
I know, that's why revokedPrv key should have e2e.enterprise.test user info in key detail.
Import that key in gpg and see if that key contains user info.

![image](https://user-images.githubusercontent.com/77344191/164728536-e7f6786f-1238-46ec-a81a-d707513ebaa3.png)

[2022-04-22 13:57] fcvakintos commented on #1491
@tomholub done, but it doesnt help

[2022-04-22 14:01] ioanmo226 commented on #1491
@fcvakintos try with this key. I just generated this key (this key contains e2e.enterprise.test@flowcrypt.com user) and is revoked key.

[code]

[2022-04-22 14:06] fcvakintos commented on #1491
@tomholub now i get this error
<img width="461" alt="Screenshot 2022-04-22 at 17 06 11" src="https://user-images.githubusercontent.com/91205853/164730753-1c2c4628-7e9a-4cae-b7d9-8ee4dca4bb2a.png">

[2022-04-22 14:07] tomholub commented on #1491
While that error message could be improved, it is indeed correct.

[2022-04-22 14:07] tomholub opened #1521 "improve revoked key error message when composing"
@tomholub now i get this error
<img width="461" alt="Screenshot 2022-04-22 at 17 06 11" src="https://user-images.githubusercontent.com/91205853/164730753-1c2c4628-7e9a-4cae-b7d9-8ee4dca4bb2a.png">

_Originally posted by @fcvakintos in https://github.com/FlowCrypt/flowcrypt-ios/issues/1491#issuecomment-1106552570_

[2022-04-22 14:09] tomholub commented on #1521
Some hints over here https://github.com/FlowCrypt/flowcrypt-browser/issues/4377

[2022-04-22 14:17] fcvakintos commented on #1491
@tomholub what exixting or valid private key should i use for checking second key?

[2022-04-22 14:19] tomholub commented on #1491
Any that has the right uid in it, I suppose. @ioanmo226 could you please make one for Dmitry

[2022-04-22 14:20] fcvakintos commented on #1491
@tomholub thanks

[2022-04-22 14:23] ioanmo226 commented on #1491
@fcvakintos Here's valid key for e2e.enterprise.test user.

[code]

[2022-04-22 14:48] fcvakintos commented on #1491
@ioanmo226 @tomholub when i set this code
`ockApi.ekmConfig = {
      returnKeys: [ekmPrivateKeySamples.revokedPrv, ekmPrivateKeySamples.existingPrv]
    };`

    I get the same error

[2022-04-22 14:54] tomholub commented on #1491
Bug. That's what I wanted to test for. It's supposed to be successful.

You can finalize your PR and comment out the last part of that test, with a comment that it's supposed to be success but currently shows error.

[2022-04-22 19:12] sosnovsky opened #1522 "Fix "Reset storage" button"
The left side screenshot is the main problem, the right side screenshot demonstrates that resetting storage also doesn't work, which is a lesser problem.

<img width="633" alt="image" src="https://user-images.githubusercontent.com/6306961/164684261-8e678dc3-f8f8-428b-b5ac-b11938270a54.png">

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/1509#issuecomment-1106

[2022-04-25 00:56] martgil commented on #1518
This task has been finished on https://github.com/FlowCrypt/flowcrypt-design/issues/23 - thank you very much!

[2022-04-25 00:56] #1518 closed

[2022-04-25 11:05] sosnovsky commented on #1509
@tomholub did you try to restart app after your latest `Invalid storage` error?

[2022-04-25 17:01] ioanmo226 commented on #841
For  `test 3: EKM key update errors handled gracefully`, when we want to parse broken key with `core.parseKeys` it doesn't return error but return 0 parsed keys.

[2022-04-25 17:01] ioanmo226 commented on #841
@tomholub Please check above comment

[2022-04-25 17:13] ioanmo226 commented on #841
I think for above case, it's implemented correctly for parsedKeys.
I think like when we want to parse 2 valid keys and 1 broken key, parseKeys should not return error but return 2 parsed results.

[2022-04-25 21:27] tomholub commented on #1509
Restarting app never helps. One of my apps (that I didn't reinstall) still has this error showing.

It seems the app will imagine, sometimes, that it doesn't have any storage encryption key, and create a new one. From then on, it cannot open the database using that new encryption key, even after restarting the app or the phone.

[2022-04-25 21:27] tomholub commented on #1509
(since, presumably, database file still expects previous encryption key, but the app now keeps trying the new encryption key)

[2022-04-25 21:39] tomholub commented on #841
That's odd. In this situation, the parsing should fail. It should not swallow keys silently.

[2022-04-25 21:44] tomholub commented on #841
I'll file another issue for that

[2022-04-25 21:44] tomholub opened #1524 "ensure to properly parse each received key from EKM"
That's odd. In this situation, the parsing should fail. It should not swallow keys silently.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/841#issuecomment-1109067112_

[2022-04-25 21:47] tomholub commented on #1524
The solution would be to parse incoming keys from EKM one by one instead of contacting them into a single string to parse.

For each incoming `decryptedPrivateKey` we will expect to get exactly one key out. If not (either 0 or >1) then we throw an error.

With that, we can finalize the following test:

[code]

[2022-04-26 01:42] martgil commented on #926
Hello @tomholub - sorry for the late reply. The user confirms that it is now working properly. thanks!

reference:
https://mail.google.com/mail/u/6/#inbox/FMfcgzGlkjbQnGbxvxFDbpZtmlqXjlbW

[2022-04-26 01:42] #926 closed

[2022-04-26 05:48] ioanmo226 commented on #1524
Then if we want to parse 5 keys(2 valid keys and 3 broken keys), do we have to display 3 errors?

[2022-04-26 06:32] #1519 closed

[2022-04-26 06:57] tomholub commented on #1524
One error would be enough, stating "One or more of keys received from EKM ..."

[2022-04-27 08:32] tomholub commented on #1509
@sosnovsky what are your thoughts about the main problem so far?

[2022-04-27 08:37] martgil opened #1530 "An ssl error occur when a user login using corporate email"
Description:
A user who tries to use FlowCrypt for ios (testflight) encounters an SSL error when logging into his account (corporate email).

<img src=https://user-images.githubusercontent.com/46025304/165473949-4e947443-1b26-4472-8238-5257fe2af3b3.png width=60%>

I also notice that https://fes.flex-radio.com/ has an SSL error itself when visiting it directly from a browser?

Not sure if its conne

[2022-04-27 08:37] sosnovsky commented on #1509
For now I wasn't able to find place where encryption key can be wrongly recreated, as we've added `isProtectedDataAvailable` check on app startup and also in `KeyChainService`.

One of my thought was that it can happen when Realm version is changed or app needs to perform migration (so some operations occur before database decryption), but wasn't able to reproduce it.

[2022-04-27 08:52] tomholub commented on #1509
It happens irrelevant of app updates. For example, I may be using 0.9.0 for some time successfully, and then it may break as the screenshot above without updating the app, still on 0.9.0.