[2021-08-23 11:40] tomholub commented on #461
Agree, that looks broken.

[2021-08-23 11:41] tomholub commented on #378
I suppose this was now fixed? I'm closing this unless still a problem.

[2021-08-23 11:41] #378 closed

[2021-08-23 11:57] tomholub commented on #465
When no emails are present, that means no backups are present. It should not be a special case in any way: backups.count = 0 and then let the code continue to handle it as normally, do whatever it would normally do in that situation.

[2021-08-24 13:50] tomholub commented on #442
thank you

[2021-08-24 13:50] #442 closed

[2021-08-24 13:50] tomholub commented on #443
thank you

[2021-08-24 13:50] #443 closed

[2021-08-26 13:42] DenBond7 opened #467 "Modify settings of email server to be able to use has_msgs_no_backups@flowcrypt.test"
ref https://github.com/FlowCrypt/flowcrypt-android/issues/1421

[2021-08-26 16:49] #467 closed, assigned to DenBond7

[2021-08-30 14:29] Kharchevskyi opened #469 "UI Tests for EKM integration"

[2021-08-30 14:30] Kharchevskyi opened #470 "UI Tests - Verify inbox messages"
Verify different messages for `default@flowcrypt.test` account

[2021-08-30 20:53] tomholub opened #471 "rename att to attachment"
I suppose on the line below `fetchMsgAttribute` should be called `fetchMsgAttachment`. Also above, for clarity, rename `attContext` to `attachmentContext`. I'll make a separate issue.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/466#discussion_r698793570_

[2021-08-30 20:54] tomholub opened #472 "test importing key during setup"
We should have a test where we import a key from file, proceed with setup, and decrypt an encrypted message that was in inbox encrypted for that key.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/466#r698799920_

[2021-08-30 20:54] tomholub opened #473 "test importing key during setup - clipboard"
We should have a test where we import a key from clipboard, proceed with setup, and decrypt an encrypted message that was in inbox encrypted for that key.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/466#r698800159_

[2021-08-31 09:00] Kharchevskyi opened #474 "UI Tests - empty line rule"
Is there a way to set maximum one empty line in our linter?

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/466#discussion_r698796541_

[2021-08-31 18:04] ekievsky commented on #429
What is correct error message?

[2021-08-31 18:40] Kharchevskyi opened #476 "UI Tests - Settings"

[2021-08-31 21:06] tomholub commented on #429
I'm not sure. The folder was failing to load repeatedly, when other folders worked. Doesn't seem like offline issue, therefore it must be showing a wrong error. Can you reproduce this?

[2021-09-01 14:34] ekievsky commented on #429
@tomholub it reproduces all the time, what is the difference between `all mail` and `inbox` should `all mail` show the emails from all active accounts?

[2021-09-01 19:27] Kharchevskyi opened #478 "UX - Empty folder message"
![Simulator Screen Shot - Clone 1 of iPhone 8 - 2021-09-01 at 22 26 19](https://user-images.githubusercontent.com/13693255/131731901-056d7c11-66ad-42e1-8217-1223f09776d6.png)

[2021-09-01 19:27] Kharchevskyi opened #479 "UI Tests - Contacts functionality"

[2021-09-01 19:30] Kharchevskyi opened #480 ""Check for email" failing"
https://github.com/FlowCrypt/flowcrypt-ios/runs/3488412705?check_suite_focus=true
Sometimes check for email action fails with `Error: Cannot read property 'match' of null`

[2021-09-02 06:48] tomholub commented on #429
If you log into any Gmail account through webmail, you should see an All Mail section. You have to click `More` on the left menu, then `All Mail`. It's just an email folder like any other. On Gmail, these are emails that are in inbox plus emails that were archived.

However, before you fix it, you should also investigate why it's showing "no internet" error message, which is clearly wrong. There i

[2021-09-02 07:21] tomholub commented on #480
@IvanPizhenko https://github.com/FlowCrypt/flowcrypt-ios/invitations please have a look at the above github action - I've just forked it it from it's source, to be hosted on our org: https://github.com/FlowCrypt/comment-email-address-alerts/invitations

Please fix the issue, then point our GitHub action at our forked / fixed version instead of the seisvelas version.

[2021-09-02 10:46] ekievsky commented on #429
got it

The issue with errors is that we don't handle GmailServiceError and take that as unexpected. I would fix the issue with `All mail` in scope of this issue and create another to fix error handling on Inbox screen.

[2021-09-02 12:01] ekievsky commented on #453
Should we refresh the messages list when user taps on the same folder type or just hide a side menu?

[2021-09-02 14:44] tomholub commented on #429
Best would be other way around, if you can: fix error handling first, so that it starts printing some proper error. Then fix that error specifically after.

[2021-09-04 05:38] #480 closed

[2021-09-04 16:28] Kharchevskyi opened #484 "UI Tests - multiple accounts"

[2021-09-04 16:31] Kharchevskyi opened #485 "UX - Sign in imap with wrong credentials"
Try to sign in with other email provider.
Enter wrong password.
Error alert will be prompted.
Tap on "ok"

AR:
User will be navigated back if he taps "Ok" on error alert

ER:
User should stay on the same screen

Add UI Tests

[2021-09-05 11:22] #470 closed

[2021-09-05 11:38] #453 closed

[2021-09-08 09:41] #485 closed

[2021-09-08 09:42] #474 closed

[2021-09-08 09:42] #476 closed

[2021-09-08 09:43] tomholub opened #491 "UI tests - settings - contacts"
wip here https://github.com/FlowCrypt/flowcrypt-ios/pull/487

[2021-09-08 09:43] tomholub commented on #439
remaining issue https://github.com/FlowCrypt/flowcrypt-ios/issues/491

[2021-09-08 09:44] #439 closed

[2021-09-08 09:44] tomholub commented on #439
Tests that altered state will be tackled in a future version.

[2021-09-08 12:01] tomholub opened #492 "reply to message on Gmail was wrongly not in the same thread"
In my case, the following happened. I didn't try to reproduce it again.

1) I received a plain message
2) I replied to the plain message from iOS app (encrypted)
3) the resulting message was received on the other end (on Gmail)

expected: the reply should have been attached to the same thread

actual: Gmail regarded the reply as the first message of a new thread

[2021-09-08 16:06] #428 closed

[2021-09-08 17:05] Kharchevskyi opened #494 "UX - push notifications"

[2021-09-08 17:07] Kharchevskyi opened #495 "UX - Mark message as unread"

[2021-09-08 17:28] Kharchevskyi commented on #469
@DenBond7 I assume you do have this tests. Would it be possible for you to explain how is it set up on Android?

[2021-09-08 17:55] DenBond7 commented on #469
Please look at this issue https://github.com/FlowCrypt/flowcrypt-android/issues/1168 for more details. And for example this https://github.com/FlowCrypt/flowcrypt-android/commit/b1a0b64de4bae649bd380d95b83db3428e1a6262 commit.

If shortly, we use a mock web server to generate needed responses.

[2021-09-09 10:32] tomholub commented on #495
I forgot it wasn't implemented - yes. I'll add this to next milestone.

[2021-09-09 16:51] Kharchevskyi opened #496 "UX - Blur app when going to background"
<img width="355" alt="Screenshot 2021-09-09 at 19 50 35" src="https://user-images.githubusercontent.com/13693255/132728712-3daa27c4-2e08-43a7-aaf5-992fdd519500.png">

[2021-09-09 18:45] Kharchevskyi opened #497 "UX - "Fetched N keys from EKM""

[2021-09-10 14:26] tomholub commented on #496
Good idea, didn't see this before. Marking for later.

[2021-09-10 14:27] tomholub commented on #497
Thanks - adding to milestone sometime next month.

[2021-09-10 14:46] #479 closed

[2021-09-10 14:52] #491 closed

[2021-09-10 15:07] #429 closed

[2021-09-10 17:15] Kharchevskyi opened #498 "Unit tests for EKM integration"

[2021-09-13 08:42] tomholub commented on #341
@ekievsky please get started on sending/downloading encrypted messages.

Please ensure that it's done the same way browser extension does it, and is compatible. Ask questions if unsure.

[2021-09-13 08:44] tomholub commented on #341
To test these methods, you can write a unit test that encrypts some file, then decrypts it, then compares content.

[2021-09-13 08:59] tomholub commented on #272
It's pretty straight forward on the app store side: we need a second app with a new app id, and I'll submit that to app store as a separate app. I'll need to get a separate review. I'll choose `private` distribution instead of `public`, and then I'll add the org id of our customer, so I can distribute directly to them. Then they can deploy it to their business using `Apple Business Manager`.

@Kha

[2021-09-13 08:59] tomholub commented on #272
Also with some guidance on how to build one type of app versus the other. Or can I build both at the same time with one command? That's how we do it on other platforms.

[2021-09-13 13:26] Kharchevskyi commented on #272
<img width="117" alt="Screenshot 2021-09-13 at 16 25 12" src="https://user-images.githubusercontent.com/13693255/133091609-6552047d-c512-45c4-a031-0eca2a0e05d0.png">
@tomholub which scheme would be used to test flight? Do we need this 3 configurations? Or for example we can have enterprise + release + debug. Or just release + enterprise?

[2021-09-13 13:38] tomholub commented on #272
I'm not sure. What are schemes for? Is it a way to have different builds of the same app ids? Or is it a way to have different apps that each have a different app id?

[2021-09-13 13:43] Kharchevskyi commented on #272
This configurations can be used exactly for described case, for example we have 1 code base, but they should be distributed separately for example for testflight and for enterprise(private) distribution. Also it's possible to have different set of environment, urls, etc.
Each configuration can have different app name, capabilities, bundle identifier and so on. Even some code can be specifically fo

[2021-09-13 14:29] tomholub commented on #272
I see. At a minimum, I need the following types of release tracks:
 - enterprise (for customers where we deploy to them directly privately)
 - consumer release (will become standard public app on the app store)
 - test flight (for early releases)

I'm unsure if I need the debug release or not.

The first track to be released will be the enterprise, privately. Followed by TestFlight, public beta. I

[2021-09-14 15:31] ekievsky commented on #341
How do I update `.js` file with decryptFile and encryptFile methods?

[2021-09-14 21:04] Kharchevskyi commented on #272
For developing purposes there is no differences in this configurations for now.
Because we already have debug, release and testflight configuration I would suggest to just add enterprise configuration, to not break already managed Provisioning Profiles/certificates and etc

[2021-09-15 07:06] tomholub commented on #272
Correct.

[2021-09-15 07:07] tomholub commented on #455
done

[2021-09-15 07:07] #455 closed

[2021-09-15 07:08] tomholub opened #500 "transfer app to new developer account"
followup from #455 - I'll be transferring the app to the newly made apple dev account.

I'll check to also copy all device ids from the old one to the new one

[2021-09-15 08:02] ekievsky commented on #341
How may mock this case:
[code]

[2021-09-15 08:29] tomholub commented on #341
You could try giving it a bogus message like "blahblah" and try decrypting that.

[2021-09-15 08:32] ekievsky commented on #341
what do you mean by `message`? File(MessageAttachement) contains `name`, `size` and `content`

[2021-09-15 09:40] tomholub commented on #341
The file to decrypt is supposed to be an encrypted file. You can give it a file that has bogus content, which should result in an error.

[2021-09-15 09:52] ekievsky commented on #341
ah, right, thanks!

[2021-09-15 10:00] ekievsky commented on #341
In case of not encrypted content, method `call("decryptFile",....)` throws an error with description, so it seems that this case handled by js script.

[2021-09-15 10:05] tomholub commented on #341
Yes, it's supposed to be. Just need to make sure we can understand these errors on the Swift side too (we should already have all the various error situations from `parseDecryptMsg`. Another one you could try is to give it correct encrypted message, but wrong (mismatching) private keys. That's a common problem. Swift should recognize that situation too.

[2021-09-15 10:13] ekievsky commented on #341
got that, thanks

[2021-09-15 11:07] Kharchevskyi commented on #272
Having some problems with app name with space.
Would it be ok with `EnterpriseFlowCrypt`?

[2021-09-15 11:33] Kharchevskyi commented on #272
![Simulator Screen Shot - iPhone 8 - 2021-09-15 at 14 32 02](https://user-images.githubusercontent.com/13693255/133425761-b5ffb3c3-31e7-4099-9a8d-4d392fdf4ae2.png)
Having some problems with space in app name.
Would it be ok to call `EnterpriseFlowCrypt`?

[2021-09-15 11:49] tomholub commented on #272
If iOS doesn't print the whole name anyway, we should call both just `FlowCrypt`.

Later we will differentiate the icon.

[2021-09-15 13:46] Kharchevskyi commented on #272
<img width="200" alt="Screenshot 2021-09-15 at 16 46 02" src="https://user-images.githubusercontent.com/13693255/133445136-4878158d-f096-49d8-86a2-19c1b9874454.png">
Maybe let's have some separate task to add label here or in settings?

[2021-09-15 14:33] tomholub commented on #272
agree - let's make a separate issue for the future

[2021-09-15 15:50] Kharchevskyi opened #502 "Add app current configuration label"
agree - let's make a separate issue for the future

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/272#issuecomment-920075675_

[2021-09-16 09:36] #341 closed

[2021-09-16 09:39] tomholub commented on #196
@ekievsky this is the next pending item - adding attachments to message, then encrypting them when sending.

After you encrypt the file, add `.pgp` at the end of the the original filename, then include it in the MIME email you send.

[2021-09-16 09:58] ekievsky commented on #196
UX questions:
- there is Add Attachment button, should we show Picker to select the source of adding attachment(Library, Camera Roll, Files)?
- after user added attachment to composing email, should we allow him/her to open it?
- just to double check, should we allow to add multiple attachments and allow user to delete attached file?
- is UI up to me or we have some design mocks?

Core questions;

[2021-09-16 10:55] tomholub commented on #196
yes

We could leave that for another issue a long time later

Allow multiple attachments - yes. Remove attachments - sure, but maybe again in another issue?

Can you try the Android app? It should be reasonably similar.

Correct

[2021-09-16 13:20] ekievsky commented on #196
I am using Android emulator and play market can't find our app on Android :( Is there a way you may share the screenshots?

[2021-09-16 13:38] tomholub commented on #196
It's here https://play.google.com/store/apps/details?id=com.flowcrypt.email&hl=en_US&gl=US

But maybe you could try running it in simulator from our git repo? It should just be a matter of pressing the play button in Android Studio. https://github.com/FlowCrypt/flowcrypt-android and if not, ask here and @DenBond7 will help you.

[2021-09-16 14:48] #272 closed

[2021-09-17 16:21] tomholub opened #504 "join or rename OrganisationalRules with ClientConfiguration"
In another PR, we should refactor the naming. It's not clear what's the benefit of having an `OrganisationalRules` object that only wraps `ClientConfiguration` object. We should just have a single `ClientConfiguration` object and that's all. If we do need a wrapper for some justified reason, then we can call that `ClientConfigurationWrapper` and add a comment on why it's needed. If it's to match i

[2021-09-20 13:13] tomholub commented on #454
I started looking for a testing automation person, to help with ui tests.

I don't think developer responsibility and QA responsibility should be separated - that leads to careless developers. Plus adds manual labor for what should be automated.

However we do need help from someone to help us lay foundation for automated ui tests, so that it becomes easier for us to write these.

[2021-09-21 14:00] tomholub commented on #196
Were you able to run the Android app in emulator?

Here's a screenshot - example.

![image](https://user-images.githubusercontent.com/6306961/134184734-b1e5ce7f-2330-46b7-9116-4d70db9e8701.png)

[2021-09-21 14:02] ekievsky commented on #196
yep, I've set up Android, there is a PR draft that implements this UI, working on sending attachment right now

[2021-09-21 14:12] tomholub commented on #196
Great - ability to run the Android app will help you when working on other functionality, too.

[2021-09-21 16:29] tomholub opened #506 "bring flowcrypt-mobile-core repo contents into flowcrypt-ios repo"
There is a repository https://github.com/FlowCrypt/flowcrypt-mobile-core where we had OpenPGP.js based tooling (called "Core") for both Android and iOS.

On Android we already transitioned to PGPainless based implementation, so that repository is now only used by iOS.

I'd like to bring the contents into this repository, to make it easier to maintain going forward.

1) I propose a folder called `C

[2021-09-21 16:34] tomholub commented on #506
After we bring it here, we'll also remove Android-specific parts of the code. We'll do that in a separate step, to make the transition cleaner.

[2021-09-21 16:34] tomholub opened #507 "remove android-specific code from flowcrypt-mobile-core"
After we bring it here, we'll also remove Android-specific parts of the code. We'll do that in a separate step, to make the transition cleaner.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/506#issuecomment-924158347_

[2021-09-21 16:39] tomholub commented on #507
Basically everything that has to do with a HTTP server, and all Java-specific stuff.

Therefore we'll be running the tests on the code directly, instead of making HTTP requests as we do it now.

For example, this test:

[code]

would become something like this:

[code]

[2021-09-21 16:55] tomholub opened #508 "refactor Core response from string to string + byte array"
after https://github.com/FlowCrypt/flowcrypt-ios/issues/507

currently, when we call a method in Core, for example here: https://github.com/FlowCrypt/flowcrypt-ios/blob/6367703c35bfe3df860573e8b2b8b0393b64a545/FlowCrypt/Core/Core.swift#L47

[code]

it will call into javascript eg here:

[code]

The `fmtRes` method formats a resulting JSON + optional data into a single string. After we dropped Andr

[2021-09-21 16:56] tomholub commented on #454
Found someone - they will be starting next week.

[2021-09-21 17:29] tomholub opened #509 "is iOS ATS enabled?"
no reason not to enable it. Is it done in code?

[2021-09-21 17:54] Kharchevskyi commented on #509
Yes. Enabled by default. No ` NSExceptionDomains` specified in `info.plist`

From https://developer.apple.com/documentation/bundleresources/information_property_list/nsapptransportsecurity
`ATS operates by default for apps linked against the iOS 9.0 or macOS 10.11 SDKs or later.`

[2021-09-21 20:13] tomholub commented on #509
excellent, thanks

[2021-09-21 20:13] #509 closed

[2021-09-21 20:40] tomholub opened #510 "implement NO_PRV_CREATE + update cjecl"
As per this:

![image](https://user-images.githubusercontent.com/6306961/134242846-f288cdac-4c8e-479c-b6e0-e3b643268dd8.png)

taken from here: https://github.com/FlowCrypt/flowcrypt-ios/issues/279

These flags as set up should produce an error, because the flags are missing `NO_PRV_CREATE` which translates to `.forbidCreatingPrivateKey`. I suppose we don't have this flag implemented in the app, so

[2021-09-21 20:41] tomholub commented on #510
meaning of `NO_PRV_CREATE` is here https://flowcrypt.com/docs/business/org-rules.html

[2021-09-21 20:41] tomholub opened #511 "The folder name `Functionallity` is misspelled, it should be `Functionality`"
The folder name `Functionallity` is misspelled, it should be `Functionality`

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/499#discussion_r713398389_

[2021-09-21 22:59] IvanPizhenko opened #513 "Semaphore access for this repo"
Please enable access to Semaphore for this repo for my GitHub account.
Need it for #506

[2021-09-22 06:49] DenBond7 commented on #513
@IvanPizhenko I've checked. You should have access. Please try

[2021-09-22 09:43] tomholub opened #514 "save drafts during compose or reply"
When I type my email or response, drafts should get continuously uploaded to Gmail API (can skip IMAP for now).

 - once a second, check if the content of the message, subject or recipients have changed compared to previous second
 - if it changed, and initiate an upload/update of draft in the background
 - (If it's the first upload of this draft, receive back the draft ID, and then use that draft

[2021-09-22 09:48] tomholub opened #515 "change search bar to always search All Mail"
I'd like to change the search bar in the inbox view (in any folder): regardless of which folder am I currently in, always search `All Mail`. Currently it only searches the folder that I'm looking at.

Also please change the placeholder in the input that currently says `Search` to say `Search All Mail`

[2021-09-22 10:36] tomholub commented on #497
When we use EKM during setup, the following texts should be changed:

1) [ ] `Create key` should say `Choose pass phrase` (but leave text original if it's indeed create key flow without EKM)
2) [ ] `Lost pass phrase cannot be recovered` should be changed to `Fetched N keys on EKM` (but leave as is for create key flow)

Additionally, regardless if EKM is used or not:

- [ ] please for now hide the

[2021-09-22 10:44] tomholub opened #516 "notReady - could not fetch keys"
Another severe regression - this shows how lacking our tests are.

Can be tested on any account with EKM set up.

Reproduce:
1) set up account managed by EKM
2) open any encrypted message

![image](https://user-images.githubusercontent.com/6306961/134329811-c9dce7d6-b264-48c8-bcca-a802af43e43e.png)

[2021-09-22 10:47] tomholub commented on #515
I suspected correctly. I'd like to change the search bar: regardless of which folder am I currently in, always search `All Mail`.

[2021-09-22 10:48] tomholub commented on #515
Also change the placeholder in the input that currently says `Search` to say `Search All Mail`

[2021-09-22 12:12] ekievsky commented on #516
@tomholub while logging in to my flowcrypt gmail account receiving 502 on `https://fes.flowcrypt.com/api/`, no issues with usual gmail account

[2021-09-22 12:19] tomholub commented on #516
Yes, that is unrelated issue that I just caused minutes ago - I'm fixing it and will let you know once fixed.

[2021-09-22 12:20] ekievsky commented on #516
got you, just letting you know, thank you!

[2021-09-22 12:26] ekievsky commented on #196
@tomholub could you add me to apple developer team, so I could run our application on real device?  I need it in order to test Camera accesses.

[2021-09-22 12:26] tomholub commented on #516
it should be ok now

[2021-09-22 12:27] tomholub commented on #196
of course, what exactly should I be adding? your device uuid? If so, could you share it? Or your email address (the flowcrypt one?)

[2021-09-22 12:53] ekievsky commented on #196
you may I add me to flowcrypt email, but if it's possible it would be great if you add me using `jenia.kievsky@gmail.com`, 'cause I use it for apple developer purposes

[2021-09-22 12:56] ekievsky commented on #196
To compose email we use `Core.composeEmail(msg: SendableMsg, fmt: MsgFmt, pubKeys: [String]?)` that uses `SendableMsg` which containts `Attachment`(fields name, type, base64).
As I understand a flow, I need to:
- encrypt file using the Core method
- create `SendableMsg.Attachment` with `EncryptFile.encryptedFile: Data` base64 encoded
- create `SendableMsg` with this attachment and use the existing

[2021-09-22 15:49] tomholub commented on #469
This will be for @fcvakintos next week. I'd like to write an end-to-end UI test that tests login, setup and reading one message successfully with a user at `flowcrypt.com` domain - where keys are managed with Email Key Manager (EKM). For context here is relevant documentation https://flowcrypt.com/docs/technical/enterprise/email-deployment-overview.html but for the purposes of testing this, you do

[2021-09-22 15:51] tomholub opened #517 "EKM integration new tests - followup"
continuing from  https://github.com/FlowCrypt/flowcrypt-ios/issues/469#issuecomment-925056975

Once the stuff on above link works, in another PR, we could continue to do the following:

7) restart app and you should see inbox.
8) Open the message again and you should see a pass phrase prompt
9) Try entering wrong pass phrase, and a meaningful error should be shown, and you should be able to try ag

[2021-09-22 16:33] tomholub commented on #469
To clarify, so that this doesn't confuse Dmitry: for simplicity, I expect here on iOS we will initially use a real Google account and do an end-to-end test that way, not mocking anything.

However, in the long term, we may use the approach Den suggested - to have more control over the test environment and be able to test some scenarios that are difficult to reproduce with real live services.

[2021-09-22 16:49] tomholub opened #518 "consider a different CI provider for iOS?"
We use SemaphoreCI on all projects, but here for iOS UI tests it was giving us trouble - tests would run successfully on local mac Xcode but not run successfully on CI.

It's hard to say if it's our code or SemaphoreCI at fault without investigating further - so I'll ask Dmitry to look into it.

It may turn out that the issues may be solved by a combination of:
 - adjusting the code to run well in

[2021-09-22 16:55] tomholub commented on #196
Invitation sent

[2021-09-22 17:00] ekievsky commented on #196
can't see any invitation yet

[2021-09-22 17:01] tomholub commented on #196
There are two ways to do this.

Simple method: don't encrypt the file manually with separate method. Instead, add the file UNENCRYPTED into `SendableMsg` as `Attachment` and then `Core.composeEmail` will take care of everything and give you whole email MIME with attachment back.

Complicated method: Don't give `Core.composeEmail` any attachments and let it encrypt it without attachments, to produc

[2021-09-22 17:02] tomholub commented on #196
I've clicked to resend. It may take a while sometimes to arrive.

[2021-09-22 17:10] tomholub commented on #196
![image](https://user-images.githubusercontent.com/6306961/134389930-80830de7-dedc-43fa-a526-1685b21230f0.png)

[2021-09-22 17:12] ekievsky commented on #196
cool, lets just wait

thanks for explanation about the flow, we can move to complicated method after implementing the simple one

[2021-09-22 17:32] tomholub commented on #196
If we're lucky and the simple one works without problems, then we may not have to

Sure - try to open it in gmail without FlowCrypt installed, or on Gmail app on mobile. It will be unreadable. Then try to open it using FlowCrypt on Android or browser extension - it will show as encrypted, and if you open it, will be properly readable.

[2021-09-22 17:36] ekievsky commented on #196
I mean in code, now I am just skipping encrypting if `Core.encryptFile` throws error.

[2021-09-22 17:41] tomholub commented on #196
You won't be using `Core.encryptFile` in the simple flow, so that doesn't matter.

If you want to check during the simple flow with `Core.composeEmail`, then there isn't any way to check in code. As long as you supplied the attachments to the method, they must be present in the result. A quick check may be that the resulting MIME string should have more bytes that all of the attachments combined,

[2021-09-22 17:55] ekievsky commented on #196
hm, in case of opening a message with encrypted attachment it(attachment) is encrypted after `Core.parseDecryptMsg` and I need to decrypt it. Is there a way here to check if attachment is encrypted?

[2021-09-22 17:59] tomholub commented on #196
Do you need to know for writing unit test, or for later when working on decrypting attachments as well? For the second case, there is a separate issue there for another day: https://github.com/FlowCrypt/flowcrypt-ios/issues/195 (so we could discuss it there instead)

[2021-09-22 18:01] ekievsky commented on #196
okay, it was just to understand, thanks!

[2021-09-22 18:12] tomholub commented on #196
If one want to really confirm (for your own understanding or for some unit test), then you could use some MIME library to parse the data returned from `Core.composeEmail`. You should be able to retrieve the encrypted attachment.

After that, you can do two things:
 - check that the bytes are different from the plain file
 - feed it into `Core.decryptFile` and see if you can successfully decrypt it

[2021-09-22 20:02] ekievsky commented on #196
btw, still no emails from Apple :/

[2021-09-22 20:21] tomholub commented on #196
Is the screenshot I took above really your email without typos?

Could you check Spam and also Promotions tab, if you have any?

[2021-09-22 20:29] ekievsky commented on #196
yes, that's my email and there is no email in any inbox. Let's try with flowcrypt email

[2021-09-22 20:40] tomholub commented on #196
Ok, done:

![image](https://user-images.githubusercontent.com/6306961/134418579-10718399-d925-4320-bbf2-3febc7a90820.png)

[2021-09-22 20:41] ekievsky commented on #196
received, I will accept that tomorrow, thank you!

[2021-09-23 07:20] tomholub commented on #516
This turns out to be an intermittent issue. It went away when I logged out and set up again. I'm moving to 0.2.1, but we have to investigate this thoroughly, it suggests we are either using Realm wrongly or not checking errors properly during setup.

[2021-09-23 07:20] tomholub commented on #516
Interestingly, when this was happening, it was showing 3 keys in Settings -> Keys without issue.

[2021-09-23 07:37] tomholub opened #519 "pass phrase gets wrongly prompted even if message is not encrypted"
pass phrase dialog should be prompted when you attempt decrypting and get back a `need_passphrase` error.

It looks like the request for pass phrase is either done unconditionally whenever not present, or the need for pass phrase is somehow guessed.

To reproduce:
1) set up with pass phrase in session, restart app
2) open plain message

actual result: I'm asked for pass phrase
expected result: mes

[2021-09-23 07:38] tomholub commented on #519
There needs to be a test for this.

[2021-09-23 07:39] tomholub opened #520 "test for not needing pass phrase for plain message"
Test steps:
1) set up with pass phrase in session, restart app (to clear the pass phrase)
2) open plain message

expected result: message renders without asking for pass phrase

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/519#issuecomment-925572274_

[2021-09-23 07:45] tomholub opened #521 "wrong pass phrase accepted when reading msg -> fail"
Pass phrase that doesn't unlock any key should never get accepted. Even when accepted, it should only get saved for the keys that it unlocks. This should be done after #441

Can reproduce on #519 but is a bigger problem than that, even if that issue gets fixed.

Responding to pass phrase entry prompt should be refactored with this in mind.

[2021-09-23 07:50] tomholub opened #522 "pass phrase gets wrongly prompted when message has format error"
similar problem to #519 and another way to demonstrate #521

to reproduce:

1) set up app with pass phrase in session
2) restart app
3) open a mis-formatted message (eg any OpenPGP message where you maybe remove a few lines from the middle of the armored block)

actual result: user is prompted for a pass phrase, and even accepts a wrong one, then shows `format` error

expected result: user is not

[2021-09-23 07:56] tomholub opened #523 "wrong pass phrase gets accepted on key_mismatch"
similar problem to #519 and #522 and another way to demonstrate #521

to reproduce:
1) set up app with pass phrase in session
2) restart app
3) open a message encrypted for another account (eg encrypt it for some other person then manually move the message to this account)

actual result: user is prompted for a pass phrase, and it accepts a wrong one, then shows `key_mismatch` error

expected resu

[2021-09-23 07:59] tomholub opened #524 "pass phrase prompt "save" button should be renamed to "ok""
to get to the modal
1) choose to only remember pass phrase in session during setup
2) restart the app after setup
3) open any encrypted message

you will see the modal prompting for pass phrase - `save` should be renamed to `ok`

[2021-09-23 08:01] tomholub opened #525 "compose content disappears on app blur"
1) type text in compose view
2) put app into background
3) put app into foreground

actual result: composed message content disappears

expected result: composed message content should remain unchanged

tested with reply, probably problem in both

[2021-09-23 08:01] tomholub commented on #525
This needs a test, filing separate issue

[2021-09-23 08:02] tomholub opened #526 "test message content not wiped when app blured / focused"
1) type text in compose view
2) put app into baground
3) put app into foreground
4) test that the text, recipients and subject are still filled

test on both new message and reply

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/525#issuecomment-925587141_

[2021-09-23 11:30] ekievsky commented on #196
There is a case on iOS when user gives the limited access to Photo Library, it means that only selected photos can be used inside the app. The issue is that to show those selected photos we need to create custom View with those photos(For whole library it's provided by iOS SDK). I would restrict limited mode for now and create the other task for that custom view and handling limited access. What d

[2021-09-23 11:55] tomholub commented on #196
Sure - you can stick to a simpler version of this for now, and then we discuss the rest after.

Best would be if any files could be chosen from the app - from downloads folder, from other folders, from photos or screenshots etc - but if that takes more time, then for now just do a simplified/limited version of that as a proof of concept that can already be useful for some cases.

[2021-09-23 17:29] tomholub commented on #362
A more specific issue: https://github.com/FlowCrypt/flowcrypt-ios/issues/521

[2021-09-23 17:29] #362 closed

[2021-09-23 17:30] tomholub commented on #361
will be covered in https://github.com/FlowCrypt/flowcrypt-ios/issues/521

[2021-09-23 17:30] #361 closed

[2021-09-23 17:31] tomholub commented on #401
duplicate issue #440

[2021-09-23 17:31] #401 closed

[2021-09-23 17:33] #454 closed

[2021-09-23 17:45] tomholub commented on #502
This issue is about different builds: we have the following:

1) debug (label "DEBUG" should be added below the logo)
2) testflight (label "TESTFLIGHT" should be added below the logo)
3) consumer release (this should use the original icon without change)
4) enterprise release (label "ENTERPRISE" should be added below the logo)

But they all use the same icon. I would like to change the app icon to

[2021-09-23 20:25] tomholub commented on #456
This issue should be evaluated as you say. With the option to "keep pass phrase in memory", it is too inconvenient to keep re-typing the pass phrase into the app. It would be great if the pass phrase was saved in KeyChain and could be retrieved with FaceID.

[2021-09-24 08:00] tomholub opened #527 "TypeScript core build should update iOS js respource + build scripts"
following from https://github.com/FlowCrypt/flowcrypt-ios/issues/506

Please update package.json to add `postbuild` which copies the iOS artifact (may be called `-bare`?) to https://github.com/FlowCrypt/flowcrypt-ios/blob/master/FlowCrypt/Resources/flowcrypt-ios-prod.js.txt

Then after the .js.txt file is updated, please check the updated version into git (I expect it to be the same, or mostly sam

[2021-09-24 08:00] #506 closed

[2021-09-24 08:10] tomholub commented on #507
@IvanPizhenko this is quite an involved issue. I _think_ it should be reasonably doable, but I'm not 100% sure. So if you find yourself fighting something a lot, feel free to ask.

[2021-09-24 10:10] sosnovsky opened #529 "update cocoapods libraries to the latest versions"
Currently app uses many outdated libraries, we should update them to the latest versions as they possibly include some fixes and performance improvements

<img width="594" alt="Screenshot 2021-09-24 at 12 05 57" src="https://user-images.githubusercontent.com/1062093/134657901-ed5da5fe-e793-4cc9-a982-4cfc3a815837.png">

[2021-09-24 10:24] tomholub opened #530 "google grant checkboxes unticked"
Roman:

Me:

Roman:

Me:

[2021-09-24 10:30] tomholub opened #531 "better handling of missing google grants - user guidance"
When following these steps:

1) Continue with Gmail
2) log in (if needed)
3) on grant screen, ensure to scroll down and **uncheck** Gmail permissions
4) allow

actual behavior: ugly error shows, retry is not helpful

expected behavior: explain to the user that there was a missing grant, where it is and what it looks like, and offer them a way to conveniently go back and re-do it with the grant not

[2021-09-24 10:44] tomholub opened #532 "should session persist when user logs into google but doesn't proceed with the rest of setup?"
excerpt from chat

[2021-09-24 10:48] tomholub commented on #532
I suppose this could be discussed. It may be more user friendly to persist google session even if setup is not done, in case user gets busy or confused and comes back to the app later to finish setup later. I'm keeping this in a "discussion" milestone for now, as we have more pending issue to worry about in the meantime, and it does deserve some thought (eg security implication if we save the sess

[2021-09-24 10:55] sosnovsky opened #533 "Navigation bar disappears on iOS 15"
Navigation bar not visible after launching app, it appears only after scroll and then hides when scrolled back to the top.

https://user-images.githubusercontent.com/1062093/134663360-2ae99c24-976c-4d46-bfab-288a212e541f.MP4

[2021-09-24 10:58] tomholub commented on #533
Interestingly could not reproduce on my device (iphone 12 / iOS 14.7.1). Tested both light and dark mode.

[2021-09-24 10:58] tomholub commented on #533
Ok I just saw iOS 15 - got it.

[2021-09-24 12:28] tomholub commented on #516
(I removed some comments that were not related to this particular issue, for clarity)

[2021-09-24 13:40] tomholub opened #534 "information about test secrets missing in readme"
We should update readme with something like:

[2021-09-24 14:27] #285 closed

[2021-09-24 14:27] #302 closed

[2021-09-24 14:27] #529 closed

[2021-09-24 15:12] tomholub opened #536 "progress bar when sending/uploading message"
(especially needed when attachments are added)

if it's a bigger file, it takes a while: there should be a progress bar. We've done something similar on Android. The first 30% of the progress bar are taken up by encryption (which we have no way to track progress of) and the last 70% is upload of the message to Gmail servers, which you should be able to track progress of.

_Originally posted by @to

[2021-09-24 15:13] tomholub opened #537 "dark theme cannot read attachment names (both composing and received)"
2) on dark theme, the attachment names are barely readable (also when receiving)

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/505#pullrequestreview-763195500_

[2021-09-24 15:14] tomholub opened #538 "don't add .pgp to file list when attaching files on compose screen"
(when composing a message and adding attachment)

the .pgp filename should not be visible in that list. So you don't have to alter the filename, after all (the encryption method should be already transparently renaming them)

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/505#pullrequestreview-763195500_

[2021-09-24 15:15] tomholub commented on #538
notice browser extension:

![image](https://user-images.githubusercontent.com/6306961/134698993-64e6ac53-71ca-4683-b60c-827127958264.png)

[2021-09-24 15:16] tomholub opened #539 "a way to remove attachments on compose screen"
4) later I should have a way to remove attachment from compose screen if I changed my mind before sending

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/505#pullrequestreview-763195500_

there should be a little `X` icon on the right side of the attachment bubble for this

[2021-09-24 15:37] IvanPizhenko commented on #527
@tomholub There is already "deploy" task which does the job, just need to edit it a bit, because it copies stuff to the both Android and iOS, while now we only need iOS.

[2021-09-24 16:05] tomholub commented on #527
that sounds good - thanks

[2021-09-24 16:11] #527 closed

[2021-09-24 17:34] #498 closed

[2021-09-24 18:28] tomholub commented on #508
@IvanPizhenko please have a look after #507

I recommend to only do the TypeScript parts + adjust TypeScript tests, and make a Draft PR where the iOS app remains broken. Then we'll leave fixing Swift to a Swift developer, to finish the PR. Thanks!

[2021-09-24 18:53] tomholub commented on #519
For this issue, the following:

[code]

Needs to be changed. The current code seems to insist that keys have to have pass phrases, but that's not desired, so the whole `reject(MessageServiceError.missedPassPhrase(rawMimeData))` needs to be removed.

Then `getPrvKeyInfo` maybe needs to be updated to happily return keys without pass phrases, if the pass phrase is not available (kept in memory, and n

[2021-09-24 18:54] tomholub commented on #500
App cannot be transferred because it was never released before. I have to submit it again on new dev account. But for that, I need a functional app, which we'll have once milestone 0.2.0 is otherwise ready.

[2021-09-24 18:56] tomholub commented on #441
I think a more fitting way to fix this would be to add pass phrase as an optional field on the "keys" table. No reason to have a separate table if it's 1:1 to keys.

[2021-09-24 19:02] tomholub commented on #521
#519 was re-written to address this issue too

[2021-09-24 19:02] #521 closed

[2021-09-24 19:02] tomholub commented on #522
#519 was re-written to address this issue too

[2021-09-24 19:02] #522 closed

[2021-09-24 19:03] tomholub commented on #523
I suppose #519 as re-written should close this issue, but I'll leave this one open for further testing afterwards.

[2021-09-24 19:07] tomholub commented on #530
How to triage:

1) create a new vanilla Gmail account. Don't use it with any other FlowCrypt app
2) try to sign up with `Continue with Gmail`
3) are the checkboxes on the grant screen checked or unchecked by default?

Then try something similar on an account where FlowCrypt was already used (or same account after doing it at least once successfully)

[2021-09-24 19:09] tomholub commented on #530
![image](https://user-images.githubusercontent.com/6306961/134727795-c2ea8a9f-0e46-43c9-908f-fb70791f8b19.png)

![image](https://user-images.githubusercontent.com/6306961/134727803-46a0bcab-93cf-4f9b-8184-3b84af2ce6c6.png)

[2021-09-24 19:14] IvanPizhenko commented on #507
@tomholub  I've run into issue - after removing `entrypoint-node.ts` and `node-host` folder build no longer works, it doesn't recognize any Node type, VS Code also doesn't recognize any Node types anymore and highlights errors.
Example of build error message:
[code]
I have `@types/node` types installed, surely.
I don't know how to resolve this.
The only thing I knew - I've tried to add
[code]
But

[2021-09-24 19:16] tomholub commented on #507
I'll take a look

[2021-09-24 19:22] IvanPizhenko commented on #507
thank you

[2021-09-24 19:29] tomholub commented on #507
It was missing node type definitions in tsconfig, this fixed it:
[code]

Now it gets further:

[code]

[2021-09-24 19:47] IvanPizhenko commented on #507
thanks, will retry the build

[2021-09-24 20:44] IvanPizhenko commented on #507
@tomholub I've run into another issue with emailjs dependency:
When trying to run tests:

[code]
Then `MimeBuilder` is defined as:
[code]
In `require.ts` I find:
[code]

I've tried to add in `test.ts` following:
[code]
But this gives me another error:
[code]

Please advise how to solve this.

[2021-09-24 20:48] tomholub commented on #507
This is the hardest part of working with the TypeScript core - forcing all of the dependencies into place in a way we can actually use them. It can be a real struggle. But it worked before, so hopefully it's something minor. I'll take a look.

[2021-09-24 20:52] IvanPizhenko commented on #507
Tried simpler one:
[code]
doesn't work too.

[2021-09-24 23:00] IvanPizhenko opened #542 "Latest version (2.5.1) of sanitize-html cuts extra word"
**UPDATE** so far there is already version 2.5.2, but the problem still happen.

Latest version (2.5.1) of sanitize-html cuts extra word:
[code]
`Above` is cut away
So I am going to revert and restore the fix.
It can be separate issue to upgrade it and fix this.

_Originally posted by @IvanPizhenko in https://github.com/FlowCrypt/flowcrypt-ios/pull/541#issuecomment-926958831_

[2021-09-25 06:22] #507 closed

[2021-09-25 06:24] tomholub commented on #542
Maybe, for the new version, we have to use it slightly differently to achieve the same result. Or maybe it's just a bug in their lib.

[2021-09-25 07:21] tomholub opened #543 "convert backupToInbox method from Promise to Future"
Maybe we could have a separate PR later to covert this `backupToInbox` to a Future. I'll file it.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/505#discussion_r715525076_

[2021-09-25 18:18] IvanPizhenko commented on #508
yes, because I don't have Mac, I think I can only do TS part here and leave Swift part for another developer.

[2021-09-25 23:14] IvanPizhenko commented on #508
@tomholub I have finished TS part, please look at PR #544. Now it is turn of the Swift developers.

[2021-09-26 08:50] tomholub opened #545 "use a byte array instead of b64string for Core request data"
Here:

[code]

(then run `cd Core && npm run-script deploy`)

That means on swift side, also change here:

[code]

[2021-09-26 10:02] tomholub commented on #508
Left to do in this issue - pick any unit test that uses the JavaScriptCore and fix the test, which should fix all others. The fix will be likely here https://github.com/FlowCrypt/flowcrypt-ios/blob/6367703c35bfe3df860573e8b2b8b0393b64a545/FlowCrypt/Core/Core.swift#L198 and look roughly like this:

[code]

A suitable test for this is `testEndToEnd` in `FlowCryptAppTests/Core/FlowCryptCoreTests.swif

[2021-09-26 10:06] tomholub commented on #508
It should be an easy update but if it gives you a lot of trouble, it's possible that an update would be needed on TypeScript side to make it work. If TypeScript is not your area, and you suspect this, tag me to have a look.

[2021-09-26 12:41] ivan-ushakov commented on #508
Looks like JavaScriptCore does not support `UInt8Array` because it has type `NSDictionary` in JSValue. I tried to get `NSArray` because JavaScript should map to it but without success. Here is [mapping](https://developer.apple.com/documentation/javascriptcore/jsvalue) for JavaScript and JSValue types.

[2021-09-26 12:47] ivan-ushakov commented on #508
I tried this change and `data` property has value `NSArrary`, but each element inside array is a `NSNumber` so I guess this is not what you want.

[code]

[2021-09-26 12:51] IvanPizhenko commented on #508
@tom

[2021-09-26 13:05] tomholub commented on #508
@IvanPizhenko sure as a backup, but not so fast :-) I want to make sure.

@ivan-ushakov could you try casting it straight from any to `[Uint8]` in Swift? Because I was able to do it in `CoreHost` - have a look at `decryptAesCfbNoPadding`.

This method is called from JavaScript. The method is defined in `Swift` as `func decryptAesCfbNoPadding(_ ct: [UInt8], _ key: [UInt8], _ iv: [UInt8]) -> [UInt8]

[2021-09-26 13:16] tomholub commented on #508
Even better example (Uint8 array from JS to swift) is `produceHashedIteratedS2k` - the arguments, in particular `prefix` which is more obvious:

[code]

And here excerpts from javascript:

[code]

The `prefix` that is used there (and sent straight to Swift as parameter call) is Uint8Array which can be visible just below:

[code]

If it works there, I suppose there should be a way to work it on thi

[2021-09-26 13:45] tomholub commented on #508
For clarification - the return type as it currently is implemented is `{json:string, data: Uint8Array}` which would probably translate to `NSDictionary` as you say? Is it not possible to the access the actual values of the `NSDictionary` and cast one of them to string and the other to `[Uint8]`?

[2021-09-26 14:56] ivan-ushakov commented on #508
I tried this one:
[code]

but `data` property is still `NSDictionary` and it is not possible to cast to `[UInt8]` in Swift.

[2021-09-26 15:05] ivan-ushakov commented on #508
This could be a limitation of `JSValue`. So when you invoke Swift methods from JS you could have `Uint8Array` to `[UInt8]` mapping.

[2021-09-26 15:21] tomholub commented on #508
Hm. Maybe if we define the callback method signature more clearly in Swift, then it will be possible.

Eg here:

[code]
Instead of `[NSObject]` could you try `[[Uint8]]` ?

And in `FlowCrypt/Resources/flowcrypt-ios-prod.js.txt` file, change this:

[code]

To this:

[code]

Try to find a more minimal example to debug on - like this above - see if you can make it actually work with the [Uint8]. Sinc

[2021-09-26 17:19] ivan-ushakov commented on #508
I changed result processing to avoid using `JSValue`. Now result goes directly to the Swift method. Please check my commit. Some of tests are still failing.

[2021-09-27 08:23] sosnovsky opened #547 "can't select second photo attachment"
I selected 1 photo - it was added to attachments. I tried to select second photo but it gives me "Could not add a photo" error each time:

https://user-images.githubusercontent.com/1062093/134871078-42cfd162-6835-4217-ba4c-1b2fbd38db75.mp4

[2021-09-27 11:58] tomholub opened #550 "fix attachment size check?"
Shouldn't this be `totalSize + attachment.size > GeneralConstants.Global.attachmentSizeLimit` ?

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/505#discussion_r716214885_

[2021-09-27 12:00] #196 closed

[2021-09-27 12:07] tomholub opened #551 "self.decrypter.decryptKey should be checking error types more carefully"
<img width="726" alt="image" src="https://user-images.githubusercontent.com/6306961/166004131-eea05635-453d-4fd4-b73b-6073bd354147.png">

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/548#discussion_r716624993_

[2021-09-27 12:21] #426 closed

[2021-09-27 12:46] #524 closed

[2021-09-27 15:52] tomholub commented on #536
Actually, on Android, we place this in the Outbox queue which gets sent asynchronously, without user waiting for it. But it took quite some effort to get that right, and handling errors is not easy. So we'll wait on this.

[2021-09-27 16:44] #513 closed

[2021-09-27 16:48] tomholub commented on #392
The version is now 3.2.5, closing

[2021-09-27 16:48] #392 closed

[2021-09-27 16:49] tomholub commented on #450
I suppose the color is too light for the dark mode?

[2021-09-27 17:04] tomholub opened #553 "contacts store should allow more than one public key per recipient email address"
Currently, I believe we restricted maximum of 1 public key per recipient in the db, and also in Settings -> Contacts.

We should instead allow more than one public key per recipient. With this, Settings -> Contacts should get updated - next to each email it should say something like `(1 public keys)` or `(3 public keys)` with 50% opacity.

Once I click on it to view the public key, instead of the

[2021-09-27 17:22] tomholub opened #554 "keep public keys fresh"
after #553

Current logic during compose / adding recipients is:
1) I enter recipient email
2) local database gets checked for public keys. If recipient public key is there, use it for encryption. Else if no public key locally, follow to next step
3) remote public key gets fetched. If no public key is found, recipient turns gray. If public key is found, it gets stored in local public keys, and lat

[2021-09-27 17:26] tomholub commented on #238
app will be undergoing security review shortly

[2021-09-27 17:35] tomholub opened #555 "dep updates - can't build locally anymore"
Sorry for my lack of experience with the pods/ruby ecosystem.

When I try to build the app, I get:

pod install:

[code]

[code]

I can see that in CI we just run `make dependencies`:

[code]

But none of the above helped, and unsure how to get over the pod install issue without messing more things up.

What should I do? Thanks!

[2021-09-27 17:36] tomholub commented on #555
Looking at the readme, this looks more hopeful:

[code]

[2021-09-27 17:41] tomholub commented on #555
may have fixed it with `bundle exec pod install --repo-update`

[2021-09-27 17:41] #555 closed

[2021-09-27 17:46] tomholub opened #556 "update copyright notice everywhere + update template"
In all files, this (with any year):

[code]

Should read:

[code]

[2021-09-27 17:52] tomholub opened #557 "add Contact.fromKeyDetails extension"
This code from PubLookup:

[code]

should be moved to become an extension on `Contact` instead, so that it can be reused.

[2021-09-27 17:59] tomholub opened #558 "expose pubKeyLastSig and pubkeyExpiresOn"
These two are missing, although they are returned from TypeScript:

[code]

[2021-09-27 18:05] tomholub commented on #558
They should be getting returned from TypeScript as follows:

[code]

So it should be as simple as updating Swift KeyDetails to add these two:

[code]

[2021-09-27 18:09] tomholub opened #559 "Rearrange PubLookup, Attester, WKD, WKDUrls classes"
their folder placement lacks proper hierarchy

[2021-09-27 18:34] tomholub commented on #516
At least this seems to be quite reliably reproducible.

[2021-09-27 18:37] tomholub commented on #445
Todo in this issue: use the primary fingerprint as the primary index in the db table.

[2021-09-27 19:10] ekievsky commented on #550
yes, right

[2021-09-27 19:14] tomholub opened #561 "message service getMessage should be called getAndProcessMessage"
[code]

[2021-09-27 19:19] #508 closed

[2021-09-27 19:25] ekievsky commented on #195
To check if attachment is encrypted we just use a RegEx, right?

How do we check if attachment is armored? Seems that in context of Keys it's handled by JS code

[2021-09-27 19:34] tomholub commented on #195
Yes, on iOS this part is done in JS code as you say - decryptFile will transparently handle armored or binary attachments.

For now you can go by the attachment ending with `.pgp` -> encrypted, else plain. I would probably not use RegEx if there is a simpler String method like `.endsWith(".pgp")`. If Swift doesn't have that, then regex.

[2021-09-27 19:36] ekievsky commented on #195
It does, got you, thanks!

[2021-09-27 19:49] #550 closed

[2021-09-27 21:50] ekievsky commented on #195
One more question, are the listed errors thrown by JS code? is there a way I may simulate these errors using JS code?

[2021-09-28 07:36] tomholub commented on #195
Could you try to debug it as well? I'd really like to resolve this. Actually - if you could look into it before continuing on the decryption, that would be great.

[2021-09-28 07:37] tomholub commented on #516
Also adding @ekievsky to have a look in parallel - this issue is becoming annoying.

[2021-09-28 07:41] tomholub commented on #195
Yes, returned from js

`key_mismatch` - give it a file that was encrypted for public key that does not match private key you are using for decription

`need_passphrase` - omit pass phrase in PrvKeyInfo

`wrong_passphrase` - give it wrong pass phrase in PrvKeyInfo

`format` - remove some chunk of the encrypted data from the middle, which should screw up the message enough that when you try to decry

[2021-09-28 08:27] tomholub opened #563 "attaching a screenshot (instead of a photo) causes error"

[2021-09-28 08:28] tomholub opened #564 "cannot attach a video"
the file picker lets me attach a photo and other but not a video I took from camera earlier

[2021-09-28 13:42] sosnovsky commented on #516
@tomholub is there any way to simulate new user setup? As this bug happens only for new users, but isn't reproduced for existing users.

[2021-09-28 13:51] sosnovsky commented on #516
Yeah, I finally reproduced it by resetting Xcode simulator content, as after app uninstall-install it worked well without "fetch keys" error. Thanks!

[2021-09-28 13:57] #525 closed

[2021-09-28 14:15] sosnovsky commented on #516
I'm reproducing it with my `flowcrypt.com` mail, but I think it happens for other accounts too.

I found where this bug happens - https://github.com/FlowCrypt/flowcrypt-ios/blob/master/FlowCrypt/Functionality/Services/Key%20Services/KeyService.swift#L84

Stored passphrase has 2 fingerprints, but app compares only `primaryFingerprint`(which is the first one).
On first app launch first fingerprint i

[2021-09-28 14:22] sosnovsky commented on #516
Got it, I'll check why order is wrong on the first app launch

[2021-09-28 14:38] sosnovsky commented on #516
Issue is reproduced only after resetting simulator, so if you installed app in simulator before running ui tests then "fetch keys" alert won't be shown. Possibly app stores some data in keychain which is deleted only on device reset.

I think it should be possible to automatically reset simulator before running ui tests to make this issue reproducible there too.

[2021-09-28 15:24] ivan-ushakov commented on #411
Looks like this was changed a lot because now it uses Compose to provide future object:
[code]

and in `ComposeMessageService`:
[code]

[2021-09-28 15:27] tomholub commented on #411
I see it now - could you check what happens when you give it some bogus pubkey to trigger an error?

[code]

It should surface the error to the user as a modal in a generic manner.

[2021-09-28 15:45] ivan-ushakov commented on #411
Do you have any test user for the app? Maybe some kind of test account?

[2021-09-28 15:53] tomholub commented on #411
Yes, I'll just need an NDA signed if that is ok with you. You'll get your own account on `flowcrypt.com` domain that you can test with, and also some general test accounts. Also test secrets to run UI tests.

[2021-09-28 16:16] ekievsky commented on #516
@tomholub should I still work on it?

[2021-09-28 16:23] tomholub commented on #516
@ekievsky it seems Roma is pretty close - in that case it would be better for you to continue on other issue. Thanks for asking.

[2021-09-28 16:24] ekievsky commented on #516
good, thanks!

[2021-09-28 17:34] tomholub commented on #417
(just realized - this one is blocked for @yakovlev0509 as a test issue)

[2021-09-28 17:42] tomholub commented on #492
The problem around somewhere here:

[code]

Or in code that precedes that. `replyToMimeMsg` is supposed to have mime message (or at least mime headers of that message) in it when replying to some message. Does it? That's one thing to debug.

If it does, then after it goes through `core.composeEmail` later, the resulting mime headers must include `in-reply-to` and `references` headers, something li

[2021-09-28 18:08] ivan-ushakov commented on #411
OK, I will contact you tomorrow about NDA.

[2021-09-28 21:22] tomholub commented on #417
@newuser4github - given that this one is taken, please choose one of these 4 below. Once you accept invitation, you'll be able to self-assign one of them.

https://github.com/FlowCrypt/flowcrypt-ios/issues/563
https://github.com/FlowCrypt/flowcrypt-ios/issues/547
https://github.com/FlowCrypt/flowcrypt-ios/issues/539
https://github.com/FlowCrypt/flowcrypt-ios/issues/492

[2021-09-29 12:55] #516 closed

[2021-09-29 13:51] #515 closed

[2021-09-29 14:05] sosnovsky commented on #441
Do we need to use migrations here? Or we don't have many test users and db schema change can be done without adding migration?

[2021-09-29 15:01] ivan-ushakov commented on #545
I guess you mean this:
[code]
because `request` should stay JSON

[2021-09-29 15:34] ivan-ushakov commented on #557
Do you want to have this as static method or constructor like:
[code]

[2021-09-29 18:55] newuser4github opened #572 "cocoapods-core-1.11.2 requires ruby version >= 2.6, which is incompatible with the current version, ruby 2.5.1p57"
Hi @sosnovsky I tried to follow the instructions from the README.md to set up the app's environment and failed after the command

with output

Please tell me exactly what I have to do to be guaranteed to overcome this, thank you!

[2021-09-29 19:14] #545 closed

[2021-09-29 19:16] tomholub commented on #441
can change schema without migrations. thanks

[2021-09-29 19:41] sosnovsky commented on #572
Hi @newuser4github, I forgot to update README.md after upgrading CocoaPods to the latest version.
The quick fix is to use these commands:
[code]

instead of
[code]

[2021-09-29 20:51] #572 closed

[2021-09-29 21:09] tomholub commented on #445
no migrations needed in this milestone at all

[2021-09-29 21:15] tomholub opened #574 "try to run UI tests on CI"
Last time we tried, they didn't run smoothly there.

[2021-09-29 21:18] tomholub opened #575 "actions on emails directly in inbox"
Maybe if I tap and hold on some item, I could archive it, move to trash, mark as read?

Or maybe the same by sliding to the side, then the button appear to the right?

Whatever is more common on iOS.

Remember, the possible actions differ based on which folder am I in - we already have logic for that in place to reuse. Eg Cannot archive email that is already in inbox, but can move it back to inbox

[2021-09-29 21:18] tomholub opened #576 "show bubbles from local contacts when compose"
[tbd]

[2021-09-29 21:32] #557 closed

[2021-09-30 10:36] tomholub commented on #574
UI tests will be re-created from scratch, won't try to run current UI tests on CI anymore.

[2021-09-30 10:36] #574 closed

[2021-09-30 10:53] sosnovsky commented on #440
Note to me - to reproduce oauth token in logs try to setup account with EKM:
[code]

[2021-09-30 14:31] ivan-ushakov commented on #511
Looks like this is [already fixed](https://github.com/FlowCrypt/flowcrypt-ios/tree/master/FlowCrypt/Functionality)

[2021-09-30 14:33] ivan-ushakov commented on #511
Ah, I found that in unit tests it is still wrong

[2021-09-30 15:21] newuser4github opened #580 "A few notes on UI and behavior"
The name of the protocol can be entered manually and it's kind of weird...
![UI6](https://user-images.githubusercontent.com/16971606/135482790-8f8ad805-0c4e-43de-8fdf-b7bdac8f60a6.jpg)

After selecting a protocol from the list, this field is cleared automatically and the inexperienced user does not know whether he should try to enter the port number again or whether the application will use the de

[2021-09-30 15:31] ivan-ushakov commented on #543
I'm not sure this could be done without changing the whole invocation chain starting from view controllers because inside view controllers this is used with Promises and `await` methods.

[2021-09-30 15:39] ivan-ushakov commented on #411
Here is how it looks:

![Simulator Screen Shot - iPhone 11 Pro - 2021-09-30 at 18 38 08](https://user-images.githubusercontent.com/1408366/135486899-3a20ce1f-9b32-4782-91fb-6cce53cae04b.png)

but I found that error handling happens off the main thread:
[code]
I will fix this.

[2021-09-30 15:54] ivan-ushakov commented on #411
Also I found that something happens with navigation bar and buttons (see screenshot above).

[2021-09-30 15:59] tomholub commented on #580
Thanks! The web sloppy markup should be filed in the web repo internally, I'll file it there.

[2021-09-30 16:01] tomholub commented on #543
That's possible. The goal is to refactor Promises away, but ideally do it in some smaller chunks of work so that the PRs are smaller, whenever/if it can be done that way.

[2021-09-30 16:01] #511 closed

[2021-09-30 16:02] #561 closed

[2021-09-30 17:19] ivan-ushakov commented on #543
OK, I will work on it on weekends because it requires more time than I have during the day.

[2021-09-30 21:03] tomholub opened #583 "use enum for StorageMethod"
instead of these `shouldStorePassPhrase` and `inStorage` and similar booleans, we should use an enum like `StorageMethod.permanent` vs `StorageMethod.memory`, everywhere. That would be for another PR. Then here it will say `if storageMethod == StorageMethod.memory`

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/577#discussion_r719542689_

[2021-09-30 21:06] tomholub opened #584 "possible code clarity improvements?"
I thought on possible improvements here, but decided that this pull request already has many changes and it'll be better to work on `inStorage` update later.

_Originally posted by @sosnovsky in https://github.com/FlowCrypt/flowcrypt-ios/pull/577#discussion_r719718919_

If any ideas crossed your mind, we can discuss them here, then file issues separately.

[2021-09-30 21:24] tomholub opened #585 "rename variable + remove comment for clarity"
The original wording here was unclear. The comment should be removed, and `keysToEnsure` should be called `keysWithPassPhrases` - in another PR.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/577#discussion_r719774473_

[2021-09-30 21:32] tomholub opened #586 "surface `ComposeMessageError` details to user"
Maybe `ComposeMessageError` should be updated to provide more human readable error description.

_Originally posted by @ivan-ushakov in https://github.com/FlowCrypt/flowcrypt-ios/issues/581#issuecomment-931474057_

Could you please show a screenshot of what it shows now?

[2021-10-01 05:38] ivan-ushakov commented on #586
![135486899-3a20ce1f-9b32-4782-91fb-6cce53cae04b](https://user-images.githubusercontent.com/1408366/135570855-3d9212fb-5351-4e7d-b789-98da58aea464.png)

[2021-10-01 08:40] tomholub commented on #586
Oh, definitely. The Core method surely returns some sort of error `message`, that should be surfaced to the user.

[2021-10-01 09:01] #411 closed

[2021-10-01 10:53] sosnovsky opened #587 "delete passphrases from InMemoryPassPhraseStorage on logout"
Before deleting I checked where `removePassPhrases` is used and it was used only in 1 place - https://github.com/FlowCrypt/flowcrypt-ios/blob/master/FlowCrypt/Functionality/Services/Key%20Services/PassPhraseService.swift#L86

So after removing `EncryptedStorage` I removed this method too, as it wasn't used anywhere else.
It seems currently we're not deleting passphrases from memory on logout. I'll

[2021-10-02 21:23] tomholub opened #593 "see if we can avoid both .map and force unwrapping when dealing with non-array nullables"
I know this is probably my problem not coming from a Swift background, but to me a `.map` implies that `keyDetail.expiration` is some sort of an iterable, and you're applying a method over it to return something iterable again.

But that's not the case here - `keyDetail.expiration` is an `Int?` and so the `.map` on values like this will never stop confusing me :-( seems to be a common practice in

[2021-10-02 21:24] tomholub commented on #593
<img width="647" alt="image" src="https://user-images.githubusercontent.com/6306961/135732120-d3e5e923-f454-4a62-b60a-e42366ebf256.png">

[2021-10-03 06:53] ekievsky commented on #504
In JS code you have `DomainRules` object that's the same as `ClientConfiguration` in Swift code, so maybe I should just rename `ClientConfiguration`?

[2021-10-03 07:02] tomholub commented on #504
JS code needs to be renamed too.

Where in Swift code do we need a separate object that wraps the `ClientConfiguration`? Is it to match http response, or is it some other reason?

[2021-10-03 07:04] ekievsky commented on #504
It's just raw data model that keeps data from API.

[2021-10-03 07:06] tomholub commented on #504
The call the wrapper `ClientConfigurationWrapper`, having a separate name is confusing

[2021-10-03 07:07] ekievsky commented on #504
Okay, I will.

[2021-10-03 07:27] #534 closed

[2021-10-03 07:49] #441 closed

[2021-10-03 07:57] #299 closed

[2021-10-03 07:57] #445 closed

[2021-10-03 08:17] #195 closed

[2021-10-03 08:28] paragdulam commented on #533
we can try using UINavigationBarAppearance in the InboxViewController's setupNavigationBar() method.

        let retVal: UINavigationBarAppearance = UINavigationBarAppearance()
        retVal.configureWithOpaqueBackground()
        retVal.backgroundColor = UIColor.main // app's green color
        navigationController?.navigationBar.scrollEdgeAppearance = retVal
        navigationController?.navi

[2021-10-03 14:23] tomholub opened #596 "use back icon instead of titled buttons on setup screens"
@ekievsky this add a "Use Another Account" button but I'm thinking it would be less intrusive if we added a back icon in the green header on top. Also "optionalAction" is undescriptive.

I suppose you've done this to follow how it's done on some other setup screens? Could you instead use back icons on all of these? (called `backIcon` rather than with an ambiguous name)

I'll merge this first, you

[2021-10-03 14:30] #558 closed

[2021-10-03 15:51] #459 closed

[2021-10-03 16:30] ivan-ushakov commented on #586
@tomholub How we should map CoreError enumeration to string? I mean we can not use String object associated with enumeration element because it is not user friendly. So we need to have some kind of mapping from engineer kind of error to user friendly error.

Currently we have following elements in CoreError:
[code]

Maybe we don't need to map them all.

[2021-10-03 16:37] ivan-ushakov commented on #593
No, you should unwrap variable even if you tested it to be not null. The only way I see here is to have special method like [XCTUnwrap](https://developer.apple.com/documentation/xctest/3380195-xctunwrap).

[2021-10-03 17:26] ivan-ushakov opened #597 "DB migration"
Do we need to have DB migration or this is not important at this moment since we are not in production? For example we changed primary key and when I run `master` branch I get this error:
[code]
I understand that all I need is to reinstall the app but this could be not user friendly for beta testers or other people who using application (including developers).

[2021-10-03 21:18] tomholub commented on #597
Thank you for asking this question. Indeed, for now we can skip migrations since we have no production users. Starting around November, we'll have to start including migrations. That's why I'm trying to make sure we do most of the needed schema changes before then.

I'll go ahead and close this issue - thanks again.

[2021-10-03 21:18] #597 closed

[2021-10-03 21:29] tomholub commented on #586
Except for `exception`, `notReady` and `value`, these are all decryption-only errors. The swift code here is not ideal, since we are mixing them together - eventually we'll improve that.

The above error is probably returned in JSON as something like `{"error": {"message":"Error: message could not be encrypted because the public key is invalid","stack":"Error: ...\n..."}}`

That should become the

[2021-10-03 22:05] tomholub commented on #593
I can see now that it's using this .map for Optionals: https://developer.apple.com/documentation/swift/optional/1539476-map

That looks good but the name is really unfortunate. Can it be aliased, or can we write our own? To call it something sane like `.ifNotNil` ?

[code]

The goal is that `.map` should be reserved for array-like situations, so that data structures are more obvious during code re

[2021-10-03 22:13] tomholub commented on #417
Cleared up comments above. This issue is open/unassigned again.

[2021-10-03 22:19] tomholub commented on #393
I don't know if this is realistic or if it will have other side effects (not my stack). But worth exploring.

[2021-10-03 22:40] tomholub commented on #391
Unsure if this issue was already addressed. If yes, please close.

[2021-10-04 10:34] sosnovsky commented on #391
Yes, we're currently using the latest 2.8.0 version.

<img width="391" alt="Screenshot 2021-10-04 at 13 33 12" src="https://user-images.githubusercontent.com/1062093/135836623-717b823a-f79d-43b6-9607-374edaac3320.png">

[2021-10-04 10:34] #391 closed

[2021-10-04 12:14] #440 closed

[2021-10-04 12:32] #519 closed

[2021-10-04 13:07] tomholub commented on #533
@paragdulam thanks for suggestion. How did you find or come across our project?

[2021-10-04 13:09] #587 closed

[2021-10-04 13:14] tomholub commented on #530
I suppose the scope we pass into google auth request must be wrong, or there is some other similar problem. You could compare the code to Android or browser extension, or to other apps that use Google oauth with additional scopes, and see what went wrong.

[2021-10-04 16:09] paragdulam commented on #533
Hi @tomholub, I came across this Upwork job post that had information about this repo. Found flowcrypt very interesting. I want to contribute to the Project. Saw some open issues and was able to reproduce this ticket on my end as well. Hence, posted a suggestion. Hope that's ok.

[2021-10-04 16:41] tomholub commented on #533
@paragdulam of course it's ok :-) I just wanted to understand. If you'd like to contribute, you should get paid. Please write me at tom@flowcrypt.com so that I could find some specific issues for you to work on.

[2021-10-04 17:38] ivan-ushakov commented on #492
mime:
[code]

[2021-10-04 17:52] ivan-ushakov commented on #492
And in TypeScript code we expect to have reply headers:
[code]

[2021-10-04 18:11] ivan-ushakov commented on #586
Look like error is thrown in JavaScript code `openpgp.js`
[code]
This is the reason why we don't have error type and use `CoreError.exception`.

[2021-10-04 19:16] tomholub commented on #586
Got it. In that case, a modal like:

[code]

should be shown to user. Then, if the message is different, a different modal should be shown. It's up to you how to do it code-wise, as long as it's generic.

[2021-10-04 19:26] tomholub commented on #492
The above MIME at https://github.com/FlowCrypt/flowcrypt-ios/issues/492#issuecomment-933705803 seems to be the original message, not the reply.

Could you also show MIME from:
 - the reply made by iOS app
 - the reply to the same email made by browser extension

That should help uncover the issue.

[2021-10-04 19:40] ekievsky commented on #563
This issue is not reproducing for me now.

[2021-10-04 19:43] tomholub commented on #456
Current design of the app:
 - there is a Realm database, which is encrypted as a whole using a key from KeyChain (unlocks transparently as long as user device is unlocked).
 - the Realm database contains user OpenPGP keys, which are encrypted using user-selected pass phrase that has to have some minimum entropy. (a pass phrase like `joe halloween brings pudding`)
 - there can be more than one key,

[2021-10-04 19:52] tomholub commented on #563
What would be the fix? Since it lets me choose a particular object (a screenshot), I'd expect it should be able to process it too.

[2021-10-04 19:53] ekievsky commented on #563
That's the thing. I working on resolving it

[2021-10-04 19:54] tomholub commented on #563
got it :-)

[2021-10-04 20:07] tomholub opened #600 "user in ClientConfigurationObject should not be nullable"
[code]

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/446#issuecomment-899032752_

similar to #562

[2021-10-04 20:08] tomholub commented on #446
follow-up in #600

[2021-10-04 20:08] #446 closed

[2021-10-04 20:08] tomholub commented on #600
also this
![image](https://user-images.githubusercontent.com/6306961/135917521-316c6c49-c7c9-4860-a5fe-0d826bd446aa.png)

[2021-10-04 21:02] #444 closed

[2021-10-04 21:27] #547 closed

[2021-10-04 21:27] #563 closed

[2021-10-04 21:27] #564 closed

[2021-10-05 11:06] sosnovsky commented on #530
@tomholub I tried to change full mail access scope `https://mail.google.com/` to scopes which are used in browser extension - `https://www.googleapis.com/auth/gmail.compose` and `https://www.googleapis.com/auth/gmail.modify`.
But now google auth screen shows security alert, maybe FlowCrypt app should pass some additional review before asking these permissions?
![Simulator Screen Shot - iPhone 11 -

[2021-10-05 11:23] tomholub opened #603 "pass phrase in memory + decrypting attachments doesn't work well together"
to reproduce: restart the app and try to open any encrypted email with attachments in them

more details tbd

[2021-10-05 12:34] sosnovsky commented on #530
Here more information about unverified apps - https://support.google.com/cloud/answer/7454865?hl=en

[2021-10-05 13:19] tomholub commented on #530
I think we'll have to retain the full scope - we need more permissions on mobile because it's a full-fledged mail client, unlike the browser extension which is an add-on to an existing mail client (the Gmail webmail).

I suppose the better place to look may be the Android app then - since it's similar in scope to iOS.

What is the bundle id of the app that gets built from the IDE this way? Is it `

[2021-10-05 13:20] tomholub commented on #530
![image](https://user-images.githubusercontent.com/6306961/136031024-e5cf0f59-14a6-414b-8f0c-1e9c01b483ff.png)

[2021-10-05 13:23] tomholub commented on #289
duplicate of #456

[2021-10-05 13:23] #289 closed

[2021-10-05 13:23] tomholub commented on #456
From Murat:

[2021-10-05 13:27] tomholub commented on #456
What does `credential` here refer to? What does `any new credential` mean - can there be more than one credential?

So we run a faceid and we get a true/false and that's all? Then the app itself needs to load the pass phrase from KeyChain or something?

Can't it be made more secure to store a secret in the KeyChain that is actually protected by the FaceID, enforced by the OS instead of application

[2021-10-05 13:32] tomholub opened #604 "message can be unexpectedly edited while being sent"
Not visible on the video but I could actually type and change the subject etc.

There should be some sort of layer under the loader but above the rest that partly obscures the behind maybe? And doesn't allow me to interact with it?

https://user-images.githubusercontent.com/6306961/136032803-0fea271f-278f-48b1-a4ca-7d9b3cc0764b.MOV

[2021-10-05 13:38] tomholub commented on #538
I suppose this causes a bug when sending emails to browser extension. The `.pgp` gets passed into `composeEmail` which is also wrong - the original filename should go there.

[2021-10-05 13:45] tomholub commented on #603
Here - it even throws a need_passphrase error at one point that should be handled (with a pass phrase prompt) but instead is shown as a modal.

https://user-images.githubusercontent.com/6306961/136034992-9a9e08aa-75f1-40f1-b4c3-824223232516.MOV

[2021-10-05 13:48] tomholub commented on #603
one more example of the need_passphrase issue with a bit different scenario (not sure if attachments were involved - possibly)

https://user-images.githubusercontent.com/6306961/136035618-41a5df9e-ab79-4387-b2f9-0ac49484d05d.MOV

[2021-10-05 13:56] tomholub opened #605 "prevent devide auto-lock while sending?"
Let's say you send a large attachment on a slow connection. While it's sending, my phone has a tendency to auto-lock the screen. Which in my case seemed to affect the sending (not 100% sure).

Can we tell the app to prevent auto-lock while sending is in progress? Similar to playing a video, which wouldn't auto-lock.

At least until we have a process for sending large messages in the background.

[2021-10-05 14:01] sosnovsky commented on #530
Yes, when running app from Xcode it gets `com.flowcrypt.ios.debug` bundle id and team id is `W57XRJ27NX`

It seems I got unverified app screen because app asked for not listed scopes - `gmail.compose` and `gmail.modify`. This screen doesn't appear when we try to ask full `mail.google.com` permission. So the issue is why it's unchecked on google permissions screen, maybe some privacy measures.

I c

[2021-10-05 14:02] tomholub opened #606 "major usability fixes"
These are issues that frustrate me frequently.

- [x] missing contact suggestions when composing email, searching contacts #283
- [x] encryption of attachments slow and progress unclear https://github.com/FlowCrypt/flowcrypt-ios/issues/695
- [x] oauth grant friction during setup #531
- [x] drafts not supported #514
- [x] (waiting for Google verification of scope) few contacts found #743
- [ ] (in

[2021-10-05 14:05] tomholub commented on #530
I think the whole oauth setup on Google was in some sort of semi-unverified state (else why would it still have a 100 users limit). This may have effects even when we use the regular `mail.google.com` scope - maybe that's why they uncheck it automatically. Let's wait for Google to verify the oauth app completely, and then we'll re-try.

Are you encountering this also on google accounts where you a

[2021-10-05 14:21] sosnovsky commented on #530
The same for me - it doesn't ask me for permissions after ticking checkbox for the first time.

[2021-10-05 14:24] tomholub commented on #404
This may take more than one PR to do comfortably. Just take a chunk of functionality and convert from Promise to Future like you have just done, then do another chunk, etc until the `Promise` library can be dropped from dependencies.

[2021-10-05 14:42] tomholub opened #608 "support conversation view in inbox"
The app has two methods to access email provider: Gmail API and IMAP/SMTP.

I'd like to update the app as follows: app stays the same when IMAP is used. When we use Gmail API, I'd like to view a list of conversations instead of list of emails when I open any folder in inbox.

Specifically, with Gmail, at the moment we:
 - use messages.list to get a list of messages in inbox: https://developers.goo

[2021-10-05 16:16] tomholub opened #609 "TypeScript-Core functionality to verify signatures"
`parseDecryptMsg` currently accepts these values: `{ keys: PrvKeyInfo[], msgPwd: string?, isEmail: boolean }`

I'd like to add `verificationPubkeys: string[]` which will accept an array of armored public keys.

This will get passed into:

[code]

in the `PgpMsg.decrypt` method you need to edit `const keys = await PgpMsg.getSortedKeys(kisWithPp, prepared.message);` to accept this array as well (opt

[2021-10-05 16:26] tomholub opened #610 "attachment size should be showing in human readable format"
I'd like to see how many KB or MB does it have. Currently seems to show byte count.

![11EACBE7-41B5-4E9C-B646-413C6A0B9568](https://user-images.githubusercontent.com/6306961/136063791-8e9c3f96-ad3a-4bac-ad06-3958fcf0f5c0.png)

[2021-10-05 16:41] ivan-ushakov commented on #492
Yes, this is MIME we use in TypeScript code when we reply in iOS app. There is no reply headers so `Mime.replyHeaders(previousMsg)` returns empty object.

[2021-10-05 17:24] Kharchevskyi opened #612 "UITests and autocomplete for providers doesn't work after updating to Mailcore2"

[2021-10-05 17:30] ekievsky commented on #495
Blocked by #612 , can't test IMAP functionallity

[2021-10-05 17:37] ekievsky commented on #537
This code is not there anymore.

[2021-10-05 17:42] ivan-ushakov commented on #492
Here is how MIME of reply from Chrome extension looks like:
[code]

Here we have reply headers.

[2021-10-05 18:19] ekievsky commented on #538
If I don't add `.pgp` into name for `composeEmail` neither app or extension will decrypt the file.
All the files sent by extension have `.pgp` extension in received email
<img width="447" alt="Screenshot 2021-10-05 at 21 19 11" src="https://user-images.githubusercontent.com/38130577/136080275-64bd2c33-21eb-4762-b9a3-3196985f6158.png">
.

[2021-10-05 18:23] tomholub commented on #538
Doesn't `composeEmail` add the `.pgp` to attachments automatically?

[2021-10-05 18:24] ekievsky commented on #538
it doesn't

[2021-10-05 18:25] ekievsky commented on #585
@tomholub this code is not there anymore.

[2021-10-05 18:43] tomholub commented on #492
Have a look at the actual method:

[code]

The `replyHeaders` creates reply headers based on the previous message. Doesn't matter if the previous message has them - every message has `message-id` which is all it needs. I guess you can rename it to `createReplyHeadersBasedOn(parsedMimeMsg)` for clarity.

Since the original message has `Message-Id: <REMOVED>`, then the output of that method should h

[2021-10-05 18:57] ivan-ushakov commented on #492
Yes, my mistake. Here are three MIME messages but I don't see what is wrong with iOS.

Original message:
[code]

Reply from iOS:
[code]

Reply from Chrome Extension:
[code]

[2021-10-05 19:06] tomholub commented on #492
That looks ok. I suppose the Gmail API wants you to add `threadId` to the request. If we are using Gmail API library, then you just add the thread id to it. You'll find it in the Gmail API response to loading the message you are replying to, so you can save it and pass it along.

[2021-10-05 19:25] ivan-ushakov commented on #586
OK, what do you think about this:
[code]

We could define description for each enumeration element. For now I just return associated message.

[2021-10-05 19:29] tomholub commented on #586
The `errorDescription` is a bit verbose. I suppose Swift doesn't let you define it in a more compact manner, without having to list them all?

In general, this is an implementation detail that's not very important to me. As long as it makes it easy to make error modals in all sorts of situations conveniently.

[2021-10-05 19:47] ivan-ushakov commented on #586
![Simulator Screen Shot - iPhone 11 Pro - 2021-10-05 at 22 46 41](https://user-images.githubusercontent.com/1408366/136092496-6a7d1cf5-265f-44ef-a71e-37cbf8288396.png)

like this?

[2021-10-05 19:54] tomholub opened #619 "composeEmail TS code should add `.pgp` to enncrypted attachment names"
Doesn't `composeEmail` add the `.pgp` to attachments automatically?

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/538#issuecomment-934656535_

That way, in Swift code, we can pass the original attachment name into `composeEmail`.

Then composeEmail can use the original name to pass into encryption method, but use altered name with `.pgp` to encode the mime e

[2021-10-05 19:55] tomholub commented on #586
Excellent. Users often send screenshots when things break. This will make debugging so much easier.

[2021-10-05 19:57] #583 closed

[2021-10-05 20:07] ivan-ushakov commented on #492
OK, current `MessageGateway::sendMail(mime: Data)` has only MIME. Do we need to add optional thread ID parameter?

[2021-10-05 20:17] tomholub opened #621 "add auto-update github action?"
I was thinking to add an auto-update action like this https://github.com/marketplace/actions/auto-update

It would keep all feature branches up to master. That would in turn make it easier for me to process and merge the PRs faster. But I wonder if you think it would interfere with your work? @sosnovsky @ivan-ushakov @ekievsky @Kharchevskyi ?

[2021-10-05 20:25] sosnovsky commented on #621
It's okay for me - I'm already adding the latest commits from `master` before creating PR, and this plugin will also automatically fetch new commits from other merged PRs, should work well 👍

[2021-10-05 20:45] #600 closed

[2021-10-05 21:45] #538 closed

[2021-10-05 21:46] #539 closed

[2021-10-05 22:23] #586 closed

[2021-10-06 16:19] tomholub commented on #610
for @paragdulam

[2021-10-06 16:31] tomholub opened #623 "compare all compatibility account emails Android vs iOS [blocked for martgil]"
@martgil please go through all emails on flowcrypt.compatibility account and compare iOS vs Android rendering.

Please note that iOS does not support rich text, and will always print text in green - that's normal. Therefore you can skip situations when iOS does not properly recognize right text or images in the text. But all other significant differences can be recorded here.

On the compatibility

[2021-10-06 19:21] ivan-ushakov commented on #551
OK, what do you think about changing signature to
[code]

[2021-10-07 00:05] tomholub commented on #609
You may be able to create most of them by editing https://github.com/FlowCrypt/flowcrypt-ios/blob/master/Core/source/gen-compat-assets.ts and then running it.

[2021-10-07 00:15] tomholub opened #626 "set minimum required iOS 14"
we can drop iOS 13 for sure if we haven't yet.

[2021-10-07 05:23] martgil opened #627 "ios-android differences: attachments"
This will contain multiple issues if there's any, related to attachments

[2021-10-07 05:23] martgil opened #628 "ios-android differences: decrypt error"
This will contain multiple issues if there's any, related to decrypt error

[2021-10-07 05:23] martgil opened #629 "ios-android differences: drafts"
This will contain multiple issues if there's any, related to drafts

[2021-10-07 05:23] martgil opened #630 "ios-android differences: encrypted message with emojis not rendered"
This will contain multiple issues if there's any, related to encrypted

[2021-10-07 05:23] martgil opened #631 "ios-android differences: html"
This will contain multiple issues if there's any, related to html

[2021-10-07 05:23] martgil opened #632 "ios-android differences: meta"
This will contain multiple issues if there's any, related to meta

[2021-10-07 05:23] martgil opened #633 "ios-android differences: plain"
This will contain multiple issues if there's any, related to plain

[2021-10-07 05:23] martgil opened #634 "ios-android differences: pubkey not rendered for import"
This will contain multiple issues if there's any, related to pubkey

[2021-10-07 05:23] martgil opened #635 "ios-android differences: s/mime"
This will contain multiple issues if there's any, related to s/mime

[2021-10-07 05:23] martgil opened #636 "ios-android differences: secondary"
This will contain multiple issues if there's any, related to secondary

[2021-10-07 05:23] martgil opened #637 "ios-android differences: security"
This will contain multiple issues if there's any, related to security

[2021-10-07 05:24] martgil opened #638 "ios-android differences: signed"
This will contain multiple issues if there's any, related to signed

[2021-10-07 05:24] martgil opened #639 "ios-android differences: unicode/charsets"
This will contain multiple issues if there's any, related to unicode/charsets

[2021-10-07 10:22] tomholub commented on #626
@ivan-ushakov we can drop iOS 14, which will help us with #590 to use native async/await

[2021-10-07 10:28] tomholub opened #641 "test for opening message with attachment when pass phrase is set to be in memory but not currently there"
@fcvakintos will be later covering this with UI tests. I'll make an issue.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/640#issuecomment-937662094_

[2021-10-07 11:07] martgil commented on #633
Description:
Please take note that this was tested in a non-encrypted message hence the reference here was supposed to be for an encrypted address.

I have sent the reply-to header for my account to "test@evil.com". I send a non-encrypted message to my other account.
Android on the left respected the reply-to value "test@evil.com". iOS on the right side continues to use the "mart.robles.it@gmail.c

[2021-10-08 06:53] #603 closed

[2021-10-08 16:24] ivan-ushakov commented on #298
I don't have Android device so could you please provide some details and screenshots how this function should work?

[2021-10-08 17:08] ivan-ushakov commented on #274
BTW why we have `pubKeys` and public keys in SendableMsg?
[code]

[2021-10-08 21:47] #469 closed

[2021-10-08 21:48] tomholub commented on #348
I see

[2021-10-08 21:48] #348 closed

[2021-10-09 05:56] tomholub commented on #551
Use an account that is not on flowcrypt.com domain.

Accounts on flowcrypt.com have specific settings, to mimic some of our enterprise customers. Including disabling of backups.

[2021-10-09 06:10] tomholub commented on #298
Would it be ok for you to use the Android Studio to run a simulator? (there will be more than one functionality to port over time - it would simplify my work).

https://github.com/FlowCrypt/flowcrypt-android#running-the-app-in-emulator-first-time

If not, we'd postpone this issue until I can give you better instructions. (or I'll get help from someone to specify the issue.)

As an overview, curren

[2021-10-09 06:15] tomholub commented on #274
This is correct - if the pass phrase for the signing key is missing, the user should be asked for it first.

How to choose private key (when there are more than one private keys available for user)
 - first, try to find choose the first one where primary (first) user id on the key matches sender email
 - if no such key is found, find the first key one where any user id of the key matches sender em

[2021-10-09 06:18] tomholub commented on #274
Looks very wrong, thanks for noticing! Should be updated to:

[code]

and

[code]

And then you need to ensure that the public keys are indeed in `sendableMsg`, or fill them. After that, ensure that the message sent are still encrypted. Check they can be read on browser extension, and on the iOS app after sending (to another user also).

[2021-10-09 06:20] tomholub opened #646 "do a one-time release with iOS 14 supported for pentesting"
the security auditors lack tooling for iOS 15 for now

[2021-10-09 17:00] ivan-ushakov commented on #274
We have `ComposeMessageInput` so it could be confusing.

[2021-10-09 22:06] murataka commented on #456
For the current implementation ( https://github.com/FlowCrypt/flowcrypt-ios/tree/feature/faceid ),

The implemented flow is a bit different , and not reflecting above conversation.

We can make it to reflect it after solving some possible issues with current implementation ( before getting more complex). Also it just handles the google login for now.

The flow is :

user clicks biometric login
if

[2021-10-09 23:18] tomholub commented on #456
no need, it may be annoying

[2021-10-10 12:40] martgil opened #652 "Build error when trying to run the application."
Hello fellow gentlemens,

I'm able to run the flowcrypt-ios project a few days ago. Then when get some updates and and try to build again, this error raise. I follow the build instructions and able to run the project once. It is my first time to run Xcode so I'm really afraid to mess things up.

I'm getting the following stack trace errors below:

Could not find module 'FlowCryptCommon' for target

[2021-10-10 17:38] Kharchevskyi opened #654 "SwiftFormat doesn't work"
`make format` doesn't work, issue introduced in #529

[2021-10-10 17:54] Kharchevskyi opened #655 "Xcode 15 getHashAlgo"
func getHashAlgo(name: String) throws -> HashAlgo {

'CC_MD5' was deprecated in iOS 13.0: This function is cryptographically broken and should not be used in security contexts. Clients should migrate to SHA256 (or stronger).

[2021-10-10 19:31] sosnovsky commented on #652
Hi @martgil, currently there are some issues with building Google libraries for Xcode simulator on Macbook M1.
But it works well when you try to run app on real device connected to Xcode. Can you try please?

[2021-10-10 19:37] #596 closed

[2021-10-10 19:38] #604 closed

[2021-10-10 19:49] sosnovsky commented on #652
Yes, older code from this commit https://github.com/FlowCrypt/flowcrypt-ios/commit/aa8dd11f5c3d0a21497a674e87c2cf7b3c932c0a and earlier should work well for him on simulator.

[2021-10-10 19:52] Kharchevskyi commented on #608
Yes, it shows in "thread" view.
Can I fully remove previous implementation for gmail inbox view or it will be still used?

[2021-10-10 19:53] Kharchevskyi commented on #608
![IMAGE 2021-10-10 22:52:54](https://user-images.githubusercontent.com/13693255/136711151-67d0862e-7e81-4c13-8a95-9aafe16f580a.jpg)

[2021-10-10 19:53] tomholub commented on #608
Let's remove it the previous code. Less code to maintain.

[2021-10-10 20:33] IvanPizhenko commented on #609
@tomholub in  https://github.com/FlowCrypt/flowcrypt-ios/blob/master/Core/source/gen-compat-assets.ts - what does mean this email header:
[code]
is it:
- a fingerprint of the sender's key
- a fingerprint of the recepient's key
- something else?

[2021-10-10 20:40] tomholub commented on #609
Fingerprint of the sender's key. But currently unused, and does not need to be tested.

[2021-10-10 21:00] tomholub commented on #523
assigning this to triage - open a message that was not encrypted for you, and see how pass phrases are handled, especially when giving a wrong one. Unless it no longer even asks? Unsure - please try and document it here.

[2021-10-10 21:07] tomholub commented on #608
@Kharchevskyi please before self-assigning, see if there is an open issue that is already assigned to you: https://github.com/FlowCrypt/flowcrypt-ios/issues/assigned/Kharchevskyi

Since you already started working on this, ok to finish. But after, please do https://github.com/FlowCrypt/flowcrypt-ios/issues/287

[2021-10-10 21:22] IvanPizhenko commented on #609
@tomholub It gives me compile error, which sounds as nonsense, because I do pass all required arguments:
[code]
Full code:
[code]

[2021-10-11 05:15] #646 closed

[2021-10-11 10:31] martgil commented on #652
Yes sir, you are right. So I tried the to clone the project one again > `git reset --hard aa8dd11f5c3d0a21497a674e87c2cf7b3c932c0a` and It works.

Thanks again for your help, @sosnovsky! Have a great day!

[2021-10-11 10:33] sosnovsky commented on #652
Thanks, you too!

[2021-10-11 13:30] #652 closed

[2021-10-11 13:37] tomholub commented on #655
This is true. I'll have to see if we still have to maintain this MD5 for OpenPGP compatibility - it may be used somewhere in a non-dangerous manner.

[2021-10-11 17:04] ivan-ushakov opened #659 "create unit tests for composeEmail with signing key"
When signature verification issue will be ready we need to add unit tests for the `Endpoints.composeEmail` method when we provide signing key.

[2021-10-11 19:25] IvanPizhenko commented on #609
@tomholub There's a problem with writing tests, at least for the first 3 cases, (I didn't try other 3 yet). Signature verification result exists inside `parseDecryptMsg()`, however then it is lost through multiple transformations. In particular,
[code]
prints out json like this, when signature was verified:
[code]
and like this:
[code]
when signature could not be verified.  However, this never get

[2021-10-11 19:35] tomholub commented on #609
I suppose you would have to pass that signature into `fmtDecryptedAsSanitizedHtmlBlocks` and then add the signature into `SanitizedBlocks` type. And similarly onwards, until it bubbles through.

[2021-10-11 19:56] #283 closed

[2021-10-11 21:20] IvanPizhenko commented on #609
@tomholub I've implemented all tests mentioned above and they are passing now, but I am trying to add one more test for the "detached" signature and it fails. First, there is big question for me how to generate correctly email message with detached signature. At this moment I've ended up with generating something like this:
[code]
But this is parsed into `MsgBlock` not as I would expect:
[code]

[2021-10-12 07:13] tomholub commented on #609
You can get send an email with Thunderbird, and choose PGP/MIME (rich text) signed-only email. I think that should generate email with detached signature.

[2021-10-12 08:49] martgil opened #660 "FlowCrypt ipa for penetration tester installtion failed"
I tried to install the IPA executable to my device but it says:

`
WARNING: could not locate iTunesMetadata.plist in archive!
WARNING: could not locate Payload/FlowCrypt.app/SC_Info/FlowCrypt.sinf in archive!
Copying 'FlowCrypt.enterprise.020.for.pentest.ipa' to device... DONE.
Installing 'com.flowcrypt.as.ios.enterprise'
Install: CreatingStagingDirectory (5%)
Install: ExtractingPackage (15%)
Inst

[2021-10-12 08:54] tomholub commented on #660
Please share your apple device UUID, I'll add you.

[2021-10-12 08:54] tomholub commented on #660
uuid of the ios device

[2021-10-12 08:54] tomholub commented on #660
I don't know if it still helps to add you retroactively - may not necessarily work. Let's see

[2021-10-12 09:07] martgil commented on #660
My device UUID is `00008030-000665AE3685802E`. Thank you, sir!

[2021-10-12 09:23] martgil commented on #630
Description:
An inline public key included in a non-encrypted message body can't be shown or add to contact for the ios version.

<img width="1440" alt="Screen Shot 2021-10-12 at 4 53 49 PM" src="https://user-images.githubusercontent.com/46025304/136927136-0fd65c09-1805-41b0-9d75-1dd71a5c53e7.png">

Subject Reference:
"message that includes inline pubkey"

[2021-10-12 09:27] martgil commented on #660
It still doesn't work, but it's okay, sir. You may request a pentest for the ios anytime.

Thank you!

[2021-10-12 09:37] tomholub opened #661 "better error description when there is error back from our APIs"
When a HTTP call is made directly from user action, and the call fails, it should show the content of the returned error message in a modal (in addition to the error code)

For most APIs, there should be an `{"error": {"message": "some string"}}` structure or `{"message": "some sting"}` that should be rendered (but you should check the error format individually by calling some 404 url, it depends

[2021-10-12 10:31] tomholub commented on #660
How about ability to build the app straight into the phone? It doesn't allow you now?

[2021-10-12 12:00] tomholub opened #662 "cannot copy subject and recipients into cliboard"
when opening a message, I may want to copy the subject or recipients into clipboard. currently not possible

[2021-10-13 07:17] tomholub opened #664 "test missing oauth scopes after google grant / sign in"
This is not true, here we are changing user-facing functionality. I'll file an issue to write a test for this.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/663#issuecomment-941996630_

[2021-10-13 07:23] martgil commented on #630
Description:
iOS version cannot decrypt a message with emoji.
<img width="1440" alt="Screen Shot 2021-10-13 at 3 20 47 PM" src="https://user-images.githubusercontent.com/46025304/137085953-175ea5d8-e7c2-4f0e-9943-3bdb97851352.png">

Subject Reference:
Encrypted Smileys / Emoticons

[2021-10-13 07:24] tomholub commented on #514
Thanks. I'm in the process of getting the app verified with increased scopes (added contacts scope)

[2021-10-13 09:46] fcvakintos opened #665 "Broken style for header"
Steps:
- Login
- Set pass phrase
- Observe Inbox screen

Actual: Header is transparent and header buttons are not visible
Expected: Header should be green and buttons should be visible
<img width="434" alt="Screenshot 2021-10-13 at 12 44 37" src="https://user-images.githubusercontent.com/91205853/137109490-43377b52-461b-44a9-a37a-cb8a081eb9e8.png">

[2021-10-13 15:18] tomholub commented on #608
Yes

Once the view loads, always auto-scroll so that the top of the expanded message is visible (if the message spans more than the screen, then scroll so that the top of the expanded message and it's header is visible on top of the screen. if the message spans less than the screen, simply scroll to the bottom)

[2021-10-13 15:51] Kharchevskyi commented on #608
Can we create a separate ticket to support threads view in search controller?

[2021-10-13 16:15] Kharchevskyi opened #667 "Can't download MailCore2"
MailCore2 package can't be downloaded

`
Showing All Messages
failed downloading 'https://downloads.maddux.cloud/mailcore2-apple-xcframework/MailCore2-2020-09-24.xcframework.zip' which is required by binary target 'MailCore2': downloadError("Error Domain=NSURLErrorDomain Code=-1202 \"The certificate for this server is invalid. You might be connecting to a server that is pretending to be “downloads

[2021-10-13 16:29] tomholub opened #669 "threads in search view"
Can we create a separate ticket to support threads view in search controller?

_Originally posted by @Kharchevskyi in https://github.com/FlowCrypt/flowcrypt-ios/issues/608#issuecomment-942442660_

At the moment the search results are rendered using a custom view, but instead we should use the same view that we use for all other folders.

[2021-10-13 16:44] Kharchevskyi commented on #667
I think for now we are blocked with further development, until this issue resolved.

[2021-10-14 08:28] tomholub opened #671 "share secrets file with ivan"
Yes, I get error when I try to run unit tests because Xcode tries to copy this file and file does not exist. Maybe I forgot to run some script during project setup.

_Originally posted by @ivan-ushakov in https://github.com/FlowCrypt/flowcrypt-ios/pull/590#discussion_r727422019_

I just need to share the secrets file with you. I'll check if you have the NDA signed yet.

[2021-10-14 11:02] martgil opened #673 "ios webView controller allows redirection to third-party unknown website."
Description:
ios webView is used to display most of the static pages of the website listed in the `SignInViewDecorator.swift` and `LegalViewControllersProvider.swift`. this webView configuration by default follows a redirection on a click. This can somehow be used for phishing after taking the user into the malicious website through several clicks.

Any third-party user is unable to add their mali

[2021-10-14 11:05] tomholub commented on #654
I guess you could have a bot that creates PRs only against master whenever there's something to reformat.

[2021-10-14 11:07] tomholub commented on #621
I would say probably yes for drafts too. Good to keep them fresh.

[2021-10-14 11:13] martgil opened #674 "white background appears in dark mode theme"
I found this very minor ui issue, It occurs when a user has dark mode theme enabled in the ios settings and perform a quick search that doesn't occupied the entire screen.

![image](https://user-images.githubusercontent.com/46025304/137306515-4660d56d-f23e-4250-b692-01007c71f71f.png)

expected behavior:
unoccupied spaces should be covered by the grayish color to fill the gap.

[2021-10-14 16:14] IvanPizhenko commented on #621
@tomholub There is no such option. I think notification is generated automatically by GitHub as result of push. If that would be annoying for me, I'd set up email filter by combination of sender and subject with actions "mark as read" + "archive".

[2021-10-14 19:27] ivan-ushakov commented on #671
@tomholub
Sorry, I forgot to check my FlowCrypt mail. I found secret file.

[2021-10-14 19:27] #671 closed, assigned to tomholub

[2021-10-14 21:46] tomholub opened #677 "further async/await refactoring"
This method uses a lot of other methods and too big for the first step. So I just wait for async task.

_Originally posted by @ivan-ushakov in https://github.com/FlowCrypt/flowcrypt-ios/pull/590#discussion_r727278152_

[2021-10-14 22:34] tomholub opened #678 "tests for choosing private key for signing, and pass phrase for signing"
I think the tests will be necessary. Let's do that later in a separate PR later. There are several tests that need to be written:
 - ui test to check proper behavior when user inputs wrong pass phrase for message signing
 - ui test to check proper behavior when user eventually inputs correct pass phrase
 - ui test to check proper behavior when pass phrase already in memory
 - unit tests to make su

[2021-10-15 06:17] tomholub commented on #623
@martgil what percentage of messages have you gone through so far?

[2021-10-15 14:41] #667 closed

[2021-10-15 19:08] IvanPizhenko commented on #619
reassigned to @ekievsky since my part is done

[2021-10-15 19:15] IvanPizhenko commented on #542
@tomholub I will look into it, but please note for now we continue to use some previous version, so the problem does not show up now.

[2021-10-15 20:29] IvanPizhenko commented on #542
This one:
[code]
removes "Above" from the:
[code]

[2021-10-16 08:37] tomholub opened #681 "clarity of encryptAndSend exception handling"
This needs additional scrutiny in another issue. Error may be thrown by either composeEmail or sendMail. But either way we are throwing `gatewayError`. It should be balled `composeError` (and make sure it can handle both types of errors)

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/650#discussion_r730132242_

[2021-10-16 08:50] #674 closed, assigned to paragdulam

[2021-10-16 08:52] tomholub commented on #665
@fcvakintos can you reproduce on current master? (in case you were using code before #533 )

[2021-10-16 12:02] #274 closed

[2021-10-16 12:04] tomholub commented on #542
Let's wait a few weeks first. It may really be difficult.

[2021-10-16 17:17] ivan-ushakov commented on #677
1. Make `Core.generateKey` async

[2021-10-16 19:21] tomholub opened #683 "UITableView warning on splash screen"

[2021-10-16 19:25] #677 closed

[2021-10-16 19:52] #337 closed

[2021-10-16 19:52] #553 closed

[2021-10-16 20:18] Kharchevskyi commented on #608
having some issues with rendering message in thread.
Is it ok to just render message text in scope of this ticket and all other functionality, like showing attachments, mark as read and functionality split to another ticket?

[2021-10-16 21:33] Kharchevskyi opened #685 "can't open mixed plain/encrypted replies: unknown error"
Getting "unknown" error when opening not encrypted message
Steps to reproduce.
Send plain message from chrome extension as a reply to previously encrypted messages.
1. send encrypted message to yourself
2. reply with encrypted
3. reply with plain

[2021-10-17 06:03] ivan-ushakov commented on #502
@tomholub do you use vector source for this icon or something else? I found that not all app icons (like 3x) are present in Assets and this leads to blank icon on some devices. Do you want to fix this?

[2021-10-17 06:09] ivan-ushakov opened #686 "Google account integration is unsafe"
Found this today during fresh install.

![Simulator Screen Shot - iPhone 11 Pro - 2021-10-17 at 09 06 36](https://user-images.githubusercontent.com/1408366/137614023-c33c6abf-92f1-4343-bc76-b84fa29965bb.png)

[2021-10-17 06:41] ivan-ushakov commented on #685
I found that if we quote some previous messages inside plain message our MIME parser produces several blocks and one of them is encrypted.

Here is how MIME example looks like:
[code]

For this example I get three blocks: `plainText`, `encryptedMsg`, `plainText`. For the second block I get error `Misformed armored text`.

[2021-10-17 07:14] tomholub commented on #686
It's part of #530 - I'll continue tracking it there.

[2021-10-17 07:18] tomholub commented on #685
@Kharchevskyi please produce a message like that on `flowcrypt.compatibility` account and mark it with `error` label. I'll take a look.

[2021-10-17 07:28] tomholub commented on #502
Here is the svg, but it has a circle around it that also has to be removed.

[code]

[2021-10-17 09:59] #559 closed

[2021-10-17 12:32] #502 closed

[2021-10-17 13:10] #504 closed

[2021-10-17 18:12] tomholub commented on #673
Instead of 4 tabs that show webviews, we could have 4 menu items. Clicking each of them would open the link in a browser app instead of opening a webview.

[2021-10-17 18:17] tomholub commented on #623
for categories where no differences were found, you should close the github issue for that category with a comment

[2021-10-17 18:42] tomholub opened #691 "ui tests for saving drafts"
This should be covered by ui tests, I'll file an issue.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/690#issuecomment-945174146_

[2021-10-18 07:50] tomholub opened #694 "appium login debugging"
I tried to run Appium tests, but it failed on `GmailLogin` tests with such error
[code]

And here is screenshot of login screen, probably we need to click on "Next" button here

![Simulator Screen Shot - iPhone 12 - 2021-10-18 at 09 34 07](https://user-images.githubusercontent.com/1062093/137681690-8ae5ec54-f00e-4d1b-8670-c8e77482543b.png)

_Originally posted by @sosnovsky in https://github.com/Fl

[2021-10-18 08:03] #629 closed, assigned to nobody

[2021-10-18 08:03] tomholub commented on #542
Un-assigning while we're waiting.

[2021-10-18 08:07] #631 closed

[2021-10-18 08:09] tomholub opened #695 "Improve visual progress when sending message with attachments"
Right now, when sending a message with attachments, it seems to get stuck for a long time and it's not clear if it's progressing or not.

We could add a progress title to the loader? It would say:
 - encrypting (while it's spending time in `Core.composeEmail`)
 - uploading x% (while it's spending time with Gmail API)

[2021-10-18 08:10] #635 closed

[2021-10-18 08:12] #632 closed, assigned to nobody

[2021-10-18 08:15] tomholub commented on #536
duplicate of #695

[2021-10-18 08:16] tomholub opened #696 "offer to import keys on key mismatch when reading message"
Add / Import private key functionality is not yet implemented in the ios version of FlowCrypt. This issue may be opened at some point if the functionality is ready.

_Originally posted by @martgil in https://github.com/FlowCrypt/flowcrypt-ios/issues/636#issuecomment-945487833_

[2021-10-18 08:25] #2 closed

[2021-10-18 08:48] tomholub commented on #608
Got it. You're the most experienced with our rendering code here :-) so you'll have to tackle it either way

[2021-10-18 10:09] sosnovsky commented on #523
After #519 fix passhrase isn't asked anymore for mails with `key_mismatch` error.

I also added handling for `key_mismatch` errors by showing alert which allows to open undecrypted mail or just go back.
@tomholub should we allow users to see undecrypted mail or "go back" action will be enough?

![Simulator Screen Recording - iPhone 12 - 2021-10-18 at 13 04 40](https://user-images.githubusercontent

[2021-10-18 10:38] tomholub commented on #623
Exactly I need to know which decrypt errors are not handled properly - please file these.

[2021-10-18 10:40] tomholub commented on #523
You can merge it as you did it, but we will have to improve that later, in another issue.

[2021-10-18 11:43] fcvakintos commented on #694
@tomholub try with https://github.com/FlowCrypt/flowcrypt-ios/tree/hotfix/appium and let me know if helped

[2021-10-18 12:38] fcvakintos commented on #520
hi @tomholub please review https://github.com/FlowCrypt/flowcrypt-ios/pull/698

[2021-10-18 14:42] #665 closed

[2021-10-18 18:30] ivan-ushakov opened #700 "can't login via Google account"
![Simulator Screen Shot - iPhone 11 Pro - 2021-10-18 at 21 30 12](https://user-images.githubusercontent.com/1408366/137786777-212f6020-fe08-4152-b934-b69ceb95db90.png)

Also tried to reinstall app.

[2021-10-18 18:45] tomholub opened #701 "download messages in parallel"
In a separate issue, should make sure these pull in parallel instead of sequentially.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/689#discussion_r730422878_

[2021-10-18 18:51] tomholub commented on #518
There's nothing to break if you work on your own branch then you make a PR and I review it, just like all other changes.

You'll want to add a job here: https://github.com/FlowCrypt/flowcrypt-ios/blob/master/.semaphore/semaphore.yml with the commands to run to install and run appium.

The only change on the actual semaphore project is to add a secrets file. That's not a change that would break any

[2021-10-18 19:11] ekievsky commented on #667
just have seen that. thank you @tomholub

@sosnovsky that worked for me. its strange because I was deleting entire derived data several times before.
anyway - now I am good, thanks!

[2021-10-18 19:19] sosnovsky commented on #700
Login works well with updated client id, but then app can't fetch keys from `ekm.flowcrypt.com` because of 401 error:
[code]

[2021-10-18 19:34] tomholub commented on #700
I know what the problem is, and will adjust it shortly on the EKM. However, this shows a defficiency in logging - both the modal message, and the log, should be showing the message from the response as per https://github.com/FlowCrypt/flowcrypt-ios/issues/661 - we'll leave that to @ivan-ushakov to fix later.

Will let you know once EKM is updated.

[2021-10-18 20:07] sosnovsky opened #703 "Can't fetch mails - SWIFT TASK CONTINUATION MISUSE"
App gives `SWIFT TASK CONTINUATION MISUSE` error when trying to open home screen:

<img width="479" alt="Screenshot 2021-10-18 at 22 51 49" src="https://user-images.githubusercontent.com/1062093/137797645-223b0d5e-3f3c-4f33-add9-5b30a691f0e5.png">

_Originally posted by @sosnovsky in https://github.com/FlowCrypt/flowcrypt-ios/issues/700#issuecomment-946113290_

[2021-10-19 05:45] martgil opened #704 "Decryption error reasons that should be handled"
Description:
the ios version currently throws a generic alert box when the message can't be decrypted that says:
"Could not open message".

<img src=https://user-images.githubusercontent.com/46025304/136903672-3dc2bdf4-1f54-4079-bb43-9be80166b0cf.png>

There are many reasons that cause the decryption error of an encrypted message needs to be handled.
Here are some of them:

1. Current key cannot o

[2021-10-19 05:51] martgil commented on #623
Sir, @tomholub. I've filed these separately in #704 and originally included all screenshots from the android version. Thank you!

[2021-10-19 10:14] tomholub commented on #530
after rebuilding from master

[2021-10-19 10:26] sosnovsky commented on #530
Yes, warning is shown in this case.

[2021-10-19 10:26] tomholub commented on #530
In the verified scopes we have: `.../auth/contacts`

![image](https://user-images.githubusercontent.com/6306961/137891828-96de8715-f515-4acd-94a0-8bb7fcd8fd55.png)

![image](https://user-images.githubusercontent.com/6306961/137891701-5dc63f25-09d7-4e2c-8155-488f92d4ed19.png)

but in code we use `.readonly`:

[code]

Which should be strictly lower than just contacts, and therefore allowed, but let

[2021-10-19 10:44] fcvakintos opened #706 "Infinity spinner on Inbox screen after login with e2e.enterprise.test@flowcrypt.com"
Steps:

1. Login with gmail using  e2e.enterprise.test@flowcrypt.com
2. Set pass phrase
3. Observe Inbox screen

Actual: Infinity spinner appears and inbox messages are not displayed
Expected: Inbox messages should be displayed
<img width="402" alt="Screenshot 2021-10-19 at 13 36 56" src="https://user-images.githubusercontent.com/91205853/137893384-2eb8f534-baa7-4b2b-aa8d-1f8080ab14ff.png">

Notes

[2021-10-19 10:45] sosnovsky commented on #706
I think infinity spinner is shown because of https://github.com/FlowCrypt/flowcrypt-ios/issues/703

[2021-10-19 11:16] tomholub commented on #703
@ivan-ushakov I've reverted the last async/await change with https://github.com/FlowCrypt/flowcrypt-ios/commit/8abb46bfae9310bc32ab062bff106793856c4f70 . Please take a look.

[2021-10-19 11:24] #706 closed, assigned to nobody

[2021-10-19 15:12] tomholub commented on #703
Are you able to finalize the threads in the next week or so? I was going to schedule it for later, since we are doing refactoring these days / knowing it would produce conflicts (that's why I put threads in later milestone). But if you could get it done in about a week then we could wait with the other stuff.

[2021-10-19 15:13] tomholub opened #709 "PubLookup async/await"
@ivan-ushakov to work on async/await you could look into pubLookup and all the classes it calls instead. I'll make a separate issue.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/703#issuecomment-946826266_

[2021-10-19 17:46] tomholub opened #711 "[WKD mock needed] write UI test for updating keys from WKD"
Works well. I tested the following scenario:
1) loaded demo@flowcrypt.com in compose
2) checked Contacts in app
3) updated EKM to change expiration of the key
4) loaded demo@flowcrypt.com in compose
5) checked contacts - correctly showed new expiration :+1:
6) went to EKM to add one more key to demo@flowcrypt.com user
7) went to compose again and added demo@flowcrypt.com
8) went to contacts - now

[2021-10-19 17:49] #520 closed

[2021-10-19 18:00] ivan-ushakov commented on #703
For the history. Problem was a bit more complex. I used weak `gmailService` property inside continuation and haven't checked this this property is computational, so we create new `gmailService` instance each time. This leads to nil value in weak property so continuation never resume.

[2021-10-19 18:04] tomholub opened #712 "color recipient bubble based on public key status"
For this evaluation, we will use the first public key in `RecipientWithPubKeys`. In a separate issue I'm about to file, we'll do ordering on these keys to make sure the first key is the most appropriate, but for now, we just blindly choose the first, to use as a base for coloring the recipient.

Here is the logic, based on that chosen key:
 - valid pubkey: green (RecipientStatus.HAS_PGP)
 - expire

[2021-10-19 18:13] tomholub opened #714 "method to sort public keys"
RecipientWithPubKeys should be renamed as `RecipientWithSortedPubKeys` and then we should ensure that the keys are always added into it sorted, regardless of where the keys are from, like local storage or remote server.

 (or that there is a method to retrieve the pubkeys that is always sorted - sorting is quick so I don't mind dynamic either, as long as I'm not able to side-step the sorting and g

[2021-10-19 18:15] tomholub commented on #714
This issue deserves some unit tests of the sorting mechanism - find or generate some armored keys to test with.

[2021-10-19 20:36] #701 closed

[2021-10-19 20:36] #703 closed, assigned to ivan-ushakov

[2021-10-20 07:08] fcvakintos commented on #517
@tomholub
About this case:
- restart app and you should see inbox.
- Open the message again and you should see a pass phrase prompt
- Try entering wrong pass phrase, and a meaningful error should be shown, and you should be able to try again
- enter the correct pass phrase and the message should render with the content
- go back to inbox
- go back to the message, this time you should be able to re

[2021-10-20 07:44] tomholub commented on #518
Don't put the password in the code, that's what semaphore secrets are for. I'll change the test account password now and distribute it over email again.

[2021-10-20 07:51] tomholub commented on #518
Doesn't matter where it is. If I can read it on git, then it's in the wrong place.

![image](https://user-images.githubusercontent.com/6306961/138051069-46d4031f-00c0-41aa-a74d-3c1093dfcec7.png)

[2021-10-20 07:59] tomholub commented on #518
You should edit that file directly by hand. Don't use the visual thing on semaphore.

I've rotated the password, sent a new env file. I've also configured a secret on Semaphore so that you will have that env file in `/Users/semaphore/appium-env` - you can move it wherever you want to during setup.

[2021-10-20 08:00] tomholub commented on #518
Also, load latest changes from master, I've edited the semaphore file since.

[2021-10-20 08:24] fcvakintos commented on #518
got you

[2021-10-20 08:38] fcvakintos commented on #518
@tomholub tests can run, at least on ci. It's a screenshot from execution
<img width="345" alt="Screenshot 2021-10-20 at 11 36 02" src="https://user-images.githubusercontent.com/91205853/138058375-029772e1-e05d-457f-b697-8d1d40790d40.png">

[2021-10-20 08:42] fcvakintos commented on #518
@tomholub appium-env how to check what is inside it?

[2021-10-20 08:55] tomholub opened #715 "don't show + button on keys screen when EKM is used"
@tomholub about "go to Settings -> Keys and you should NOT be seeing an 'add' button" -> "Add(+)" button is displayed. is it bug or no?
<img width="479" alt="Screenshot 2021-10-20 at 11 53 08" src="https://user-images.githubusercontent.com/91205853/138061409-9a2b4394-d320-435c-975a-c6be211c5460.png">

_Originally posted by @fcvakintos in https://github.com/FlowCrypt/flowcrypt-ios/issues/517#issuec

[2021-10-20 09:00] tomholub commented on #517
It's still current. #520 only tests that it doesn't ask for pass phrase when opening plain message, but the above is about opening encrypted messages. We want to test that:

 - you will see a pass phrase prompt when opening an encrypted message with "pass phrase in memory" setting and before the pass phrase was entered
 - pass phrase prompt should show a meaningful error and a retry when I enter w

[2021-10-20 09:04] tomholub commented on #518
Yes, you'll want to adjust the previous build step to do that (or create a new one).

[2021-10-20 09:11] fcvakintos commented on #517
@tomholub ok, will check

[2021-10-20 11:02] tomholub opened #717 "ui test for mixing local contacts into results in compose recipients input"
This will later need a ui test, something like:
1) search a string in compose, see results
2) manually add two public keys in contacts - one matching, one not
3) search a string again in compose view, the results should newly contain the matching added public key on top

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/716#issuecomment-947557580_

[2021-10-20 11:31] sosnovsky commented on #712
@tomholub do we need capitalized statuses (`RecipientStatus.EXPIRED`) for similar names across platforms?
Or we can use more common for iOS code lowercase like `RecipientStatus.expired`?

[2021-10-20 11:40] tomholub opened #718 "ui test to search and choose a recipient (no need to send)"
Actually, before writing a ui test for anything more specific, we should have one purely for being able to type and choose any of the recipient suggestions - which should catch situation like the one that happened to me.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/716#issuecomment-947581892_

Test steps:
1) compose new message
2) search for a recipient by

[2021-10-20 15:44] tomholub commented on #518
I'll have a look. I've made a draft PR because it's easier to discuss it that way.

[2021-10-20 16:20] tomholub opened #721 "refactor usages of URLSession.call -> Promise to use async version, remove the Promise version"
I duplicated original `call` method because in several places we still use promise library.

_Originally posted by @ivan-ushakov in https://github.com/FlowCrypt/flowcrypt-ios/pull/720#discussion_r732917874_

[code]

[2021-10-21 17:30] Kharchevskyi opened #723 "[UX] Add 3 dots button for gmail thread message"
or add similar 3 dots button which will show popup with options to choose option(mark as unread, delete message, archive) for  selected message. And buttons on top will acts on whole threads

_Originally posted by @Kharchevskyi in https://github.com/FlowCrypt/flowcrypt-ios/issues/608#issuecomment-948845791_

[2021-10-21 18:11] tomholub opened #724 "missing orientations for iPad, missing icons?"
<img width="706" alt="image" src="https://user-images.githubusercontent.com/6306961/138333447-5ad4e692-7431-41a2-bb40-78008428e983.png">

[2021-10-21 18:13] Kharchevskyi opened #725 "MessageOperationsProvider move to async await"
in scope of #657

[2021-10-21 20:44] #619 closed, assigned to ekievsky

[2021-10-21 21:24] #709 closed, assigned to ivan-ushakov

[2021-10-22 08:23] #673 closed, assigned to ekievsky

[2021-10-22 19:30] tomholub opened #732 "more fitting modals when recipient key is revoked or expired"
Right now, when some key is expired or revoked, we pass it into Core.composeEmail method which will throw an error.

We should instead recognize this situation before it happens and show the user a friendly modal.

The logic is as follows: when I press send button, evaluate recipient bubble statuses. And do the following:
 - if any recipient is missing a public key, show `One or more of your recip

[2021-10-22 19:30] #712 closed, assigned to sosnovsky

[2021-10-22 19:32] tomholub opened #733 "refactor EKM and FES api for async/await"
I think you can refactor `EnterpriseServerApi` to use async/await. Also `EmailKeyManagerApi`. I'll make a separate issue.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/721#issuecomment-949909527_

[2021-10-22 19:37] tomholub opened #734 "check sharpness of app icons"
This fixes the issue although it makes the icons all somewhat unsharp - I think it has something to do with how the pngs were generated or handled (maybe they were not produced from a vector but by down-scaling another png?).

I'll merge it for now but will have someone later have a look to make sure the icons have crisper edges.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flo

[2021-10-22 19:48] tomholub opened #735 "rename checkErrorMessage to `checkWrongPassPhraseErrorMessage`"
Please name it `checkWrongPassPhraseErrorMessage` to be more specific

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/730#discussion_r734803370_

[2021-10-22 19:54] tomholub opened #736 "testing that Attester search is disabled on some domains"
test that attester search is disabled for some domains + test that WKD is used for looking up public keys

details tbd

[2021-10-22 19:54] tomholub opened #737 "testing that WKD is used for looking up public keys"

[2021-10-22 19:54] #737 closed, assigned to nobody

[2021-10-22 20:00] tomholub opened #738 "why is `bundle exec fastlane test` building code twice?"
hi @sosnovsky @ivan-ushakov please suggest if possible to improve performance of the build. Right now we have step with 2 fastlanes (do_everything and build_e2e). Maybe it's possible to cmbine them or use some option so on second building it will be faster?

_Originally posted by @fcvakintos in https://github.com/FlowCrypt/flowcrypt-ios/issues/719#issuecomment-949920554_

[2021-10-22 20:02] tomholub opened #739 "run all UI tests in ci instead of only smoke"
Should run all UI tests here, not just smoke, even if it's slow. At least it will force us to optimize / parallelize, in case. I'll file another issue.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/719#discussion_r734811663_

[2021-10-22 20:10] #694 closed, assigned to sosnovsky, fcvakintos

[2021-10-22 20:17] tomholub opened #740 "add FlowCrypt app as an option for sharing any file / image"
When I open a photo or screenshot (or other file) and click the iOS share icon, I'd like FlowCrypt to be one of the options alongside WhatsApp, Gmail etc.

Tapping that will open a new compose screen with that file attached. The caret should be on recipient field.

[2021-10-22 20:22] tomholub opened #741 "iso2022jpToUtf not implemented in TS"
It's probably just missing a library that is present on the browser extension?

sample message [decode-not-implemented.txt](https://github.com/FlowCrypt/flowcrypt-ios/files/7401156/decode-not-implemented.txt)

<img width="234" alt="image" src="https://user-images.githubusercontent.com/6306961/138518032-ef4cbcf9-01da-4b15-8b24-f50f658063cd.png">

[2021-10-22 20:26] fcvakintos opened #742 "Send email as precondition for appium tests"

[2021-10-22 20:40] tomholub opened #743 "contact search finds very few contacts compared to gmail"
part of https://github.com/FlowCrypt/flowcrypt-ios/issues/606

On browser extension, I think the api that Google is deprecating is a lot more powerful than the People API. Could you resarch what is the proper way to search recipient using Google APIs?

Eg when I use Gmail, I can enter "joe" and it will find 20 different joe people I've communicated with before. But If I put "joe" in iOS, it will o

[2021-10-22 21:40] tomholub opened #744 "only encrypt for valid keys when sending message"
test recipients `@flowcrypt.com`:
- `valid.expired`
- `valid.revoked`
- `valid.expired.revoked`

As long as at least one of the returned public keys is valid, it should use that key and ignore the bad keys.

[2021-10-23 09:36] tomholub opened #746 "crash when uploading a video - apple review"
@ivan-ushakov would you be able to look into this before continuing on other things?

![image](https://user-images.githubusercontent.com/6306961/138551029-c27c61d9-63a8-4beb-bfdd-7715d3e73769.png)

![image](https://user-images.githubusercontent.com/6306961/138551036-68126c91-d55b-4af4-85db-14228512a2f9.png)

[attachment.crashlog-7BF4A787-F5CE-4143-8429-9887F063F887.txt](https://github.com/FlowCryp

[2021-10-23 09:46] tomholub opened #747 "missing enterprise icon during build"
tried to build the app first time since the icons were updated:

[code]

[2021-10-23 10:00] ivan-ushakov opened #749 "use actor if you need another thread"
Detached task runs operation as new top level task while ordinary task run operation in child task. Must be reviewed and fixed across all previous `async/await` transformations.

[2021-10-23 10:14] #747 closed, assigned to ivan-ushakov

[2021-10-23 10:29] tomholub opened #751 "allow sharing existing videos without allowing taking videos"
This fixes it for the `Camera` option, but I can no longer choose videos from existing photos.

But it addresses the issue for now, so I'll merge this and someone can look into sharing existing videos later.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/748#pullrequestreview-787379626_

[2021-10-23 11:04] #746 closed, assigned to ivan-ushakov

[2021-10-23 12:05] tomholub opened #752 "automatic encryption compliance responses"
There should be a way to mark the built app with responses to these questions, so I don't have to do it manually on each upload.

The responses are `yes` (uses encryption) and `yes` (qualifies for exemption)

![image](https://user-images.githubusercontent.com/6306961/138555281-05737de9-f22d-4205-a0b2-43fabd9c69b5.png)

![image](https://user-images.githubusercontent.com/6306961/138555293-45b721d9-6

[2021-10-23 17:50] #749 closed, assigned to ivan-ushakov

[2021-10-23 20:27] #733 closed, assigned to ivan-ushakov

[2021-10-23 21:01] tomholub opened #755 "moving to new developer account"
I'm moving our app to new developer account `FlowCrypt a. s.`. I hope I didn't break any of your setup (yet).

You should still be able to build the `FlowCrypt TestFlight` build variant through the original team id.

[2021-10-23 21:24] tomholub opened #756 "release public testflight beta"

[2021-10-24 07:07] #756 closed, assigned to tomholub

[2021-10-24 07:21] tomholub opened #759 "handle Realm init error with a modal"
This is the version downloaded through TestFlight. Worked at first, but next morning keeps crashing on me.

[code]

[2021-10-24 07:48] #741 closed, assigned to IvanPizhenko

[2021-10-24 14:54] tomholub opened #762 "remove old ui tests, improve appium readme and run scripts"

[2021-10-24 15:59] #715 closed, assigned to ivan-ushakov

[2021-10-24 19:01] tomholub opened #766 "storage error screen uses UIKit - guidance with ADK"
Unfortunately I fail to make this screen using `ADK` so I switched to pure `UIKit`.

_Originally posted by @ivan-ushakov in https://github.com/FlowCrypt/flowcrypt-ios/issues/761#issuecomment-950375973_

What was the issue you were having?

[2021-10-24 19:02] #759 closed, assigned to ivan-ushakov

[2021-10-25 09:07] tomholub opened #769 "appium pass phrase entry failures"
In situations like this, it would be good for the test runner to take a screenshot and add save it in files (when running in CI, later push that as artifact)

[code]

That way we can debug it. Frequent retries slow down tests.

[2021-10-25 12:58] tomholub opened #772 "ui tests fail when device is already set to US english"
[code]

Most likely it failed because my device already uses English.

[2021-10-25 13:28] #762 closed, assigned to tomholub

[2021-10-25 14:32] fcvakintos opened #775 "Possibility to skip tests if commit has specific tag"
@tomholub what do you think?

[2021-10-25 15:49] #755 closed, assigned to tomholub

[2021-10-25 15:55] #775 closed, assigned to tomholub

[2021-10-25 15:58] tomholub opened #776 "use `waitAndXxxxx` methods in appium tests?"
On browser extension (puppeteer) I use methods like `waitAndClick` and `waitAndType` and `waitAndRead` and so on. Generally, for every element that you interact with, you have to wait until it's there (and anyway it doesn't hurt to make sure first) so I recommend to use such methods (nearly) everywhere.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/771#discuss

[2021-10-25 16:12] tomholub opened #777 "how to run a single appium test - update readme"
Jasmine docs recommended changing `it` to `iit` but it's not recognized. For example ava lets you change `test(` to `test.only(`. How to do this with appium?

[2021-10-25 17:14] #739 closed, assigned to fcvakintos

[2021-10-25 17:15] #735 closed, assigned to fcvakintos

[2021-10-25 17:15] #772 closed, assigned to fcvakintos

[2021-10-25 20:24] #738 closed, assigned to tomholub

[2021-10-25 20:54] #695 closed, assigned to sosnovsky

[2021-10-26 09:01] tomholub opened #779 "testDecryptEncryptedFile often fails in CI"

[2021-10-26 09:45] #779 closed, assigned to nobody

[2021-10-26 09:45] #777 closed, assigned to tomholub

[2021-10-26 09:47] tomholub opened #782 "[June 2022] consider migration to SwiftUI"
Ok to give SwiftUI a try in the future but can't afford the code churn right now - need to get the app stable first.

Can evaluate it around June 2022, when our UI tests are comprehensive and we have spare dev cycles.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/766#issuecomment-950699871_

`InvalidStorageViewController` could be a good first candidate to t

[2021-10-26 10:17] tomholub opened #783 "allow opening messages of unlimited size + add download progress"
Currently, messages with attachments over 5mb are disabled.

I'd like to re-enable them but during loading, show progress spinner. And allow user to use the back icon in case they don't want to wait.

_Sometime in the future, we'll separate the logic to only pull message body and not attachments first, but that's not trivial for OpenPGP messages (content is often in attachments) so that will later

[2021-10-26 10:21] tomholub opened #784 "only pull message body + limited attachments until user wants to download attachment"
From #783

The logic will be:
 - [x] only pull message body, headers and attachment meta-data.
 - [x] evaluate from the above information if the message is encrypted or not (details tbd)
 - [x] if the message is plain, then render the message body and attachments. Once user clicks to download attachment, only download it at that point.
 - [x] if the message is encrypted and the message body is con

[2021-10-26 11:53] #714 closed, assigned to sosnovsky

[2021-10-26 16:10] tomholub opened #798 "set up ci monorepo - skip unrelated tests for dependabot updates"

[2021-10-26 18:03] tomholub opened #803 "update appium dependencies"
From v6.x.x to v7.x.x equivalents, and adjust codebase if needed (in one PR). The updates may contain some stability fixes.

<img width="1139" alt="image" src="https://user-images.githubusercontent.com/6306961/138921625-bc2a73b3-917a-4543-b342-5dbf6badd730.png">

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/769#issuecomment-952110664_

[2021-10-26 21:11] tomholub opened #806 "subject cannot be found - need to wait first"
Probably need a `waitAndSetValue` everywhere, part of to #776

[code]

[2021-10-26 21:15] #662 closed, assigned to paragdulam

[2021-10-26 23:06] tomholub opened #807 ""user is able to see encrypted email with pass phrase after restart app" appium test broken"
Even locally, I think something related to build. Will check the bundle id again.

[code]

[2021-10-27 07:23] tomholub opened #808 "crash when reading non-encrypted email"
[testflight_feedback.zip](https://github.com/FlowCrypt/flowcrypt-ios/files/7424036/testflight_feedback.zip)

[2021-10-27 07:56] tomholub opened #809 "cannot recognize a particular recipient when browser extension can"
`b...l@gmail.com` (redacted for privacy)

https://mail.google.com/mail/u/0/#sent/FMfcgzGlkZChvQbzFzhBNlBSspRsZBjs

[2021-10-27 09:09] tomholub opened #812 "PubKey type should have emails and uids type on it"
[code]

When parsing a key, the pgp user ids are available, and so are pgp user id emails once parsed. These should be included in this type.

Then all usages of `armored` should be investigated, to see if it's being used solely for parsing out the emails. Such usages should be replaced directly with the newly added property.

[2021-10-27 09:16] tomholub opened #813 "stop using testflight bundle, old account"
[code]

these are all wrong, need to remove

[2021-10-27 09:44] #809 closed, assigned to tomholub

[2021-10-27 10:11] tomholub opened #815 "add baseUrl to appium tsconfig"
[code]

[2021-10-27 10:14] #813 closed, assigned to tomholub

[2021-10-27 10:17] #815 closed, assigned to tomholub

[2021-10-27 10:50] #798 closed, assigned to tomholub

[2021-10-27 11:35] tomholub opened #816 "only remove inbox label when archiving"
That's very, very wrong. I'll file it separately and we need to fix this right after.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/608#issuecomment-952828177_

We should not be touching other labels on messages or threads. If I mark a thread with a `important` label and archive it, and it removes the other label so I can't find that email later under that l

[2021-10-27 17:11] ivan-ushakov opened #817 "can not run unit tests - update readme"
I found that you did some changes in project files. Maybe this affected unit test build somehow.
[code]

[2021-10-27 18:21] tomholub opened #819 "pass phrase not remembered when sending email"
my response

[2021-10-28 09:16] tomholub opened #820 "crash from 2021-10-28 without feedback (iPhone 7)"
[testflight_feedback.zip](https://github.com/FlowCrypt/flowcrypt-ios/files/7432859/testflight_feedback.zip)

[2021-10-28 12:23] #820 closed, assigned to nobody

[2021-10-28 16:39] #817 closed, assigned to sosnovsky

[2021-10-28 17:10] tomholub opened #825 "appium: evaluate alternatives to 10s sleep after login"
:-) I'll file this in a new issue

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/823#discussion_r738587438_

[2021-10-28 18:07] #769 closed, assigned to fcvakintos

[2021-10-28 18:07] #776 closed, assigned to fcvakintos

[2021-10-28 18:07] #806 closed, assigned to fcvakintos

[2021-10-28 18:07] #807 closed, assigned to tomholub, fcvakintos

[2021-10-28 18:14] tomholub opened #828 "API error modals to mention which high-level action failed"
Exactly - this should come from whatever highest-level method that initiated the user action (send, load inbox, etc) because only that one knows what is the high-level action being done. Can be filed as another issue for later, so far it looks good 👍

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/804#issuecomment-954079004_

[2021-10-28 18:32] tomholub opened #830 "clarify contactsService.retrievePubkeys name + signature"
Neither `contactsService` nor `retrievePubkeys` names make it obvious to know if the pubkeys come from local storage or from remote server. It would be good to rename it to make it obvious from the name. I'll look into that in another issue.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/821#discussion_r738623012_

[2021-10-28 18:53] tomholub opened #831 "SSL error when calling WKD policy should be understood same as no WKD"
WKD error code 1200 (NSURLErrorDomain) should be tolerated and later understood as no server available, just like other errors when calling /policy

Such error would however continue throwing as before if we receive it after the policy file was already successful, when pulling the exact key.

Can test manually by looking up something@hel.com - it should turn gray, not red, after this change.

[cod

[2021-10-28 19:00] tomholub opened #832 "crash/assertionFailure when typing recipient"
I did roughly this:
1) entered `something@hel.com` which failed looking up (red color)
2) clicked reload icon that showed
3) tapped the recipient and removed it
4) started typing another recipient. After two letters, got a crash

<img width="1222" alt="image" src="https://user-images.githubusercontent.com/6306961/139318680-ce00bf27-b7f4-40fd-82f2-9d26f048a07d.png">

[2021-10-28 19:05] tomholub opened #833 "compose recipients validation logic"
I'm not too sure about this - the validation happens asynchronously as a task. Would that be of any use? By the time it figures out it's wrong, this method may already finish.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/821#discussion_r738618607_

[2021-10-28 19:07] #732 closed, assigned to sosnovsky

[2021-10-28 19:07] #744 closed, assigned to sosnovsky

[2021-10-28 19:20] #808 closed, assigned to ivan-ushakov

[2021-10-28 20:37] ekievsky opened #834 "send email from draft"
as user I want to send email from draft.
work is already partially done, the main thing that left is to get message/participants from draft and pre-show it in compose view controller

[2021-10-28 21:05] #661 closed, assigned to ivan-ushakov

[2021-10-28 21:05] tomholub opened #835 "api error responses - code improvements"
I'll merge it first, please address above code comments afterwards - I'll file an issue.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/804#pullrequestreview-792427366_

[2021-10-28 21:14] tomholub opened #836 "request time out should print shorter error + show length of time it took"
[code]

should just be

[code]

Similar to successful calls. In particular interested in the time it took as measured by our own wall clock, as I think I got a much longer than 4 seconds timeout.

[2021-10-28 21:16] tomholub opened #837 "[to triage] I should be able to switch input while recipient is loading"
reproduce

1) enter recipient on a slow connection, wait for it to slowly fetch. Or try some recipient that won't load like `nobody@there.com`
2) while recipient has a spinner, try to switch to subject to start typing subject

actual: the app doesn't recognize my taps

expected: I should be able to swtich to subject/body and start typing my message while recipient is still loading

maybe the main

[2021-10-28 21:17] tomholub opened #838 "time units are wrong in the API call logs"
[code]

should say

[code]

[2021-10-28 21:42] tomholub opened #839 "better handling of revoked google access"
1) set up the app
2) go to https://myaccount.google.com/permissions and remove access from iOS app
3) go back to the app

actual result: ugly error with retries

expected result: `Please reconnect the app to Gmail. [Continue]` where the button will allow user to go through sign-in again (but not the rest of setup) and save new sign-in tokens. After that, send the user back to where the error just

[2021-10-28 21:45] tomholub opened #840 "use login hint for second sign-in if we already know the user email"
It can be improved further: on the second sign-in attempt, supply `login hint` into the google sign-in request. That way, I don't have to choose my email again, instead my email will be pre-chosen based on the first sign-in.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/663#issuecomment-954246152_

[2021-10-28 22:12] tomholub opened #841 "periodically refresh keys from EKM"
part of #275

Each time the app starts, if `clientConfiguration.usesKeyManager` is true, the app should refetch keys from EKM and update the local ones. The fetch should be in the background, not holding up the app during startup. Thrown network errors can be ignored but not other types of errors (which should show error modal on whichever screen will load next)

The update mechanism should be sim

[2021-10-29 15:32] #752 closed, assigned to sosnovsky

[2021-10-29 15:33] #718 closed, assigned to fcvakintos

[2021-10-29 19:30] tomholub commented on #803
dependabot took care of it

[2021-10-29 19:51] fcvakintos commented on #825
I will try with some loop

[2021-10-29 19:55] tomholub opened #849 "crash feedback version 0.3.2"
[testflight_feedback 032.zip](https://github.com/FlowCrypt/flowcrypt-ios/files/7444601/testflight_feedback.032.zip)

[2021-10-29 20:31] fcvakintos commented on #717
@tomholub could you provide more details of what needs to be tested here or maybe record video if possible?

[2021-10-29 20:35] fcvakintos commented on #484
@tomholub please provide second account

[2021-10-29 21:31] tomholub opened #850 "end pass phrase session"
similar to browser extension - a way to tap something to forget pass phrase now instead of waiting 4 hours

[2021-10-29 21:35] tomholub commented on #717
Sorry, it's blocked on https://github.com/FlowCrypt/flowcrypt-ios/issues/298, therefore not actionable.

[2021-10-29 21:53] tomholub commented on #819
Still seeing a problem on 0.3.2 - will add details

[2021-10-29 21:54] tomholub opened #851 "cannot find recipient public key when reply"
when I write a new email to @sosnovsky then it finds public key. Saves it in contacts.

When I reply to @sosnovsky it cannot find it (gray). Even though already in contacts.

[2021-10-29 21:55] tomholub commented on #851
See if you can reproduce

[2021-10-29 21:56] tomholub opened #852 "race cond: Core.parseKeys returns result of another key"
even though I have a matching private key

also can view encrypted emails without issue

[2021-10-29 22:47] tomholub opened #853 "failed public key lookup for recipient can be ignored if valid pubkey already in contacts"
eg network down (offline) or server slow or timeout etc. If we already have the public key and it's valid, we're only making external http calls to update it. The call is not required to be successful since we already have good keys to use.

[2021-10-29 22:48] tomholub commented on #853
reproduce
1) ensure recipient in contacts from before
2) go offline
3) compose new email, add this recipient

current behavior: red color

expected behavior: green color (if we already have valid public key for that recipient) or red color (if we don't)

[2021-10-30 07:47] ivan-ushakov commented on #849
Crash happens here:
[code]
No ideas yet

[2021-10-30 08:14] ivan-ushakov commented on #831
@tomholub
What does it mean here `has policy` in case of 404?
[code]
Server is alive?

[2021-10-30 08:52] tomholub commented on #849
Does `Thread 0` mean the main thread? Or not necessarily?

[2021-10-30 08:57] ivan-ushakov commented on #849
Yes, main thread

[2021-10-30 08:58] ivan-ushakov commented on #849
So maybe this is wrong to lock on main thread and some kind of assert happens

[2021-10-30 09:05] tomholub commented on #849
Is that something we do or something that JavaScriptCore does? I don't think it's us.

Unless we can run everything related to JavaScriptCore always on non-main thread? A dedicated one?

[2021-10-30 09:06] #838 closed

[2021-10-30 09:11] tomholub commented on #831
It means server is actually there (and alive & willing to serve).

The spec is supposed to be here but it's down now :roll_eyes: ..

Fundamentally, with WKD, pubkeys can be looked up at predictable URL of the recipient, only IF the WKD is running there.

So I want to write joe@company.com then they have to run WKD at `openpgpkey.company.com/...` or at `company.com/.well-known/...`. If they do run

[2021-10-30 09:11] tomholub commented on #831
It's back: https://datatracker.ietf.org/doc/html/draft-koch-openpgp-webkey-service-12

[2021-10-30 09:13] tomholub commented on #831
here's the spec as PDF in case it goes down again

[draft-koch-openpgp-webkey-service-12.pdf](https://github.com/FlowCrypt/flowcrypt-ios/files/7446149/draft-koch-openpgp-webkey-service-12.pdf)

[2021-10-30 09:36] ivan-ushakov commented on #832
This happens because `evaluate(recipient: ComposeMessageRecipient)` is still working and we removed recipient from list. When we get response and invoke `handleEvaluation()` we get that assert.

One of possible solutions could be just ignore that update if we can not find recipient.

[2021-10-30 09:42] ivan-ushakov commented on #849
Lock happens inside `JavaScriptCore` but maybe my assumption about lock on main thread is wrong. I need to investigate this.

[2021-10-30 09:48] ivan-ushakov commented on #837
@tomholub
Are you testing this on device or simulator? On simulator it works while recipient has spinner.

[2021-10-30 09:51] ivan-ushakov commented on #831
Strange that we put `hasPolicy: true` if we have 404 because this means file not available

[2021-10-30 09:53] ivan-ushakov commented on #831
Now I got it. We do two requests: first one is for policy file and if we get any error we consider that `hasPolicy: false`, and second one is for key.

[2021-10-30 09:57] ivan-ushakov commented on #831
Since we catch all errors when requesting policy file and return `(hasPolicy: false, key: nil)`, do we need to change something? I mean having right error in log could be useful.

[2021-10-30 10:32] #832 closed

[2021-10-30 10:32] tomholub commented on #837
It was on a device - 12 mini

[2021-10-30 10:33] tomholub commented on #831
that's wrong, should be `hasPolicy: false`

[2021-10-30 10:34] tomholub commented on #831
Correct, and we even do this whole thing twice: if `hasPolicy: false` using advanced method, we also try the direct method which uses different URL. So we may make up to 3 requests:

hasPolicy advanced (let's say false)
hasPolicy direct (let's say true)
key fetch direct (since policy on direct was true)

[2021-10-30 10:35] tomholub commented on #831
It would be good to log more clearly why did the policy request fail, just like other requests

[2021-10-30 10:52] tomholub opened #858 "clarify why did keys fail to load from storage"
a line like this is ignoring the details of the error that happened:

[code]

it's bad practice. Errors should be propagated, not overwritten, to preserve details. If we want to re-throw another error, that error should wrap the original error so that original details can still be accessed.

In this particular case, there is just one error, but who knows - there may be more.

[code]

Additionally,

[2021-10-30 10:56] tomholub opened #859 "CoreError should only be thrown for situations related to JavaScriptCore"
This is complete nonsense

[code]

`CoreError.notReady` is meant for situation where Core is not initialized/ready, it has nothing to do with keys storage.

All usages of `CoreError` should be reviewed to make sure they are not used in unrelated context.

[2021-10-30 11:16] tomholub opened #860 "signing prv accepts a wrong pass phrase"

[2021-10-30 11:17] tomholub commented on #860
Have to write a test for this too:

1) start composing a message
2) it asks for pass phrase for draft
3) give it a wrong one
4) it must not be accepted, a new prompt must show
5) give it a correct one
6) it should not ask again when sending
7) I should now be able to go to the sent message and read it without re-entering pass phrase

[2021-10-30 11:17] tomholub opened #861 "test for pass phrase cross checked + stored when sending message"
Have to write a test for this too:

1) start composing a message
2) it asks for pass phrase for draft
3) give it a wrong one
4) it must not be accepted, a new prompt must show
5) give it a correct one
6) it should not ask again when sending
7) I should now be able to go to the sent message and read it without re-entering pass phrase

_Originally posted by @tomholub in https://github.com/FlowCrypt/

[2021-10-30 11:18] tomholub commented on #861
not actionable until #854 merged

[2021-10-30 11:18] #835 closed

[2021-10-30 15:03] ivan-ushakov commented on #836
@tomholub
Do you want this fix only for `WkdApi`?

[2021-10-30 15:30] ivan-ushakov commented on #836
Also this error is just wrapped in `HttpErr` like we do for all `URLSession` errors. Do you want to have special handling for timeout error? I just don't understand how we could do this: we throw `HttpErr` and we don't know how it will be handled on upper level so all we could do here is just add that message to log.

[2021-10-30 16:23] ivan-ushakov commented on #837
Not in progress because I can not reproduce it in my environment

[2021-10-30 17:55] tomholub commented on #837
Got it. Later I'll see if I can reproduce it again.

[2021-10-30 17:59] tomholub commented on #836
I'd like to fix it for all timeout situations. Logging of all http requests should be consistent regardless of api

I guess you could:
 -  log first in a controlled manner (for all http requests)
 - then make sure on upper level to handle without logging (for this WKD situation)

[2021-10-30 18:05] tomholub opened #863 "current user should be dependency-injected"
todo after #657 is done

instead of services and providers getting their own "currentAccountEmail", we should pass it in arguments to the methods. That way we achieve two things:
 - the methods no longer have to throw just in case they miss current email (since it will be provided)
 - we can remove a group of "middlemen classes" that only add account email to methods that need it - unneeded comple

[2021-10-30 18:07] #858 closed

[2021-10-30 18:07] #859 closed

[2021-10-30 21:23] tomholub commented on #852
This looks serious - I'm pulling private keys from my own storage (which I know are correct based on Settings -> Keys) but somehow the recipient's keys user id email is getting mixed into it (my own key gets replaced with theirs, and then email doesn't match)

[code]

The WKD lookup and the private key fetch, and parsing of both, happens at the same time concurrently. So I wonder if the parser giv

[2021-10-30 21:37] tomholub opened #864 "crash when showing request time out"
I was browsing the inbox and moving in/out of messages (I think) when I saw:

<img width="1203" alt="image" src="https://user-images.githubusercontent.com/6306961/139559030-278cb465-0056-43eb-be94-05781e407310.png">

<img width="315" alt="image" src="https://user-images.githubusercontent.com/6306961/139559068-ce07f087-9e56-4ce8-aafa-6fabfa21e558.png">

[2021-10-30 21:40] tomholub commented on #852
I'll do some more debugging, and I may write a concurrent test for the key parser to see if I can catch the problem.

[2021-10-30 22:42] tomholub commented on #852
Confirmed:

[code]

This line: `**"⚙️[KeyService][KeyService] findKeyByUserEmail: PrvKeyInfo from storage has primary fingerprint 1D9AA995F878AB39316A157C84AE4C8A1923A36A vs parsed key 955F0486D70A3FB563302887BB2C18FB6B13EE79 and has emails Optional([\"sosnovsky@flowcrypt.com\"])"**` - the key that comes back from parser is a different key than the one we were parsing.

[2021-10-31 06:34] ivan-ushakov commented on #852
@tomholub
I can take a look

[2021-10-31 08:06] tomholub commented on #852
For now I'm looking into it. It's code I wrote

[2021-10-31 08:09] fcvakintos commented on #803
@tomholub all tests are failing now, please check https://flowcrypt.semaphoreci.com/jobs/e6ded4b7-caf9-410d-8310-d4d52f4cc5f4 and breaking changes are in master now. I don't think it's a good idea to update all dependencies by using bot and what do we solve by updating these libraries?

[2021-10-31 08:13] tomholub commented on #803
The tests passed on each PR that updated a dep, and also each time the change got pushed to master:

<img width="1193" alt="image" src="https://user-images.githubusercontent.com/6306961/139574109-2c0f5e31-acd2-4256-afce-44518904cfa2.png">

The link you linked also passed. What is broken?

[2021-10-31 08:15] fcvakintos commented on #803
@tomholub JOB is passed but each test failed by
[0-0] (node:7527) UnhandledPromiseRejectionWarning: TSError: ⨯ Unable to compile TypeScript:00:11
tests/screenobjects/splash.screen.ts(7,7): error TS2451: Cannot redeclare block-scoped variable 'data_1'.00:11
    at createTSError (/Users/semaphore/git/flowcrypt-ios/appium/node_modules/ts-node/src/index.ts:750:12)00:11
    at reportTSError (/Users/sem

[2021-10-31 08:16] tomholub commented on #803
I see.

[2021-10-31 08:26] tomholub commented on #803
It's unfortunate that appium will pass the tests when there's an error in this situation. They should have failed the tests automatically when they got the promise rejections, or the tests should have failed to build and stop there.

Before we fix the dependency problem, can you look into making sure that the tests run with a `--unhandled-rejections=strict` node flag? Without it, it's inherently u

[2021-10-31 08:41] tomholub commented on #803
Understood your point about auto-updater - if we cannot do it reliably, then we'll disable it. But in that case you'd have to keep the libs up to date manually. It's part of software development to keep your libraries updated, as I said above, to take advantage of bugfixes they merge in. Unless the library is so crappy that it introduces more bugs in each release than they fix. Hopefully appium is

[2021-10-31 11:30] ivan-ushakov commented on #864
Looks like problem happens here:
[code]
because we capture `index` inside closure, but at the moment we run closure it is possible that `messages` was changed and captured `index` is not actual.

[2021-10-31 13:05] #836 closed

[2021-10-31 13:06] #864 closed

[2021-10-31 16:49] ekievsky commented on #819
I don't see that issue. If you entered once a passphrase, its saved.
what I am missing?

[2021-10-31 16:51] ekievsky opened #867 "draft timer is not working as expected"
@tomholub  I have noticed that after moving timer to background it is not working as expected.
better approach needed. I have missed that during initial #514 completion.

[2021-10-31 16:51] ekievsky commented on #867
@tomholub I have already started to work on that because it sounds critical for me. I will try to provide fix ASAP.

[2021-10-31 16:56] tomholub commented on #819
I'm not sure what the detail of the problem was anymore - but I've rewritten it to be more alike to what we do on other platforms, and will retest once I'm done.

[2021-10-31 16:58] tomholub commented on #867
@ekievsky I've refactored the code completely, so you'd run into merge conflicts. If you want to fix this, please make a branch from my branch here: https://github.com/FlowCrypt/flowcrypt-ios/pull/854 and make a PR to merge into my branch. Unfortunately, it doesn't build yet, so that will make it inconvenient for you. Alternatively do something else first, but we'll make sure to still fix this in

[2021-10-31 17:17] ekievsky commented on #867
@tomholub timer is fired only once after latest fix that I pushed ( to make UI not freeze, as far as you remember ). I should test it more properly after thread change, that will be a good lesson.
I am going to find another proper solution and re-test this functionality.

I don't think that there will be much code but if there will - I will make branch from your feature.

[2021-10-31 18:46] sosnovsky commented on #851
I can send both (new emails and replies to you), but when I go to `Sent` section and try to open sent mail - "No matched key found" error appears.
And I can't read our emails with browser extension - I enter the same passphrase as on iOS app, but it doesn't accepted.

[2021-10-31 18:49] tomholub commented on #851
My issue above, as well as your first issue could be related to https://github.com/FlowCrypt/flowcrypt-ios/issues/852

On enterprise installations (like the one on flowcrypt.com, and also some of our customers) the client fetches decrypted private keys from EKM during setup. Then the user chooses their pass phrase and encrypts the received keys locally.

That means you can have a different pass ph

[2021-10-31 19:28] sosnovsky commented on #851
Reinstalling browser extension helped me - now I can read mail there, but still seeing key errors on my older replies from iOS app. But it's probably #852

[2021-10-31 20:47] tomholub opened #868 "ComposeMessageService.getDraft seems to do nothing"
Todo - file an issue to discuss this

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/854#r739864071_

[2021-10-31 20:47] tomholub commented on #868
<img width="949" alt="image" src="https://user-images.githubusercontent.com/6306961/139600752-4bc40e7b-4673-4523-8bb3-7f6e3ba226df.png">

[2021-10-31 21:03] tomholub opened #869 "Core class should be converted to actor"
Since you want to have all `Core` class methods to be synchronised, you could use `actor` keyword. So you can remove queue and `withCheckedThrowingContinuation`

_Originally posted by @ivan-ushakov in https://github.com/FlowCrypt/flowcrypt-ios/pull/854#discussion_r739842544_

[2021-10-31 21:06] ekievsky commented on #868
this was done to be used to fetch draft by me, but after all explorations and investigations looks unneeded so we can remove this code.

[2021-10-31 21:10] ekievsky commented on #867
@tomholub I have found out why its working not like we expect.
[code]

this is how it should looks like to fire all this functions in background thread.
also, UI methods in `prepareSigningKey` that are using alerts should be converted to separated functions with `@MainActor` modifier which will be the same as using main queue for GCD.

it took a while because I am new to await/async.

making PR to

[2021-10-31 21:13] ekievsky commented on #867
also we should obviously remove GCD code in specific layer if we are using async/await.
`startTimer` can easily work in main thread without blocking UI. main point was of `Task {` instead of `Task(priority: .background) {`

[2021-10-31 21:16] tomholub commented on #867
Yes, we're slowly moving in that direction

[2021-10-31 21:16] tomholub commented on #867
how should we move forward?

You should wait until that PR is merged - work on something else. Else it will just conflict. The code is all different now.

[2021-10-31 21:27] ekievsky commented on #867
@tomholub I would like to try to branch from #854 and create a pull request as you proposed above to close this issue.
May I ?

[2021-10-31 21:57] tomholub commented on #867
Sure - please try that

[2021-10-31 22:12] tomholub opened #870 "remove error handlers lists"
This

[code]

and this:

[code]

and this

[code]

Can be all removed as soon as we're done transitioning to async/await.

At that point, we can simply have a convention that whoever created the `Task` will also handle errors on top level.

[code]

Then the inner methods are just async (throwing) methods, that use other async and/or throwing methods and so on, so that even the innermost error gets

[2021-10-31 22:23] tomholub opened #871 "join two filterByPassPhraseMatch methods into one"
Todo for another issue

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/854#discussion_r739863965_

[2021-10-31 22:31] tomholub opened #872 "testDecryptKeyWithWrongPassPhrase should expect a particular error to be thrown"
todo - finish test

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/854#discussion_r739864345_

[code]

Logger to replace with an assert

[2021-11-01 08:14] fcvakintos opened #873 "render recipients instead of sender in list of drafts"
**Steps:**

1. Login as "e2e.enterprise.test@flowcrypt.com"
2. Set compose email with Recipient email('dmitry@flowcrypt.com')
2. Open Drafts screen
3. Observe screen

**Actual:** Recipient email is "e2e.enterprise.test@flowcrypt.com"
**Expected:** Recipient email should be "dmitry@flowcrypt.com"

**Notes:** Incorrect email is displayed opening draft too

https://user-images.githubusercontent.com/9

[2021-11-01 09:00] martgil commented on #850
Additional information was added to the response.

Reference: https://mail.google.com/mail/u/2/#inbox/FMfcgzGlkjTfsTTdCpRkdJsQqVwBrbSC

[2021-11-01 10:31] tomholub commented on #850
While the app remembers the pass phrase for up to 4 hours, iOS may kill the app in between if the app is in background, especially if the system is low on memory or wants to save battery. So when you come back to the app, it may or may not remember depending on the system.

If you close the app and leave the phone alone for an hour, maybe it would remember?

[2021-11-01 10:32] tomholub commented on #873
Thank you - drafts functionality is still rough. This can later turn into a test case 👍

[2021-11-01 12:13] #452 closed

[2021-11-01 12:36] fcvakintos commented on #803
I will take care about updates if needed

[2021-11-01 12:42] tomholub commented on #803
please do. For now, you can make a PR to revert the package json file to previous form. Separately, I'll see if I can make the tests fail when this happens, should be easy.

[2021-11-01 13:15] ekievsky commented on #867
@tomholub I spent some time on your big PR review, it looks like things changes too fast.

right now timer freeze issue is fixed, I believe, by changing threads of underlying functions inside task, but I am not sure. ( too many changes are going on )

I will re-test / re-review on the final version of #854 and close this task, at least to understand what changes I will need to be aware to continue

[2021-11-01 13:19] ivan-ushakov opened #876 "all view controllers with `Task` should have `@MainActor`"
For some reason `@MainActor` does not work as expected in case of `ADK` inheritance. Needs more investigation but for now let's mark `@MainActor` all our view controllers with at least one `Task`

[2021-11-01 13:26] ivan-ushakov opened #877 "separate Realm models and app logic models"
Since we use `async/await` now, it is hard to predict which thread will use `Realm` object and this leads to crashes

[2021-11-01 13:37] tomholub opened #878 "includeAttachments is ignored, atts should not send for drafts"
includeAttachments boolean is ignored but should be used, as far as drafts don't need to save attachments.

_Originally posted by @ekievsky in https://github.com/FlowCrypt/flowcrypt-ios/pull/854#discussion_r740199227_

[2021-11-01 13:40] fcvakintos commented on #803
Let's merge your fix to this branch and test if all good?

[2021-11-01 13:41] tomholub commented on #877
Should realm be made an actor then, which would synchronize it? Or does it have to be strictly one thread for Realm (and can that be achieved with actors?)

[2021-11-01 13:45] ivan-ushakov commented on #877
In Realm is it not possible to pass objects across threads so we have to convert object to app model

[2021-11-01 13:57] tomholub commented on #877
I see.

[2021-11-01 13:58] tomholub opened #879 "Todo - remove `==` overload from PassPhrase"
Todo - remove `==` overload from PassPhrase in another issue

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/854#discussion_r739864198_

[2021-11-01 13:59] tomholub commented on #879
<img width="661" alt="image" src="https://user-images.githubusercontent.com/6306961/139683555-c799b037-c238-4dd5-aaec-e0f3e3cd04d6.png">

[2021-11-01 14:01] tomholub opened #880 "tests that need many cores to reproduce issues - how to run"
Is there a way to run this code on simulator that actually uses many OS threads for the simulator?

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/pull/854#discussion_r739864405_

The test reproduces issues on real device but not simulator.

[2021-11-01 14:01] tomholub commented on #880
<img width="649" alt="image" src="https://user-images.githubusercontent.com/6306961/139683955-c8e57d86-be09-4cfe-a9cd-a1a83858a397.png">

[2021-11-01 20:11] tomholub commented on #849
I think this could have been solved by synchronizing the calls. We'll see.

[2021-11-01 20:13] tomholub opened #884 "crash feedbacks from 2021-10-31 and 2021-11-01"
here user said `When selecting the to: adr from the list` [testflight_feedback-2.zip](https://github.com/FlowCrypt/flowcrypt-ios/files/7455874/testflight_feedback-2.zip)

here without feedback: [testflight_feedback-3.zip](https://github.com/FlowCrypt/flowcrypt-ios/files/7455876/testflight_feedback-3.zip)

[2021-11-01 20:15] tomholub opened #885 "fatal error screen could be adjusted for dark theme"
I know it's a silly issue :-) but it has a black area in a white frame that has white text - it could be improved. Also, the title is not readable due to the white background.

<img width="724" alt="image" src="https://user-images.githubusercontent.com/6306961/139735767-bb5976be-e9ea-4522-ace2-af635a1fa486.png">

[2021-11-01 20:28] tomholub opened #886 "signingPrv should not be an input into validateAndProduceSendableMsg"
[code]

Since the public keys are also retrieved inside, the private key could be handled the same.

[2021-11-01 20:38] tomholub opened #887 "draft wrongly saved before any field is edited"
Drafts should only be saved if the user edited any fields in this session.

can branch from #854 or wait

[2021-11-01 20:38] tomholub commented on #887
[code]

[2021-11-01 21:11] ekievsky commented on #740
@tomholub should it works exactly as compose view controller does?

[2021-11-01 22:01] ekievsky commented on #740
yes, I understand, but taking ComposeViewController to extension leads to chain of files that needed as well, that's why I was asking that question.

anyway, answer received, thank you :)

[2021-11-01 22:03] tomholub commented on #740
Unfortunately I'm not sure I understand the question (or your answer).

Could you explain more? What do you mean by "taking to extension" - what does it mean, what kind of extension?

Or "chain of files" - chain of what files?

[2021-11-01 22:07] ekievsky commented on #740
in this task, we need to add flow crypt app as an option from iOS to share file within our app.

it is developed by adding share extension for iOS app. Share extension, is different target with its own limitations, etc.

we cannot just open ComposeViewController there.
we need:
- add ComposeViewController for that target
- add all files/services that are used by ComposeViewController to that targe

[2021-11-01 22:10] tomholub commented on #740
Thank you for the explanation. This is a much bigger task than I thought.

Unfortunately, since we're composing an email like any other, I think we actually need the whole composeviewcontroller (and its dependencies) in that target.

[2021-11-01 22:13] ekievsky commented on #740
yes, that's why I have started from solving dependencies that we have in our app for share extension.
this will probably not require big code change and I hope that big refactoring PR will be merged soon.

Thank you for clarifications

[2021-11-01 22:26] ekievsky commented on #887
Do we really need to fix this?

Actually, as far as I see, we don't have any error handling for drafts save. It is kinda background work that should just be done, and user cannot do something in case of error.

Also, even if user changes fields ( and they will be dirty ) we will get validation error ( because composed email that we can save should be valid ) during editing.

As for me - removing t

[2021-11-01 22:33] tomholub commented on #887
Not quite.

When I open a reply, a draft gets immeiately saved which is wrong. It should only get saved if I start changing the content.

When I open either compose or reply, I get asked for a pass phrase even though it's not needed yet (I didn't type anything)

[2021-11-01 22:57] ekievsky commented on #887
agree, should be fixed

do you prefer being interrupted in process of typing? I thought it would be much more annoying than initial popup

[2021-11-02 05:26] martgil commented on #850
It lasts for an hour after I close the app (in the background). When I go back to the app, I can still send an encrypted message.

But when I close the app completely, It asks me for the passphrase to enter before composing and sending a new encrypted message.

iPhone SE 2020 - iOS 15.0.2

[2021-11-02 06:34] ivan-ushakov commented on #884
[code]

Should be fixed with PR #854 and `freeze()`

[2021-11-02 07:13] tomholub opened #888 "re-enable drafts + unobtrusive way to request for pass phrase if missing for draft"
see what browser extension is doing: the UI gets changed to request pass phrase in a way that doesn't break user typing. On iOS can say `Draft not saved: enter pass phrase` just below the top green header. When user taps it, they will see pass phrase prompt. Second, if the draft was not saved the whole time and user taps the back icon, they will be prompted for pass phrase before they can leave th

[2021-11-02 07:13] tomholub commented on #887
Good point, see here: https://github.com/FlowCrypt/flowcrypt-ios/issues/888

[2021-11-02 07:16] ivan-ushakov opened #889 "appium: failed to run UI tests locally because of Russian Google interface"
I can not run tests locally because Google web page has Russian interface

![Simulator Screen Shot - appiumTest-9D7CBD23-6790-436E-926D-CA189C5C5DAC-iPhone X - 2021-11-02 at 10 13 54](https://user-images.githubusercontent.com/1408366/139802149-e10c68af-8b03-4715-9042-ccfbfc12a4ac.png)

Looks like Google determine locale somehow

[2021-11-02 07:17] tomholub commented on #850
This is expected behavior - an app in background remembers it up to 4 hours.

A force-quit app will forget it whenever it quit.

[2021-11-02 07:22] tomholub commented on #889
The appium tests normally recognize this and tap change language on the bottom left. Normally, that should be working.

As a work-around, before this gets fixed for you, you can tap change-language and change to us-english while the test is running. That should help the test continue running.

[2021-11-02 07:44] tomholub opened #890 "how to extract app crash logs from simulator with appium test"
getting this on the following PR #854

[code]

The app in the simulator crashes before this happens. What can I do to retrieve the app crash logs?

[2021-11-02 07:46] tomholub opened #891 "view or export general app logs when running appium tests"
We have a logger in the app that probably writes to stdout (or whatever regular logs that get displayed in xcode) as things are happening in the app.

I'd like to access these logs when running a test with appium, as a live feed, or as export, or both.

[2021-11-02 07:51] ivan-ushakov opened #892 "appium: CheckEncryptedEmailAfterRestartApp.spec fails"
[code]

![Simulator Screen Shot - appiumTest-9D7CBD23-6790-436E-926D-CA189C5C5DAC-iPhone X - 2021-11-02 at 10 49 27](https://user-images.githubusercontent.com/1408366/139806641-56af72d7-606e-480d-96ed-5500e0712ccb.png)

[2021-11-02 07:56] ivan-ushakov commented on #892
Maybe I have old .env file because I don't have this:
[code]

[2021-11-02 08:05] ivan-ushakov commented on #892
I tried to add that property to `.env` file but now I get another error:
[code]

[2021-11-02 09:24] fcvakintos commented on #641
@tomholub I started working on this ticket and have a question
In my message with attachment(image) I see only name of image. Is it ok? or I should see image?
And could you provide test steps for this scenario?

<img width="416" alt="Screenshot 2021-11-02 at 11 22 35" src="https://user-images.githubusercontent.com/91205853/139820171-b6a68f2e-2cdd-4b19-b551-0404d1ba876a.png">

[2021-11-02 09:45] tomholub commented on #892
Please remove all non-sensitive values from env file. Then you know for sure.

[2021-11-02 09:46] tomholub commented on #892
Sorry, I thought this was @fcvakintos

[2021-11-02 09:47] tomholub commented on #892
@ivan-ushakov I'll send you my env file

[2021-11-02 10:00] tomholub commented on #641
@fcvakintos could you please, before continuing on this issue, help with:

https://github.com/FlowCrypt/flowcrypt-ios/issues/892 - Ivan is having trouble running test
https://github.com/FlowCrypt/flowcrypt-ios/issues/891 - exporting app logs
https://github.com/FlowCrypt/flowcrypt-ios/issues/890 - getting app crash log
This is all to help us debug what we broke in https://github.com/FlowCrypt/flowc

[2021-11-02 10:04] tomholub commented on #641
In my message with attachment(image) I see only name of image. Is it ok? or I should see image?

How was the message sent? Was it from the iOS app or from the browser extension (chome or firefox)?

Details depend on how was the message structured. What do you see when you open it on browser extension?

1) don't have any pass phrase in memory (for now it's with app restart)
2) open an encrypted mes

[2021-11-02 10:08] fcvakintos commented on #641
@tomholub in chrome I see image

<img width="495" alt="Screenshot 2021-11-02 at 12 07 02" src="https://user-images.githubusercontent.com/91205853/139827010-c578ef51-ba89-4a38-abdb-9f0033bb8253.png">

[2021-11-02 10:10] tomholub commented on #641
Please look into the other issues first

[2021-11-02 10:27] fcvakintos commented on #892
@ivan-ushakov do you need a help from my side?
or issue resolved?

[2021-11-02 10:37] ivan-ushakov commented on #892
Test still failing:
[code]

Output:

[code]

I guess we get `undefined` because `.env` file does not contain this property `email: process.env.SENDER_EMAIL`

[2021-11-02 10:43] ivan-ushakov commented on #892
I just checked and if I add `SENDER_EMAIL` to Tom's `.env` file, I have that test succeed

[2021-11-02 10:44] fcvakintos commented on #892
@ivan-ushakov I will send you file by email

[2021-11-02 10:45] sosnovsky opened #894 "Wrong file size format on Compose screen"
App shows file size in bytes when composing new mail, instead of readable format like `272kb`
It's already fixed for received emails, wrong format is shown only when creating new email.

![Simulator Screen Shot - iPhone 12 - 2021-11-02 at 12 42 01](https://user-images.githubusercontent.com/1062093/139832204-c43218c2-e89f-4296-8f4d-c1c32170bc64.png)

[2021-11-02 10:46] fcvakintos commented on #892
@ivan-ushakov give me your email

[2021-11-02 10:46] fcvakintos commented on #892
@tomholub I propose to send email to all team with new .env file if any updates

[2021-11-02 10:48] fcvakintos commented on #891
@tomholub do you want this file in artifacts after job is finished?

[2021-11-02 10:49] fcvakintos commented on #890
@tomholub the besxt way is to push crash logs to artifacts as for me

[2021-11-02 10:49] ivan-ushakov opened #895 "appium: CheckSettingsForLoggedUser.spec failed"
Output:

[code]

![Simulator Screen Shot - appiumTest-9D7CBD23-6790-436E-926D-CA189C5C5DAC-iPhone X - 2021-11-02 at 13 46 19](https://user-images.githubusercontent.com/1408366/139833033-e5500ef9-6ea7-479e-a2d0-1c586a7f1243.png)

For some reason we can not read keys from storage

[2021-11-02 10:50] fcvakintos commented on #803
@tomholub could you merge it or you already merged with other branch?

[2021-11-02 10:51] ivan-ushakov commented on #892
I guess my `.env` file is fine now, but you are right, we need to have actual `.env` file on local machines

[2021-11-02 11:33] tomholub commented on #891
For later, that would be best. For now, it would be nice just to know how to extract it, let's say when running it locally.

[2021-11-02 11:34] tomholub commented on #890
Great. How about locally?

[2021-11-02 11:34] tomholub commented on #895
Is this on master?

[2021-11-02 11:35] tomholub commented on #803
Yes, I cherry picked the dangling promise commit into the merged branch.

[2021-11-02 11:37] tomholub commented on #892
First and foremost, we need to have all non-secret information NOT in the env file. We can't be expected to keep track of the env file on a dayily/weekly basis. It should only contain secrets that don't change often. Everything else goes in the codebase.

[2021-11-02 11:37] tomholub commented on #892
Does that mean the test runs now on your device?

[2021-11-02 11:41] ivan-ushakov commented on #892
Yes, I can run this test successfully

[2021-11-02 11:42] ivan-ushakov commented on #895
This happens on `issue-852-no-prv-found` branch

[2021-11-02 12:05] tomholub commented on #892
thank you both

[2021-11-02 12:05] #892 closed

[2021-11-02 12:10] tomholub commented on #895
@ivan-ushakov would you want @sosnovsky to debug this further? He has his hands empty now. In fact @sosnovsky I also wanted your review on this PR, it's huge.

[2021-11-02 13:53] tomholub commented on #404
not actionable until big PRs are merged:
 - #854
 - #657

[2021-11-02 13:59] tomholub commented on #530
I've had an observation: it seemed when only one "sensitive" scope is needed, then it will be auto-checked. Eg if only Gmail is requested, then it's checked, if only Contacts are requested, then the same.

I think Google is trying to nudge us to request one at a time. It would be possible, eg Gmail during setup and then Contacts later when searching contacts. That means Contacts would be an option

[2021-11-02 14:05] tomholub commented on #889
@ivan-ushakov have you been able to run them smoothly since? Anything changed?

[2021-11-02 14:09] ivan-ushakov commented on #889
It works fine after your advice

[2021-11-02 14:16] tomholub commented on #889
Do you still have to manually interact with it each time? Or did it start working automatically after that?

[2021-11-02 14:19] ivan-ushakov commented on #889
Yes, now it works automatically. Only first time it requires to manually change language

[2021-11-02 14:32] tomholub commented on #889
I think I encountered the same one time, interestingly. Let's close for now.

[2021-11-02 14:32] #889 closed

[2021-11-02 14:33] fcvakintos commented on #890
@tomholub is it the same task as 891? If yes please close one and leave another

[2021-11-02 14:35] fcvakintos commented on #891
@tomholub please check capability
https://appium.io/docs/en/writing-running-appium/caps/

showIOSLog | Whether to show any logs captured from a device in the appium logs. Default false

[2021-11-02 14:35] fcvakintos commented on #891
is it what we need?

[2021-11-02 15:04] tomholub commented on #890
Sort of. One is for regular logs, and one is for crash stack traces / crash reports. Is it the same?

[2021-11-02 15:06] fcvakintos commented on #890
could we ask devs?

[2021-11-02 15:07] tomholub commented on #891
I think so. Please try turning it to true, and let's see on the CI see how cluttered the output gets (or not). Hopefully it will be not too bad and we could leave it that way.

[2021-11-02 15:08] tomholub commented on #890
@ivan-ushakov on iOS, when the app crashes, is there any information that could be retrieved from the app from some other place than just the log output? Something could import into xcode to investigate the crash?

[2021-11-02 15:36] fcvakintos commented on #891
Checking on ci

[2021-11-02 15:53] fcvakintos commented on #641
@tomholub what about image?
should i see it in email?

[2021-11-02 16:02] tomholub commented on #641
How was the message sent? Was it from the iOS app or from the browser extension (chome or firefox)?

[2021-11-02 16:36] tomholub opened #896 "address PR 852 feedback"
Overall looks good and works smoothly - haven't got any crashes.
Just left some comments about possible code improvements.

_Originally posted by @sosnovsky in https://github.com/FlowCrypt/flowcrypt-ios/pull/854#pullrequestreview-795303282_

[2021-11-02 17:38] fcvakintos commented on #891
https://flowcrypt.semaphoreci.com/artifacts/jobs/a6ee3c24-9e91-41fe-b392-b4f7397495b3?path=tmp
@tomholub please check

[2021-11-02 18:16] tomholub commented on #891
I can't find any of the logs there. Eg when you run the app in simulator in xcode and open it / go to compose message / enter pass phrase, you'll see something like:

[code]

That's what I'd like to get from the appium logs. Especially when things go wrong.

[2021-11-02 18:56] tomholub opened #897 "HIDE_ARMOR_META client configuration support"
https://flowcrypt.com/docs/business/org-rules.html

[2021-11-02 20:13] paragdulam commented on #450
i think this is fixed in the current master branch @tomholub shall we close this issue?

[2021-11-02 20:16] paragdulam commented on #449
![image](https://user-images.githubusercontent.com/307000/139945467-092d393e-80ca-49c7-9616-eff72198a99d.png)

Have we removed the "Use Another Account" button from current master?

[2021-11-02 20:20] paragdulam commented on #448
The status bar is white. We can close this issue @tomholub. your thoughts?

[2021-11-02 20:27] paragdulam commented on #447
I tried reproducing this issue on a very slow internet on my phone expecting to see some UI glitch, may be multiple gmail login modal screens but no such thing happened. Additionally, it shows an alert initially to avoid multiple hits on the button. I think we can close this issue. @tomholub @Kharchevskyi please let me know if I am missing something here.

[2021-11-02 21:01] #605 closed

[2021-11-02 21:17] tomholub commented on #448
Please show a screenshot of what it looks like now.

[2021-11-02 21:19] tomholub commented on #450
Please include a screenshot for us to evaluate if you already have it built and are looking at it - makes it easier to discuss.

[2021-11-02 22:06] sosnovsky commented on #895
I compiled app from the latest code of `issue-852-no-prv-found` branch and this test passes there without any issues

<img width="568" alt="Screenshot 2021-11-03 at 00 04 18" src="https://user-images.githubusercontent.com/1062093/139958238-81c2610b-d45f-4ba2-b783-b45d3fe52970.png">

Maybe it was fixed by today's PR code updates?

[2021-11-02 22:26] #681 closed

[2021-11-02 22:26] #819 closed

[2021-11-02 22:26] #849 closed

[2021-11-02 22:26] #851 closed

[2021-11-02 22:26] #852 closed

[2021-11-02 22:26] #860 closed

[2021-11-02 22:26] #878 closed

[2021-11-02 22:26] #884 closed

[2021-11-02 22:26] #895 closed

[2021-11-03 06:29] fcvakintos commented on #641
@tomholub sorry, it is actual only for simple email, not for encrypted
for encrypted email attachment is displayed

[2021-11-03 07:24] tomholub commented on #895
Yes - Ivan ended up fixing it yesterday in the same PR.

[2021-11-03 07:25] tomholub commented on #641
I see. The original email had an inline image, which is not supported in the iOS app yet.

[2021-11-03 07:27] fcvakintos commented on #641
ok, got it

[2021-11-03 08:14] fcvakintos commented on #641
@tomholub is it correct the pop opens when I tap only on download button from attachment (not on attachment name)?
<img width="421" alt="Screenshot 2021-11-03 at 10 12 42" src="https://user-images.githubusercontent.com/91205853/140027317-297885c2-44e2-4b80-92e9-c0d39f9cdf5e.png">

[2021-11-03 08:22] tomholub commented on #641
With current implementation yes, but you're right it should be improved. Well noticed! I'll file an issue.

[2021-11-03 08:22] tomholub opened #899 "should be able to tap anywhere on attachment card to download it"
the pop opens when I tap only on download button from attachment (not on attachment name). Could be improved.

<img width="421" alt="Screenshot 2021-11-03 at 10 12 42" src="https://user-images.githubusercontent.com/91205853/140027317-297885c2-44e2-4b80-92e9-c0d39f9cdf5e.png">

_Originally posted by @fcvakintos in https://github.com/FlowCrypt/flowcrypt-ios/issues/641#issuecomment-958731011_

[2021-11-03 08:23] fcvakintos commented on #641
ok, thanks)

[2021-11-03 09:37] tomholub commented on #414
Ignoring the more complex part of this issue, in Swift how does one do an if-else statement that uses the build type (or bundle id) for decisions?

[2021-11-03 09:41] tomholub opened #900 "forwarding email functionality"
the iOS app has a reply button but is missing a forward button

for now skip attachments - don't include them when forwarding

[2021-11-03 09:41] tomholub commented on #900
If you have extra time before I assign more, can look into attachments too

[2021-11-03 09:42] tomholub commented on #900
Follow browser extension functionality when possible for the format of the reply message

[2021-11-03 10:12] fcvakintos commented on #803
@tomholub we can close this ticket?

[2021-11-03 10:35] fcvakintos commented on #641
@tomholub should the file format be displayed? because in download pop-up the .png is not displayed.
And what is attachment type should I user for this? .png - is it ok?
<img width="408" alt="Screenshot 2021-11-03 at 12 31 33" src="https://user-images.githubusercontent.com/91205853/140045339-c03a0aec-4263-4c9a-a90e-2fa069659050.png">
<img width="399" alt="Screenshot 2021-11-03 at 12 31 26" src="ht

[2021-11-03 11:24] tomholub commented on #803
no - the dependencies have not been updated to latest yet. Can you do it?

[2021-11-03 11:24] tomholub commented on #641
yes, can use png for the test

[2021-11-03 11:25] tomholub commented on #641
Agree that it would be better if the app could show the attachment name too - I'll file a ticket

[2021-11-03 11:26] tomholub opened #901 "show attachment name extension when downloading - popup"
The name of the image was `image.png` but the popup only shows `image`. Could it show `image.png` ?

<img width="408" alt="Screenshot 2021-11-03 at 12 31 33" src="https://user-images.githubusercontent.com/91205853/140045339-c03a0aec-4263-4c9a-a90e-2fa069659050.png">

[2021-11-03 11:28] tomholub opened #902 "preview (or directly open) attachments instead of downloading"
would it be difficult / possible to view attachments, if some app allows to open it, instead of downloading it first?

[2021-11-03 11:31] tomholub commented on #900
I'll file another issue for including attachments in the forwarded message

[2021-11-03 11:32] tomholub opened #903 "include attachments in forwarded message"
after #900

I'll file another issue for including attachments in the forwarded message

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/900#issuecomment-958945135_

[2021-11-03 11:46] tomholub commented on #530
@sosnovsky please later try adjusting the code to not request both Gmail & Contacts at the same time.

Request Gmail (plus other small permissions) during setup.

Then request Contacts when I tap into the recipients field and don't have contacts scope yet.

Doing it this way, it should resolve the unchecked checkboxes issue.

[2021-11-03 11:49] tomholub commented on #867
can retest now

[2021-11-03 11:55] tomholub commented on #879
Please let me know if you think it's ok as it is or if you also find it confusing that == on pass phrase doesn't compare the pass phrase string but compares the fingerprints of associated key.

[2021-11-03 11:58] tomholub commented on #870
Probably best done after #404

[2021-11-03 12:53] tomholub commented on #278
Here, before loading the message, we'd pull public keys from local contacts that are recorded for the email that we received the message from (the sender email). Then offer these to the verification method as possible public keys it was signed with, into `Core.parseDecryptMsg`.

Then render the result, similar to what browser does.

[2021-11-03 13:36] ivan-ushakov commented on #880
@tomholub
You did it right and test helped me to catch concurrency bug

[2021-11-03 13:38] tomholub commented on #880
But did you run it on real iPhone or on your mac/simulator?

[2021-11-03 13:41] ivan-ushakov commented on #880
On simulator

[2021-11-03 13:58] tomholub commented on #880
My mac has only two cores - `1.2 GHz Dual-Core Intel Core m3`, and doesn't reproduce such problem when I run it. I've added updated comment in PR review.

[2021-11-03 13:58] #880 closed

[2021-11-03 15:03] sosnovsky commented on #879
@tomholub It depends on how we should check uniqueness of passphrase - currently it's needed when user passphrases are stored as `Set` in memory https://github.com/FlowCrypt/flowcrypt-ios/blob/master/FlowCrypt/Functionality/Services/Local%20Private%20Key%20Services/InMemoryPassPhraseStorage.swift#L77

If we should differentiate passphrases by primary fingerprint - then it's okay to leave code as i

[2021-11-03 15:33] tomholub commented on #879
I see - it's used for the Set. I guess then it's ok since it saves a bunch of code, even though I find it somewhat confusing.

[2021-11-03 15:39] #783 closed

[2021-11-03 15:58] tomholub commented on #278
As an overview, there can be three states that you get back:
 - valid signature - `Signed by \(signingPubkey.primaryUserIdEmail)`
 - invalid signature or expired public key or something like that `Bad signature - cannot trust authenticity of this message`
 - missing public key - `Signature not verified because key $longid is unknown`

I don't know where to render it. Maybe above the message. It ha

[2021-11-03 18:52] ekievsky commented on #902
is it same as #436 ?

[2021-11-03 19:14] paragdulam commented on #448
![image](https://user-images.githubusercontent.com/307000/140177248-e3700e33-1821-42f2-bcea-1970cde45d5b.png)

[2021-11-03 19:16] ekievsky commented on #867
tested on latest master, working fine for me.

@tomholub would you like to check as well, or I can close this issue?

[2021-11-03 19:25] ekievsky commented on #887
cool. so @tomholub this issue stays for:

correct?

[2021-11-03 19:35] paragdulam commented on #450
![image](https://user-images.githubusercontent.com/307000/140180299-bc40af7b-f2fb-4e14-a175-4468c1c54c72.png)

[2021-11-03 19:36] #869 closed

[2021-11-03 19:38] tomholub commented on #902
This one is for opening messages from inbox. That one is for the compose screen.

[2021-11-03 19:39] tomholub commented on #448
looks good

[2021-11-03 19:39] #448 closed

[2021-11-03 19:40] tomholub commented on #867
closing, thanks

[2021-11-03 19:40] #867 closed

[2021-11-03 19:40] tomholub commented on #887
yup

[2021-11-03 19:41] tomholub commented on #450
all good, thanks

[2021-11-03 19:49] #868 closed

[2021-11-03 20:17] paragdulam commented on #457
![Simulator Screen Shot - iPad (9th generation) - 2021-11-04 at 01 45 52](https://user-images.githubusercontent.com/307000/140186055-1610623e-2d12-4f81-9578-a92e14a70d3b.png)

Are we thinking of implementing a UISplitViewController like UI/UX on ipad here?

[2021-11-03 21:57] ekievsky commented on #740
While working on sharing frameworks for share extension ( which I am working on in scope of current task )
I am stuck with problem:

After adding `GoogleAPIClientForRest_Gmail` to `Frameworks & Libraries` of share extension, I am getting error:
`could not build Objective-C module 'GoogleAPIClientForREST'`.

- I am not getting this kind of error for other frameworks ( example: `MBProgressHUD` )

re

[2021-11-03 23:03] tomholub commented on #457
For now, for simplicity, I'd like mobile and ipad app have the same/similar layout.

If we can a lot of interest from ipad users, we'll consider layout changes for them.

[2021-11-03 23:13] tomholub commented on #606
closing, #657 is last remaining issue

[2021-11-03 23:13] #606 closed

[2021-11-04 07:37] ivan-ushakov commented on #890
Yes, if simulator crashed with app, you could find crashlog in special place:
[code]

[2021-11-04 07:50] fcvakintos commented on #641
@tomholub did you create ticket for attachment name?^

[2021-11-04 08:05] tomholub commented on #641
here https://github.com/FlowCrypt/flowcrypt-ios/issues/901

[2021-11-04 08:21] tomholub opened #907 "IMAP/SMTP retry & logging, Gmail"
If you remove or significantly change functionality from the app, don't do it silently, there needs to be a discussion about that.

Logging is significant, and so is access token renewal.

I don't know if Gmail API will do this automatically or not, maybe yes. But token renewal on IMAP/SMTP will break without this.

Of course retry and access token renewal mechanism can be implemented in async/awa